[2017-01-29 16:45] szczepiq opened #1 "incrementVersion API does not bump version correctly when blank line is missing"
When version declared in the version file does not end with blank line the version bumping fails.

Example usage of "incrementVersion" API in *.gradle file:
[code]

Example version file:
[code]

See the [original ticket](https://github.com/mockito/mockito/issues/915) in Mockito project.

[2017-01-30 21:55] #1 closed

[2017-02-03 04:42] szczepiq opened #3 "Concise and readable release notes format"
## Problem

Originally copied from Mockito [issue 700](https://github.com/mockito/mockito/issues/700). Current [release notes](https://github.com/mockito/mockito/blob/release/2.x/doc/release-notes/official.md) are not concise enough for rapid release model and hence the are hard to reason about. In short term we will make the release notes more concise. In the long term we need some kind of servic

[2017-02-03 04:47] szczepiq opened #4 "Release notes indicate target repository"
Release notes need to indicate the target repository where the artifacts were published. This way, we can support Mockito Continuous Delivery Pipeline 2.0 (https://github.com/mockito/mockito/issues/911).

Example links:
 - Bintray repository: https://bintray.com/mockito/maven/mockito/2.7.1
 - Maven central: http://repo1.maven.org/maven2/org/mockito/mockito-core/2.7.1/
 - Search in Central (there i

[2017-02-05 01:46] szczepiq opened #7 "Setup Travis CI for release-tools"
Currently Travis CI is not enabled for mockito-release-tools repo. We don't have validation of master branch and pull requests. It would be great to configure Travis CI in similar way as core Mockito library is supported.

[2017-02-11 05:00] szczepiq opened #8 "Restructure the project to produce separate libraries"
It would be useful to produce separate Java libraries from mockito-release-tools. Example submodules:
- org.mockito:mockito-release-tools-git
- org.mockito:mockito-release-tools-github
- org.mockito:mockito-release-notes-generator
- org.mockito:mockito-release-notes-gradle-plugin
- org.mockito:mockito-continuous-delivery-gradle-plugin

This way it is easier to manage the code, ensure the right arc

[2017-02-12 07:20] szczepiq opened #9 "Separate concise release notes file"
### Problem

Current release notes contain too much detail (full explanation: https://github.com/mockito/mockito/issues/941). This is also important for Continuous Delivery Pipeline 2.0 (https://github.com/mockito/mockito/issues/911) because the release notes need to discriminate between notable and minor releases.

Ideal solution would be a service that shows release notes between arbitrary versi

[2017-02-17 23:11] szczepiq opened #12 "Show GitHub profile link of every contributor in the release notes"
Current [release notes](https://github.com/mockito/mockito/blob/release/2.x/doc/release-notes/official.md) list the authors which is great because it motivates to contribute! However, the author is listed by name, without the link to GitHub profile. The profile would be useful for more exposure / fame for the contributors.

Last time I worked on it, there was no way to link user to GitHub profile.

[2017-02-18 17:26] mstachniuk commented on #12
I think it's better to search by login, NOT by e-mail. Search by e-mail doesn't work if you change **Public e-mail** to "Don't show my e-mail address" in Github settings page. I think this is better way: https://api.github.com/search/users?q=TimvdLippe&in=login

[2017-02-18 21:33] mstachniuk commented on #12
I looked into the code and GitHub API a little bit. Generating notes has 2 sources of true:

1. `git log` for read commits and
2. GitHub API `/issues` for read info about solved issues.

In first case we can read user git name and e-mail and from second source we can read GitHub login (`user.login`) and GitHub user URL (`user. html_url`). We can use this data to link to user profile in release not

[2017-02-18 21:48] szczepiq commented on #12
Hey! Long time no hear :)

When the release automation is getting git log, we don't have access to the GitHub login (we have Git user name and email). Some users might have the same GitHub login as Git user name but it's unlikely. Hence, search by email is probably the best given circumstances.

Do you want to help out with the implementation? When you clone and open the project in IDEA, run "GitH

[2017-02-18 21:51] szczepiq commented on #12
If you like to party, try to implement this interface :). To get started, run "GitHubTicketFetcherTest" test.

[code]

[2017-02-18 22:27] mstachniuk commented on #12
You're welcome!

As I said in my first comment, searching by e-mail will usually not work, try this: https://api.github.com/search/users?q=szczepiq@gmail.com&in=email (I found your e-mail using GH API, you can delete this comment if you don't like to publish it ;) ).

Unfortunately this is a gap in GH API that we can't easy link commit author with GH page author. I see a few solutions.

Solution 1

[2017-02-19 03:28] szczepiq commented on #12
Thank you for researching!

4) is impractical, 2) will not match accurately (user assigned / changing issue not necessarily is the implementor)

How about using search API, e.g. searching for commits: https://developer.github.com/v3/search/#search-commits

[2017-02-19 21:27] mstachniuk commented on #12
The search API is in developers preview and it's hard to reduce results to reasonable size.
A little bit better looks commit API: https://developer.github.com/v3/repos/commits/#list-commits-on-a-repository
e.g.:
https://api.github.com/repos/mockito/mockito/commits

It's also hard to limit results, but reading sha of commits from `git log` can help us to match authors with GitHub profile pages. I c

[2017-02-26 01:27] szczepiq opened #15 "Enable end-to-end release notes generation for testing"
External contributors don't know how to end-to-end test the release notes generation. See this excellent pull request:  #12 (the user is asking how to make e2e test). Without this, it is hard to approve and merge PRs with confidence.

At very least we need a clear documentation how to do that with Mockito. Ideally, we have a test bed project for that on GitHub.

[2017-02-26 14:12] szczepiq opened #16 "Undesired transitive dependency via json simple"
### Problem

Artifact created by mockito-release-tools pulls in "junit" transitive dependency. When release plugin is used here is the build environment (Gradle buildscript classpath):

[code]

We don't want junit to be on client classpath when release plugin is used because it is a test dependency and should not be littering the build classpath.

### Root cause

json-simple library pulls is junit

[2017-02-26 16:58] szczepiq commented on #15
Opened PR to mockito repository: https://github.com/mockito/mockito/pull/968

[2017-02-26 17:09] mstachniuk commented on #15
One example e2e test is enough. A big documentation how to do it, it's not necessary.

[2017-03-03 06:32] #15 closed

[2017-03-03 06:39] szczepiq opened #19 "End-to-end testing for mockito release tools"
### Problem

We cannot use mockito project for testing the release tools. This is too risky and may cause undesired mockito versions to be published to the community.

### Plan

Let's create a sample project in the "Mockito" organization in GitHub. This sample project will be using mockito-release tools. Goals:
- convenient testing of new features / changes to the release tools
- create another cl

[2017-03-03 06:42] szczepiq opened #20 "Prepare org.mockito.release-notes Gradle plugin"
Subtask of #19.

Currently, the "org.mockito.release-notes" plugin is not usable outside of Mockito project.

- [x] Document org.mockito.release-notes Gradle plugin and the extension
- [x] Convert the groovy plugin to java
- [x] Decouple auth token from Mockito
- [x] #26, Make the target repository for querying issues configurable (currently hardcoded to Mockito)

[2017-03-05 14:17] szczepiq opened #21 "Make Mockito Release Tools a popular continuous delivery library"
## Imagine

Imagine the world where you call pull in a new version of some Open Source library and not worry if it breaks compatibility. Imagine that you can submit a pull request to some project, have it reviewed timely, and have the new version with your fix available to you in minutes after your PR is merged. Imagine that for any dependency you consider upgrading, you can view its neatly and co

[2017-03-05 14:31] szczepiq opened #22 "Enable consistent code style validation"
To keep the code clean and also to maximize the value of the code review, let's make the tools validate consistent code style for us.

- [x] enable Gradle Checkstyle plugin and make the build fail on coding style issues
- [x] enable Gradle Codenarc plugin, fail on issues
- [x] clean up the codebase and submit PR
- [ ] ensure it is enabled for test code (see https://github.com/mockito/shipkit/issue

[2017-03-05 15:05] szczepiq opened #23 "Document design principles"
Let's document the design and implementation principles, and guidelines. Examples:
 - why we're implementing Gradle plugins in Java
 - public VS internal API separation
 - semantic versioning

[2017-03-05 15:51] szczepiq opened #25 "Communicate the goals for mockito release tools"
Let's communicate with the world about the goals of Mockito release tools (#21). An article or publication on the matter (Mockito blog, LinkedIn publishing platform, twitter).

[2017-03-07 05:11] szczepiq opened #26 "Make target GitHub repository for querying issues configurable"
Currently GitHub repo for querying issues is hardcoded in org.mockito.release.notes.improvements.GitHubTicketFetcher.GitHubIssues This is a showstopper for making the release tools useful in other projects.

[2017-03-09 16:22] #26 closed

[2017-03-10 03:40] szczepiq commented on #20
The plugin does not yet have comprehensive documentation but we can add it later. The plugin is currently used by mockito-release-tools-example project so let's close the ticket.

[2017-03-10 03:40] #20 closed

[2017-03-10 04:53] szczepiq opened #29 "Create version management plugin"
To automate the release we need to to manage the version of the project (version bumps, updating the "version.properties" file, etc.).

Currently, version bumping is implemented with "versionFile" extension. Ideally, there is a plugin that contains this functionality.

[2017-03-15 15:56] szczepiq commented on #12
Great work @mstachniuk, we're about to use it in Mockito: https://github.com/mockito/mockito/pull/987

THANKS!!!

[2017-03-15 15:56] #12 closed

[2017-03-18 14:17] szczepiq opened #36 "Automatically include contributors in pom.xml file"
## Use case

In order to reward contributors and further motivate for more high quality contributions it would be great to list contributors in the [relevant section of pom.xml](http://maven.apache.org/pom.html#Contributors) file. As of 3/18/17 generation of pom.xml logic is a part of Mockito project automation and it is not generic enough to be part of mockito release tools.

## Design

This idea

[2017-03-19 16:40] mstachniuk commented on #36
I think it can be done without any pom.xml template - it will be hard to keep template and pom.xml in sync. I will look more deeply on it in April.

[2017-03-21 01:31] szczepiq opened #39 "Create generic way of including prefix for standard output emitted from forked processes"
Currently when we fork processes during the release the output looks like this ([full log](https://travis-ci.org/mockito/mockito-release-tools-example)):

[code]

- We should prefix the standard output from processes that we fork from the build. This way, it should be easier to investigate problems in Travis CI log.
- We should also provide custom exception message when forked process fails. The m

[2017-03-22 05:21] szczepiq opened #40 "Create plugin for customization of pom.xml file"
The continuous delivery plugin needs to configure the pom file with sensible defaults, like:
 - SCM link
 - name and description
 - issues link
 - web site link
 - developers
 - contributors

Suggested name for new plugin: "org.mockito.mockito-release-tools.pom"

[Example pom.xml customization](https://github.com/mockito/mockito/blob/release/2.x/gradle/pom.gradle) from Mockito project itself. The

[2017-03-23 04:18] szczepiq opened #43 "Improve testing of the code that interacts with GitHub"
Let's improve testing of the code that interacts with GitHub so that we have decent coverage for this critical functionality.

- Currently we have 2 integration tests that hit GitHub API. Both tests are ignored (search in codebase for @Ignore flag). We should make those tests use example repo instead of real mockito repo and enable the tests.
- We can also create a test that mocks GitHub API, chec

[2017-03-23 05:21] szczepiq commented on #40
Completed.

[2017-03-23 05:21] #40 closed

[2017-03-23 05:23] szczepiq commented on #36
I've created initial pom plugin. Added a TODO to the code with [some examples](https://github.com/mockito/mockito-release-tools/blob/master/src/main/groovy/org/mockito/release/internal/gradle/pom/DefaultPomPlugin.java#L17) how to approach the problem :)

[2017-03-23 06:41] szczepiq commented on #29
Completed.

[2017-03-23 06:41] #29 closed

[2017-03-26 15:17] szczepiq commented on #9
Initial support will be rolled out with #47. I'm closing this ticket. Some tweaks or changes to concise release notes generation will happen but there is no point to keep this particular ticket open.

[2017-03-26 15:17] #9 closed

[2017-03-26 15:17] szczepiq commented on #16
Thank you for the fix!

[2017-03-26 15:17] #16 closed

[2017-03-26 15:18] szczepiq commented on #7
This has been implemented!

[2017-03-26 15:18] #7 closed

[2017-03-27 01:18] szczepiq opened #49 "Automatic release to notable repository"
## Goal

Mockito Continuous Delivery Pipeline 2.0 (https://github.com/mockito/mockito/issues/911) requires implementation of a "notable" release and "regular" release.

## Use cases

1. Automatically publish to notable release repo and update concise release notes file when:
 - we are building minor or major version e.g. "x.0.0" or "x.y.0", for example: 1.0.0, 3.5.0
 - or "[notable release]" is fo

[2017-03-31 16:46] szczepiq opened #54 "Make updateNotableReleaseNotes task incremental"
In order to make the local builds faster (and testing faster!) let's make updateNotableReleaseNotes task incremental (NotableReleaseNotesGeneratorTask).

### Suggested design

NotableReleaseNotesGeneratorTask class currently fetches release notes data from git / GitHub every time it runs. Instead, let's split the logic into discrete steps to and leverage incremental build. The first step of Notabl

[2017-04-02 07:33] mstachniuk opened #57 "Ignore defined users in release notes and contributors list in pom.xml"
Sometimes it's needed to ignore some users in release notes and in contributors list in pom.xml. It can be e.g. a technical account like continuous-delivery-drone in Mockito project. The scope of this task is to add a possibility to ignore defined users in release notes and contributors list in pom.xml.

[2017-04-02 11:28] mstachniuk commented on #36
Design question
I fought about how to solve this problem. `GitHubContributorsProvider.mapContributorsToGitHubUser(...)` always ask only for contributors between two commits (usually last released version and HEAD). My first idea was to call this method inside `PomCustomizer.customizePom(...)`, but then only last contributors will be added to the pom.xml (and hardcoded in `gradle/release.gradle`).

[2017-04-03 00:23] szczepiq commented on #36
Let's optimize for:
 - least amount of requests to GitHub
 - minimum overhead to the build time

We have a couple of options:
 - we just maintain the mapping in a file, it would be manually maintained
 - we add a discrete step (task) that gets the data before we update pom (this is what you're suggesting, right?)
 - do some smart caching if possible, commits pushed to main dev branches don't chang

[2017-04-03 05:43] szczepiq opened #58 "Speed up generation of notable release notes"
I've ported current version of release tools to Mockito, PR is open: https://github.com/mockito/mockito/pull/1018 I noticed that the release is slow due to getting contributors from GitHub. When I commented out the code that gets the contributor/GH id mapping the build takes 10secs instead of over a minute.

Suggested plan:
- [x] - disable getting contributors from the notable release notes (notab

[2017-04-03 15:51] szczepiq opened #60 "Using release tools from JDK6 on Travis produces sun.security.validator.ValidatorException"
I'm having problems using release tools in Mockito project. Mockito release build uses JDK6. Stack trace ([full log](https://travis-ci.org/mockito/mockito/jobs/217950291#L262)):

[code]

Currently considered solution: avoid building on Java6, use animal sniffer to detect Java6 incompatibilities (https://github.com/mockito/mockito/pull/1021)

Useful resources:
 - http://stackoverflow.com/questions/

[2017-04-03 17:03] mstachniuk commented on #58
Logs from this build are unavailable due to Travis Database outage. You can follow a status here: https://www.traviscistatus.com/incidents/93wfcv0ksqrz

[2017-04-03 17:10] mstachniuk opened #61 "Support for GitHub Enterprise"
### Problem

Currently mockito-release-tools works only with github.com. A path to it is hardcoded in the code :(. This project needs to works with [GitHub Enterprise API](https://developer.github.com/v3/enterprise/) otherwise it cannot be used in enterprise setting. A property to configure GitHub Enterprise needs to optional and by default it should works with github.com.

### Suggested implement

[2017-04-03 17:16] mstachniuk opened #62 "Information about Shipkit in release notes file"
### Introduction

The success of the project depends on popularity. We want to gamify continuous delivery, promote frequent releases and release automation goodness. Let's use [real estate available in the release notes](https://github.com/mockito/mockito/blob/release/2.x/doc/release-notes/official.md) file to promote the project and get more folks aware of what we're doing and why.

### Suggested

[2017-04-03 19:18] mstachniuk commented on #58
@szczepiq  I tried to check locally whats happens. Running `./gradlew updateNotableReleaseNotes` on `sf` branch I got an error: `fatal: ambiguous argument 'v2.7.0': unknown revision or path not in the working tree.`
I checked and this tag doesn't exist in Mockito repo.

Regarding long gets contributors from GH, are you sure is it slow? I checked locally `previewReleaseNotes` for revisions: v2.3.11

[2017-04-05 14:09] szczepiq commented on #58
Let's move on for now. When I have a chance I will supply more information :) For now the immediate problem is resolved. Once I ship release tools to Mockito, it should be easier to reproduce.

[2017-04-05 14:11] szczepiq commented on #62
Really cool idea. I like the gamification part of it :)

[2017-04-05 14:13] szczepiq commented on #57
Seems useful!

I suggest to keep low priority on this on for now. We definitely should automatically exclude the generic use that the release tools use. I haven't got a use case yet to support other 'excluded' contributors, but yeah, maybe it is useful long term :)

[2017-04-09 04:31] szczepiq opened #64 "Create initial contributing guide"
Let's create initial contributing guide and incrementally build it when giving code reviews.

Mockito's contributing guide: https://github.com/mockito/mockito/blob/release/2.x/.github/CONTRIBUTING.md

[2017-04-10 23:49] szczepiq opened #67 "New notable version by commit message keyword"
As discussed in the design of Continuous Delivery Pipeline 2.0, we would like to ship a new notable version when special keyword is used in the commit message: "[ci notable release]". The rationale is included in https://github.com/mockito/mockito/issues/911.

### Implementation hints

In the source code we already check for presence of "ci skip-release" keyword to skip the release of new version.

[2017-04-12 02:35] szczepiq commented on #60
We stopped building on Java 6. We're using animal sniffer Gradle plugin to validate Java6 compatibility.

[2017-04-12 02:35] #60 closed

[2017-04-12 02:36] szczepiq commented on #49
Implemented!

[2017-04-12 02:36] #49 closed

[2017-04-12 02:45] szczepiq opened #70 "Applying the plugin on project without 'version.properties' file yields stack trace"
Applying one of our plugins, "org.mockito.mockito-release-tools.versioning" or "org.mockito.mockito-release-tools.continuous-delivery" plugin in a project that does not have 'version.properties' file yields nasty stack trace. We need to handle this use case gracefully. Example solutions:

- fail with decent exception telling the user what to do
- generate the file for the user and log information

[2017-04-12 05:17] szczepiq opened #71 "fetchNotableReleaseNotes fails ungracefully when incorrect tag is supplied"
fetchNotableReleaseNotes task fails with below stack trace when one of the input tags is missing. Let's have more graceful handling of this scenario, the exception message should indicate a potential problem and suggest a resolution.

Stack trace:

[code]

[2017-04-12 05:17] szczepiq commented on #71
@wwilk, something you can take look?

[2017-04-12 07:11] mstachniuk commented on #71
This tag is missing in Mockito project, but it's in version.properties

12 kwi 2017 7:17 AM "Szczepan Faber" <notifications@github.com> napisał(a):

[2017-04-12 07:46] szczepiq opened #73 "Notable release notes not generated for Mockito"
Notable release notes were not generated in Mockito release build: https://travis-ci.org/mockito/mockito/jobs/221223473#L793

[2017-04-17 14:18] TimvdLippe opened #75 "Automatically update releases on GitHub"
GitHub has nice releases (https://github.com/mockito/mockito/releases), but we are not using them right now. It would be great if the changelog can be published there. The corresponding endpoint is https://developer.github.com/v3/repos/releases/#create-a-release

It would also be nice if "notable versions" would be released as a full release, while all other versions are released as pre-release (s

[2017-04-17 14:43] szpak commented on #75
I've been using [Chandler](https://github.com/mattbrictson/chandler) for a CHANGELOG.md file synchronization and it works fine (maybe except for https://github.com/mattbrictson/chandler/issues/33). Alternatively the mentioned API can be used directly to do not use a Ruby application.

[2017-04-17 16:10] szczepiq commented on #75
Great idea! Thank you for submitting!!!

[2017-04-17 16:12] szczepiq opened #76 "New extension object for configuring the plugins"
Let's start using an extension object to configure the plugins. This is more idiomatic approach used by Gradle plugins and we should adhere to standards as much as possible. Here's how the configuration would look in Mockito. Please give feedback:

[code]

[2017-04-17 21:00] mstachniuk commented on #76
It looks better then current configuration.
For me `git.user` and `git.email` might be confused for what it is.
Maybe instead of `library` it should be `general` or `info` or `extras`?
What about bintray/maven upload repo settings?

[2017-04-17 23:08] szpak commented on #76
I also found it handy to use one extension (usually with multiple other classes used under the hood to map subclosures (`github`, `releaseNotes`) to keep code in a good shape), however there could be two topics to address:
1. (mentioned already by @mstachniuk) - a configuration of 3rd party plugins applied by `mockito-release-tools`. I found it somehow problematic to provide my own configuration (

[2017-04-20 05:54] szczepiq commented on #76
Fantastic feedback, thanks a lot guys!!!

I was hoping that the setting value clear up what the methods are :) We could call them: git.genericUser / git.automaticUser / git.releaseAutomationUser / git.toolingUser. If there are no other votes, I'll rename it to 'genericUser' and 'genericEmail'.

I'd rather avoid wrapping over the original Bintray extension. It will be awkward to maintain and proble

[2017-04-20 05:57] szczepiq commented on #76
@szpak

Yes, it will be possible, you can do:

[code]

Alternatively, you can just use the custom tasks and not apply any plugin. We will have all task neatly documented and part of the public API.

In general, we would really like to work with your use case to make the tools generic enough to handle neatly!

[2017-04-20 06:00] szczepiq commented on #76
Started making progress on this at #77

[2017-04-20 12:00] mstachniuk commented on #76
`git.user` and `git.email` properties are used by Continuous Integration server / Travis-CI to make git operations. Maybe we should wrap it in `ci`, `ciServer`, `buildServer`, or change `git` to `ciGit`, `gitOnCi` `gitOnBuildServer` or similar?
I think this settings should be optional, because on some CI servers (e.g. internal in house) it can be preconfigured.

[2017-04-20 14:06] szczepiq commented on #76
Good idea. I will add "minimum" extension and "full" extension so that folks can see the difference.

[2017-04-21 12:11] szpak commented on #76
@szczepiq Regarding my concerns related to a big extension I was worrying that using only `release-notes` will not be possible due to a lack of other classes. However, I forgot that they are sill in one big jar (will one on a claspath) and I just limit an apply operation, so it should be fine.

[2017-04-21 16:48] szczepiq commented on #76
Ok. They are a part of single jar now. There is no big reason to split them at the moment. It will happen at some point I think if users find the subcomponents useful on its own. We should have some driving use cases then. Perhaps some use cases from you!

[2017-04-21 20:42] szczepiq opened #79 "Make notable releasing optional"
TBD.

[2017-04-22 14:46] szczepiq commented on #76
Merged.

[2017-04-22 14:46] #76 closed

[2017-04-23 12:39] wwilk commented on #54
The main part of the task (making updateNotableReleaseNotes incremental) is done, so I'm closing the task and moving improvements in serialization (JSON instead of Java serialization) to a new issue.

[2017-04-23 12:39] #54 closed

[2017-04-23 13:40] szczepiq commented on #71
@wwilk, is this completed? Can you close if you believe it's don? Thank you! :)

[2017-04-23 14:20] szczepiq commented on #22
@epeee, can we close this ticket after your PR was merged (see the checklist :)?

Thank you for contribution!!!

[2017-04-23 14:35] szczepiq opened #84 "Avoid publishing new version if nothing has changed"
## Problem

Publishing new version when it is binary equal to the previous version is confusing for the clients. At the moment we don't check if new version is different than the current release. If someone makes a change in .gitignore it can trigger build and potentially a publication.

## Suggested implementation

Only a suggested plan, please execute as you see fit!

### Robustness of the algor

[2017-04-23 14:42] szczepiq opened #85 "Automated e2e integration tests with example projects"
### Problem

When working on release tools I constantly build the sample project with new version of tools. It would be great to streamline this so that when we run "build" in the release tools project we have confidence that stuff works.

### Suggested implementation

We could have some tasks in release tools that clone the listed example projects and run 'testRelease' against them with the lates

[2017-04-23 14:43] szczepiq commented on #85
@mstachniuk, how does this one sound? Check out the "future" section, this feature can turn out into something huge!!!

[2017-04-23 14:48] szczepiq commented on #61
@mstachniuk, can you confirm suggested implementation above?

[2017-04-23 16:14] szczepiq opened #87 "Release tools project dogfoods versioning plugin"
### Problem

Release tools project currently defines its version in root "build.gradle" file and it is problematic because:
 - it is not bumped automatically with the release
 - it triggers merge conflicts in "build.gradle" file instead of merge conflicts in a simpler 'version.properties' file.

### Suggested implementation

1. Have the release tools project consume the 'org.mockito.release-tools.

[2017-04-23 16:15] szczepiq commented on #87
@wwilk, do you want to take a stab at it? It's related to the version fix you've done earlier and might be good to get you immersed in the project more!

[2017-04-23 17:27] wwilk commented on #71
Yes, it's completed. Closing it!

[2017-04-23 17:27] #71 closed

[2017-04-23 17:28] wwilk commented on #87
Sure! I will work on it soon.

[2017-04-23 17:39] mstachniuk commented on #61
I suggest to add 2 options to the configuration:
[code]

The first one to the API endpoint for generation API requests and second one for generating links for  developers in pom (see: PomCustomizer.groovy)

[2017-04-23 17:47] mstachniuk commented on #85
It sounds great! It's a huge. Let's maybe starts from something simpler.
New successful release of mockito-release-tools automatically bump version of tool in mockito-release-tools-example, make some small change and release it! @szczepiq What do you think?

[2017-04-23 19:27] szpak commented on #85
I've [implemented](https://github.com/Codearte/gradle-nexus-staging-plugin/issues/40) automated E2E smoke testing in my [gradle-nexus-staging-plugin](https://github.com/Codearte/gradle-nexus-staging-plugin) and I feel much more relaxed releasing the new versions. Having those testing automated is crucial to provide reliable Continuous Delivery.

[2017-04-23 19:27] szpak commented on #85
@szczepiq Again, we share a vision of the future of CD :)

[2017-04-23 20:32] epeee commented on #22
@szczepiq yes, I think so.

You're welcome!

[2017-04-23 20:36] szczepiq commented on #61
Nice proposal! I updated "api" -> "apiUrl". Let's make sure they are defaulted so that we don't have to configure it for typical OS builds.

[2017-04-23 20:41] szczepiq commented on #22
Closing with pleasure :) BTW. do you have a twitter handle?

[2017-04-23 20:47] szczepiq commented on #85
@szpak, we share the vision, now it's time to start working together :) Join us and we'll be unstoppable! 4 of us cranking great release automation toolkit!!!

https://github.com/Codearte/gradle-nexus-staging-plugin is a great plugin. We could merge our efforts :)

[2017-04-23 20:48] szczepiq commented on #85
New successful release of mockito-release-tools automatically bump version of tool in mockito-release-tools-example, make some small change and release it! @szczepiq What do you think?

Sounds great! We'll have more example projects, for different use cases (for example: minimal configuration, based on defaults VS full configuration; with notable releases VS without notable releases; with bintray

[2017-04-23 20:49] szczepiq commented on #85
@mstachniuk, assigned to you, feel free to unassign if you choose to work on something else.

[2017-04-23 22:16] wwilk opened #91 "Use JSON serialization/deserialization in ReleaseNotesSerializer"
We want to use JSON format instead of Java serialization one for storing release notes. It would be probably best to use json-simple for this, since it's already a dependency.

[2017-04-24 13:47] szczepiq opened #92 "Configurable commit message used by release tools automation"
### Problem

The message used when release automation commits code [is hardcoded](https://github.com/mockito/mockito-release-tools/blob/master/src/main/groovy/org/mockito/release/internal/gradle/GitPlugin.java#L147) in the plugin implementation. In Mockito project, we have a use case where we want to run the build even for the automated version bumps. We want to do it to work around the issue with

[2017-04-24 18:08] epeee commented on #22
@szczepiq no twitter handle (yet).

[2017-04-24 19:20] #70 closed

[2017-04-24 19:20] wwilk commented on #70
Done

[2017-04-25 21:48] wwilk commented on #84
@szczepiq
1. Should we start with configuration for Bintray and later add one for other repositories? I thought about closure that you would pass in configuration of task, that would return artifact URL based on a few parameters - version, group, name, suffix (eg. .pom or -sources.jar).

2. Currently BaseJavaLibraryPlugin doesn't depend on VersioningPlugin, the problem with that is that we need to

[2017-04-26 17:21] #36 closed

[2017-04-27 06:28] szczepiq commented on #92
Thank you very much @epeee for implementation and pull request!

[2017-04-27 06:28] #92 closed

[2017-04-27 13:55] szczepiq commented on #84
- it's best if feature works out of the box for the core use case (mockito, our example projects)
- for other types of projects, let's make things configurable so that the feature is useful. We can get there iteratively, no necessarily we need to bake one PR to rule them all :)

Great catch, I missed that in the design spec. How about we apply similar patter to VersioningPlugin as we do for the Re

[2017-04-28 01:02] szczepiq commented on #85
I updated the description with a suggested solution.

[2017-04-29 17:18] szczepiq opened #101 "Simplify configuration - get rid of "releasing.build.branch""
### Problem

We should be able to to simplify release configuration and get rid of "releasing.build.branch" completely:

[code]

It is super annoying that I have to configure TRAVIS_BRANCH env variable even for local testing or releasing from local (I'm not Travis!). Fixing it will make the tools easier to use today, and easier to integrate with other tools in the future.

### Workflow

1. travisR

[2017-04-29 17:21] szczepiq commented on #101
@epeee, this is related to your previous neat work, making the release configuration even simpler. Do you want to take a stab at it? :)

[2017-04-29 19:30] epeee commented on #101
@szczepiq yes, I will do so tomorrow.

[2017-04-30 04:22] szczepiq commented on #91
I removed the please contribute label for now if that's ok =). I completely agree that the feature needs to be implemented, though! I penned down the [criteria for "please contribute!"](https://github.com/mockito/mockito-release-tools/blob/master/README.md#getting-contributions) label in the README.md.

[2017-05-02 01:16] szczepiq opened #105 "Automatic API compatibility validation"
## Problem

Producers and consumers of software libraries don’t have an easy life. As a consumer of a library I don’t know if new version of the library brings API incompatibilities until I try to use it and it blows up, hopefully during compilation or testing, and not on production! As a producer of a library I can unintentionally sneak in API incompatibilities, unless I am very careful and/or gr

[2017-05-03 15:58] szczepiq commented on #87
Fiendly ping :) It bothers me that we always have to remember to bump the version of tools when publishing :/

[2017-05-06 01:43] #101 closed

[2017-05-06 04:50] szczepiq commented on #25
Done :) I published [an article on LinkedIn](https://www.linkedin.com/pulse/simple-practical-continuous-delivery-software-libraries-faber).

[2017-05-06 04:50] #25 closed

[2017-05-06 06:17] szczepiq opened #113 "Build time A/B testing support"
### Use case

Run build once, make some change, run build again, then compare build results. Sounds familiar? For certain kinds of changes, doing such A/B testing is super useful. Example use cases:

- bumping version of a dependency and validating if the project still works ok (#85). Bumped version can be of some compile dependency but also of a built-time dependency such as the version of a some

[2017-05-06 06:28] szczepiq commented on #113
@epeee, is this something you want to take a look? :) It's a very useful feature, not tangled with the internals of the project, and offers interesting challenge for you!

[2017-05-06 06:51] szczepiq commented on #87
I'm thinking that we should make the plunge and start dogfooding release notes generation in this project, too. Let's rock! What do you think? Or perhaps new plugin like "GradlePluginReleasingPlugin"? :D

[2017-05-06 14:50] mockitoguy opened #116 "Shipkit 1.0"
The purpose of this ticket is to flesh out what else is needed to release 1.0.

Everything below is negotiable. Feel free to add things. Instead of removing, use ~~strike through~~.

- Mockito build on latest Shipkit
  - [x] - automated publication to Maven Central enabled
  - [x] - notable/detailed release notes tidy up - #157
  - [x] - contributors fetching from @mstachniuk feature in (some work

[2017-05-06 14:52] szczepiq commented on #19
We implemented most of that and the rest is covered by other tickets. Let's move on.

[2017-05-06 14:52] #19 closed

[2017-05-06 14:53] szczepiq commented on #4
This has been implemented!

[2017-05-06 14:53] #4 closed

[2017-05-06 15:01] szczepiq opened #117 "Release notes use visual badge for downloads"
### Goal

When release notes are cleaner and prettier they manifest more credibility and can attract more adopters of our tools. We need lots of users to succeed!

### Implementation

Currently, the [release notes](https://github.com/mockito/mockito/blob/release/2.x/doc/release-notes/official.md) have bare link to the publication repository. It would be great if it had a download badge just like w

[2017-05-06 15:02] szczepiq commented on #8
Deprioritized for now.

[2017-05-06 15:02] #8 closed

[2017-05-06 15:03] szczepiq commented on #39
We stopped forking Gradle processes from Gradle. Not relevant any more.

[2017-05-06 15:03] #39 closed

[2017-05-06 15:04] szczepiq commented on #73
I suspect this can be closed.

[2017-05-06 15:04] #73 closed

[2017-05-07 04:26] szczepiq opened #120 "Simplify getting contributors information"
### Problem

Now we have 2 ways of getting contributors and it adds some complexity to the code. During the build we use both ways of getting contributors information, wrapped in separate Gradle tasks. Let's have one robust service for getting contributors and one Gradle task

### Workflow

1. First, we hit repo/contributors endpoint and get all of the guys (https://developer.github.com/v3/repos/#

[2017-05-07 07:27] epeee commented on #113
@szczepiq yes, I will take a look at this one. sounds really useful, great idea!

[2017-05-07 14:59] szczepiq commented on #113
@epeee, that's great! This is a big ticket, if you have any design / thoughts before / during implementation, let us know. THANKS!

[2017-05-07 19:57] wwilk opened #125 "ReleaseConfiguration automatically loaded from conventional .gradle file"
Currently there are some moments at the configuration part of the build, when ReleaseConfiguration properties values are default or null, even though user overrides them in one of the .gradle files. It depends on when exactly this file is applied. It shouldn't be like that - we should be always sure that at each moment only the value provided by the user is used.

As discussed on Slack with @szcze

[2017-05-08 21:45] #84 closed

[2017-05-10 18:19] wwilk commented on #87
Sure, we can do that!

[2017-05-11 14:58] NagRock opened #139 "Running example tasks"
Hi, I have problem with running any of example tasks from readme.

I've cloned mockito-release-tools-examples

`run './gradlew testRelease'` - resulting with: `Missing 'bintray.key' value. Please configure Bintray extension or export 'BINTRAY_API_KEY' env variable.`

`run './gradlew testNotableRelease'` - resulting with: `Task 'testNotableRelease' not found in root project 'example-release'.`

`ru

[2017-05-11 15:07] mstachniuk commented on #139
Check our example project: https://github.com/mockito/mockito-release-tools-example

We are working on better documentation, but the code first:-)

[2017-05-11 15:10] NagRock commented on #139
I've run all described task on this project.

[2017-05-11 15:11] mstachniuk commented on #139
Ohh ok I see now you are using this project already. We are working on fixing problems... Maybe could you help us?

[2017-05-11 15:12] NagRock commented on #139
I want to but without working any example task I can't even try to start :)

[2017-05-11 16:17] szczepiq commented on #139
Hej @NagRock, welcome!!!

Sorry for the hiccups, we are not 1.0 yet ;)

To get you started with, this should work in the example project:

[code]

Thank you for reporting this! We surely need clear instructions in the readme how to get started with the sample project.

[2017-05-12 11:47] NagRock commented on #139
Ok the problem is with `build/release-tools/all-contributors.json` file. It does not exists on my build directory. I see that it should be created by `ContributorsPlugin` but when I run `./gradlew fetchAllContributors` I'm just getting info that this task is skipped:
`:fetchAllContributors SKIPPED`

When I created `all-contributors.json` file manually with empty array `previewReleaseNotes` task wo

[2017-05-12 12:43] NagRock commented on #139
Oh now I read https://github.com/mockito/mockito-release-tools/issues/120 and all is clear.

[2017-05-12 13:03] szczepiq commented on #139
Looks like a bug. Looks like my bug! :) That's not how it supposed to work. It should be seamless, as described in #120. I suspect that the task is skipped because the [contributors list](https://github.com/mockito/mockito-release-tools-example/blob/master/gradle/release.gradle#L23) is supplied by the user. However, some other task further down the chain forcefully attempts to deserialize the file

[2017-05-12 14:40] NagRock commented on #91
Don't you think that `Serializer` class should not write serialized data to file? In my opinion `Serializer` class should only return `JSONString` and some `FileWriter` could be used to store serialized data into file.
Why? Because now we can't reuse `AllContributorsSerializer` to implement `ReleaseNotesSerializer` as `ContributionSet` is part of `ReleaseNotesData`.

[2017-05-12 14:43] NagRock commented on #139
Yes, I'm trying to "get into code" currently, but don't know if I got enough skills for so serious project :)

[2017-05-12 15:48] szczepiq commented on #139
Great! We need help to push the project to 1.0 and then, to conquer the world! 🗡 When I have some time I will give some pointers on what gaps we currently have that you could try to tackle :)

[2017-05-13 08:00] szczepiq commented on #117
@NagRock, want to take a stab at it? Bigger features await... :)

[2017-05-13 08:01] szczepiq commented on #113
@epeee, do you think you will be able to work on this feature? No pressure - just asking!

[2017-05-13 08:32] epeee commented on #113
@szczepiq yes, I will be able to work on this one (already started working on it). Sadly, I was more busy than usual during the last days.

[2017-05-13 08:35] NagRock commented on #91
@szczepiq it's not done yet. I just made a little part. Think that You should reopen it and I can finish this task completely. Just want to know if this is good way before doing all things.

[2017-05-13 13:16] NagRock commented on #117
@szczepiq Ok, but first I will finish `serializers` and probably will have some questions before I will start with this issue. But you can assign me :)

[2017-05-13 23:39] szczepiq commented on #113
Thank you for confirmation! This makes it easier to plan our roadmap :)

[2017-05-13 23:55] #120 closed

[2017-05-14 01:54] szczepiq opened #143 "Release needed is always false because we cannot correctly identify branch"
Mockito build cannot publish at the moment because release needed is always false. From the [build log](https://travis-ci.org/mockito/mockito-release-tools-example/builds/229781873#L333):

[code]

Note that the task has identified the current branch as 'HEAD'. It should identify it as "master" or something like that.

I'm working on a resolution right now.

[2017-05-14 17:33] szczepiq opened #145 "performing release does not push version bumps"
Currently "gitAddBumpVersion" task is executed after "gitPush" task which makes the release process ineffective. Let's fix the issue and also think about long term strategy with "git add" style of tasks. Instead of "git add" we can simply provide paths to "git commit" tasks. This way we simplify the release workflow and there is no need for 'git add' tasks.

[2017-05-15 01:37] #145 closed

[2017-05-15 01:37] #143 closed

[2017-05-15 01:50] szczepiq opened #147 "Some contributor links are missing in Mockito release notes"
Some contributor links are missing in recent [Mockito release notes](https://github.com/mockito/mockito/blob/release/2.x/doc/release-notes/official.md). Copy paste from notes, Christian Schwarz and Serge Bishyr link is missing:

**2.8.29** - [7 commits](https://github.com/mockito/mockito/compare/v2.8.28...v2.8.29) by [Szczepan Faber](http://github.com/szczepiq) (5), Christian Schwarz (1), Serge Bi

[2017-05-15 02:06] szczepiq opened #148 "Bootstrap project to demonstrate and learn Shipkit"
## Idea

We need an dead simple way of demonstrating and experimenting with with Shipkit. Use cases:
 - adoption, getting more users - the easier it is to try out Shipkit the better chance we attract users
 - demos, conferences - if we can set up a new project and configure continuous delivery pipeline in short time (<1 minute) it would should be pretty awe-inspiring :)

## Use scenarios

- I have

[2017-05-15 02:12] szczepiq opened #149 "Configure git push task to run as late as possible"
## Problem

The release automation pipeline contains multiple tasks, most of them are reversible and will not be problematic if the pipeline fails half way through. However, there are 2 tasks that are hard to reverse and not quite possible to make them atomic:
 - "git push" - pushing release notes and version bump commits to the repo
 - "bintray upload" - uploading binaries to Bintray

## Solution

[2017-05-15 15:23] NagRock commented on #91
Hi again, I want to ask if there is any reason why we using JSON simple library instead of Jackson or something else?
We got to manually format object to strings with this lib, and deserialization of complex structures with collections is getting really complicated.

[2017-05-15 16:01] szczepiq commented on #91
Hey! Nice catch! Please suggest an alternative library. You can kick off the discussion here, on our slack or on the mailing list.

One of our goals is to keep the dependencies of library as narrow and as simple as possible to avoid pushing down version conflicts onto our clients (e.g. the cost of reuse...). I suspect that we didn't choose some other library for those reasons :)

[2017-05-15 16:22] NagRock commented on #91
I think that Jacskon is a really good option. We can use `ObjectMapper` to convert to JSON and back to Java object with given class:
[code]

And back to Java object:

[code]

Without any casting as in `simple JSON` or reading field by field. `Simple JSON` returns `JsonObject`, `JsonArray` etc. instead of typed object and we got to do many things manually. I think its good lib for small project whe

[2017-05-15 17:20] mstachniuk commented on #91
Dependencies of Jackson:

[code]

Dependencies of json-simple:

[code]

I don't have strong preferences but with Jackson the life is simpler :) We need only remember to use `2.6.6 (05-Apr-2016)` version for Java 1.6 compatibility: https://github.com/FasterXML/jackson-databind/blob/master/release-notes/VERSION

[2017-05-15 17:31] NagRock commented on #91
@szczepiq whats your opinion? Should I move to Jackson within this issue and replace Simple Json in app?

[2017-05-15 17:37] wwilk commented on #91
We had this discussion about a month ago, and decided against any reflection-based library. One reason is that most of them are much heavier, not only due to transitive dependencies but also the size of libraries themselves (jackson-databind 1.2 MB vs json-simple 17 KB). I'm not sure if that will matter in the long run, but for now we don't have much dependencies and it would be good to keep it th

[2017-05-15 17:42] NagRock commented on #91
So you suggest to continue working on this with json simple? Im ok with that but it is a little bit tedious work.

[2017-05-16 14:01] szczepiq commented on #147
I was thinking about options to solve the contributors problem. I think it's very useful to get it right because it will pave the way how we will solve similar changes when we grow the plugins. Here are our options (there could be even more, but I think the list is pretty much complete). The options are written using Gradle jargon and with my own mental shortcuts - pardon me if this is hard to gro

[2017-05-17 03:12] szczepiq opened #153 "Rename packages, plugins and classes to shipkit"
Since we plan to start talking about Shipkit at conferences, it's time to update the code. Since we need to update packages, it's better if we do it quickly and in one session. Otherwise merging will be quite a hell :) Any volunteers to take that on?

Objects to rename:
 - plugins
 - classes
 - packages
 - API elements like 'releasing' -> 'shipkit'

Once this is done I will rename GitHub repositor

[2017-05-17 03:34] mockitoguy opened #154 "Release to Maven Central under org.shipkit group"
Due to access to accounts and passwords, this feature needs to be implemented by core team member.

### Problem

We should ship shipkit to maven central in addition to Gradle Plugin portal because:
 - it works well for credibility, discoverability (maven central is considered source of truth)
 - we can build reusable plugin that helps other Gradle plugins that want to use Shipkit to publish to mav

[2017-05-18 03:08] szczepiq opened #155 "Commit skipping logic is hardcoded and yields subtle bugs in release notes content"
## Problem

For generating release notes with number of commits and contributors, we skip "automated" commits. It is an important feature because the number of commits is off if we consider commits made by release automation. The automated skip message is configurable by the user and Mockito project [uses it](https://github.com/mockito/mockito/blob/release/2.x/gradle/root/release.gradle#L30). Howe

[2017-05-18 07:24] NagRock commented on #91
Ok, now it can be closed.

[2017-05-18 13:49] szczepiq opened #156 "Bump tools in Mockito project - avoid releasing versions if nothing changed"
Let's bump the version of tools in Mockito project so that we can take advantage of avoiding publications from @wwilk! Mockito just released new version ([build](https://travis-ci.org/mockito/mockito/jobs/233634562), [release notes](https://github.com/mockito/mockito/blob/release/2.x/doc/release-notes/official.md)) but publications haven't really changed ;) If someone submits PR to Mockito project

[2017-05-18 14:12] wwilk commented on #156
Sure! I will do that, probably tomorrow :)

[2017-05-19 13:57] szczepiq commented on #155
@NagRock, do you want to take a stab at it? :)

[2017-05-19 15:35] szczepiq opened #157 "Discontinue notable release notes file"
### Problem

Maintaining notable release notes file is problematic (the logic becomes complicated). From the user standpoint, browsing 2 separate files is also not ideal.

### Plan

- [x] - Remove notable release notes generation logic for now
- [x] - Manually update Mockito's release notes so that [release notes](https://github.com/mockito/mockito/blob/release/2.x/doc/release-notes/official.md) a

[2017-05-19 18:29] NagRock commented on #155
Yea! You can assign me

[2017-05-19 18:49] #91 closed

[2017-05-20 05:21] szczepiq commented on #23
In progress

[2017-05-20 05:21] #23 closed

[2017-05-23 16:34] szczepiq commented on #67
Since the notable release concept has been discontinued for now (#157) this feature is no longer relevant.

[2017-05-23 16:34] #67 closed

[2017-05-23 16:37] szczepiq commented on #113
@epeee, I totally understand it's hard to find time for OSS at times! Do you mind if we hand this epic over to a different contributor? You can reengage whenever you have availability, just let us know and we will reorganize the team :)

[2017-05-24 06:17] epeee commented on #113
@szczepiq sorry for the delay. What about reassigning it if I'm not able to come up with a solution on Fr (it looks like I will have some time to work on this one tomorrow)?

[2017-05-24 19:28] #155 closed

[2017-05-25 04:12] szczepiq commented on #139
I will close this for now. Contributing file explains how to do testing!

[2017-05-25 04:12] #139 closed

[2017-05-25 04:13] szczepiq commented on #113
Sounds good!

[2017-05-25 04:34] szczepiq opened #171 "Date placement in release notes"
Currently the date is presented in following way in the release notes ([full example](https://github.com/mockito/mockito/blob/release/2.x/doc/release-notes/official.md)):

**2.8.31** - [1 commit](https://github.com/mockito/mockito/compare/v2.8.30...v2.8.31) by [Rafael Winterhalter](http://github.com/raphw) - *2017-05-22* - published to [maven/mockito-development](https://bintray.com/mockito/maven/

[2017-05-25 16:21] szczepiq opened #172 "Rename configuration extension 'releasing' -> 'shipkit'"
### Problem & plan

In order to fully embrace the new name of the project, we need to rename 'releasing' -> 'shipkit'. Steps:
 - [x] - update code and tests
 - [x] - submit pull request to mockito-release-tools-example
 - [x] - submit pull request to mockito

### Details

Current API: the release is configured via 'releasing' extension in shipkit.gradle file:

[code]

Expected API: the Gradle DSL

[2017-05-25 21:28] wwilk commented on #125
Done already :)

[2017-05-25 21:28] #125 closed

[2017-05-25 21:42] mstachniuk commented on #85
Current status:
Check my changes on `ms` branch feel free to continue if you wish.

For now `E2ETestingPlugin` makes a few things:
* clone mockito-release-tools-example to `mockito-release-tools-example-pristine`
* clone from `*-pristine` dir to `*-work` dir
* execute `./gradlew publishToMavenLocal testRelease ...` in `*-work` dir

For testing purposes you need to apply E2E plugin in `*.gradle` fi

[2017-05-26 04:01] #149 closed

[2017-05-26 06:20] epeee commented on #113
a quick update: I made quite some progress yesterday on the `compareAB` task and it looks like I will be able to push a very first version of it today.
`cloneGitHubRepository`, `runA` and `runB` tasks are already available in the abTesting branch.

[2017-05-26 19:54] epeee commented on #113
I just pushed the `compareAB` task including serialization. Tests are still missing but I will work on them now.
Apart from that the only part which is missing now is the analyze part. It would be great if we could have some kind of discussion/brainstorming about how the analyze result could look like (in order to not go into a wrong direction).

[2017-05-26 20:17] #87 closed

[2017-05-27 04:48] szczepiq opened #178 "Clean up public and internal API package distinction"
### Problem

We need clean separation of public and internal API for Shipkit 1.0. We need smaller public API because it helps us develop new API carefully while keeping compatibility.

### Suggested plan

Current package structure:

[code]

Desired package structure - for 1.0 we will only expose Gradle tasks as public types and Gradle extensions. Everything else will be internal because we want to

[2017-05-27 05:05] epeee commented on #178
I can work on this one once the ABTesting topic is finished.
Finally, I do have more time for OSS again.

[2017-05-27 05:15] szczepiq opened #179 "Clean up shipkit Gradle plugin names"
Before 1.0 release we need to clean up Gradle plugin names and some behavior, too. See [Shipkit Gradle Plugin Reference](https://github.com/mockito/mockito-release-tools/wiki/Shipkit-Gradle-Plugin-Reference).

### Java plugin clean up

- [ ] - rename "org.mockito.release-tools.continuous-delivery" -> "org.shipkit.java"
- [x] - rename "org.mockito.release-tools.java-library" -> "org.shipkit.java-li

[2017-05-27 05:29] szczepiq opened #180 "Regression with 'git.commitMessagePostfix' setting"
Recent Mockito release ignored 'git.commitMessagePostfix' setting from 'shipkit.gradle' file. It looks like some regression.

Please contribute! If the issue is not clear, please comment and ask :)

### Bug description

- commit that was automatically generated in Mockito: https://github.com/mockito/mockito/commit/c810d324a87d977ca47cc5ea49c1e9704d312fab
- ["shipkit.gradle"](https://github.com/moc

[2017-05-27 05:57] szczepiq opened #182 "bintrayUpload runs before gitPush"
With latest version of release tools, Mockito runs bintrayUpload before git push. Ideally all hard-to-reverse operations run as late as possible. Dry run of Mockito release yields  order of tasks:

[code]

[2017-05-27 06:13] szczepiq commented on #79
No longer relevant after removing the concept of notable release notes #157

[2017-05-27 06:13] #79 closed

[2017-05-27 06:14] szczepiq commented on #64
Done.

[2017-05-27 06:14] #64 closed

[2017-05-27 06:14] #58 closed

[2017-05-27 06:15] szczepiq commented on #3
Fixed.

[2017-05-27 06:15] #3 closed

[2017-05-28 15:25] szczepiq opened #184 "Missing contributors in the release notes file"
In recent release of Mockito, @epeee was not automatically included in the release notes and I had to manually update the release notes file ([see commit](https://github.com/mockito/mockito/commit/f719356a63a5d9b5920e0308756149880131512b)).

### Steps to reproduce

I haven't tested those steps so pardon if something does not work :)

- clone Mockito repo
- bump tools to latest version (hopefully e

[2017-05-28 15:25] szczepiq commented on #184
@epeee, is this something you want to look at? :)

[2017-05-28 16:06] epeee commented on #184
@szczepiq yes, I will do so.

[2017-05-29 00:05] szczepiq commented on #153
@NagRock, assigned to you based on our recent chat :)

[2017-05-29 06:21] mstachniuk commented on #179
ad. 3. Is it safe? What if in some library one subproject is native C++ project?

[2017-05-29 06:31] mstachniuk commented on #184
It was solved before by https://github.com/mockito/mockito-release-tools/pull/168 but not merged yet :-(

[2017-05-29 14:10] NagRock commented on #117
Bintray badge added in https://github.com/mockito/mockito-release-tools/pull/176

[2017-05-29 14:10] #117 closed

[2017-05-29 14:24] #184 closed

[2017-05-29 16:24] szczepiq commented on #171
@epeee, what do you think about this ticket? It's not a bit time investment but it would help you get into the project!

[2017-05-29 20:08] epeee commented on #171
@szczepiq sounds good.

[2017-05-29 21:15] epeee commented on #178
I can start working on this one tomorrow if that's ok for you.

[2017-05-29 22:04] NagRock commented on #178
@szczepiq I think this issue will be partly invalid when https://github.com/mockito/mockito-release-tools/pull/188 will be merged?

[2017-05-30 04:44] epeee commented on #178
@NagRock thx for pointing that out, although the 2nd point is still valid.

[2017-05-30 06:08] szczepiq commented on #172
I think that @NagRock has implemented most of that already, so I'm assigning the ticket :)

[2017-05-30 06:09] szczepiq commented on #178
That's correct! Thank you for working on this. It's nice to see that we're making progress on cleaning up the public api and renames.

[2017-05-30 06:10] szczepiq commented on #178
Accidentally closed :)

[2017-05-30 14:03] szczepiq opened #190 "Emphasize version in release notes"
### Use case

Shipkit vision is to guide software community towards continuous delivery (shipping every version to production). Mockito project does not quite fit this vision because based on community feedback, only some versions of Mockito are released to Maven Central. Shipkit is flexible enough to support this use case and it needs more work to support it even better.

This feature is marked w

[2017-05-30 16:44] NagRock commented on #179
ad. 2. already done in https://github.com/mockito/mockito-release-tools/pull/188

[2017-05-30 16:51] #171 closed

[2017-05-31 03:13] #178 closed

[2017-05-31 03:29] szczepiq commented on #153
I merged the PRs - thank you! There are some code occurances of [mockito-release-tools](https://github.com/mockito/mockito-release-tools/search?utf8=✓&q=mockito-release-tools&type=) and [release-tools](https://github.com/mockito/mockito-release-tools/search?utf8=✓&q=release-tools&type=). Let me know if you can address those, too. We probably need to change the repository name, too. Can you check i

[2017-05-31 10:48] NagRock commented on #172
https://github.com/mockito/mockito-release-tools-example/pull/42
https://github.com/mockito/mockito/pull/1104

[2017-06-01 16:18] szczepiq opened #194 "Robust, flexible release notes generation"
### Why?

Release notes generation is one of the highlight features of Shipkit. This ticket describes steps we can take to make release notes more robust and flexible. If you decide to implement one of the steps, please create separate ticket for it, we only have ticket for the first step (#190).

### How?

1. In order to make the notes more readable, sometimes we need to emphasize the version so

[2017-06-01 17:57] #179 closed

[2017-06-01 21:52] wwilk commented on #190
In the scope of this issue how do you want to format this emphasized version? It's not a problem to make it bigger in .md file but what about these JCenter/Maven central links? Can it be Bintray for now (exactly as for a regular version) or should I add these links too?

[2017-06-02 04:40] mstachniuk commented on #190
@wwilk Getting information about release to Maven Central can be tricky because separate plugin does it. I suggest to create a separate ticket for that.

[2017-06-02 13:31] #172 closed

[2017-06-02 14:22] szczepiq commented on #190
+1, let's keep the two functionalities separate.

My initial idea on how to solve the Maven central links / different visual shield was to offer a way to template the release header information. Release header is a first line of the release note information that contains version, date, etc. How do you guys think we should solve it? We could also model this explicitly and just provide a "downloadBa

[2017-06-02 21:20] wwilk opened #196 "Default value for gitHub.repository property based on origin remote url"
Command "git remote get-url origin" can be used for setting default value of gitHub.repository property. In case this git call fails sensible default like "mockito/mockito-release-tools-example" should be set instead.

[2017-06-04 09:07] wwilk opened #200 "Make applying java-library plugin conditional on a property"
Currently we apply java-library on each subproject with java plugin already applied. It should be possible to disable this mechanism. As suggested by @szczepiq we can add a property "shipkit.releaseAllJavaModules" to ReleaseConfiguration. By default this property should be true and in this case java-library would be applied automatically.

[2017-06-04 13:53] epeee opened #201 "Expose “version” and “tagPrefix” as task properties"
### Why?
Currently, the task which generates the release notes does not declare `version` and `tagPrefix` as input. Therefore it can be harder to use for advanced use cases.
### How?
 - expose “version” and “tagPrefix” properties as task properties marked with `@input`
 - configure default values via release notes plugin.

[2017-06-04 14:01] #182 closed

[2017-06-04 14:36] szczepiq commented on #200
Thank you for creating the ticket! We can polish it a bit and mark with 'please-contribute'.

[2017-06-04 14:37] szczepiq commented on #201
Perfect. Thank you for creating the ticket with clean description!

[2017-06-05 18:31] wwilk opened #205 "Combine updateReleaseNotes and previewReleaseNotes into one task with parameter"
The release generation task is implemented as a pair of tasks: preview task and separate update task. This approach makes the tasks hard to reuse. If someone wants to declare or reconfigure release notes generation at the task level, he needs to do it twice. You can see this problem in #190 - “emphasizeVersion” property needs to configured twice. To solve the problem, we can create single implemen

[2017-06-05 18:43] #196 closed

[2017-06-06 02:09] mockitoguy opened #209 "Make assertReleaseNeeded task more informative"
### Problem

Currently, assertReleaseNeeded task produces following, not very informative message to the end user ([Travis CI log](https://travis-ci.org/mockito/mockito/jobs/239468959#L513)):

[code]

### Use cases

We have following use cases:

1. Quickly understand why release is not needed, when reasons are obvious (like we are building a pull request)
2. Fully understand why release is not nee

[2017-06-06 05:18] #201 closed

[2017-06-06 17:14] #200 closed

[2017-06-07 13:22] mstachniuk commented on #147
Close by https://github.com/mockito/shipkit/pull/167

[2017-06-07 13:22] #147 closed

[2017-06-08 13:15] NagRock commented on #209
When release is not needed, we want to see all possible reasons with `false` status or maybe only real reasons? For example: `Release is not needed at this time, the build will fail preventing the release because 'SKIP_RELEASE' environment variable is set`?

[2017-06-08 15:58] szczepiq commented on #209
@NagRock, good question! Thank you for signing up for this improvement!

I'm about to merge a nice PR from @wwilk: #199, take a look in the description of that PR the current output of release needed task (it is related). The goal is to make it clean and easy to read. It will not only help with debugging but also build credibility of Shipkit - people evaluate the quality of tools by the quality of

[2017-06-08 17:33] #180 closed

[2017-06-09 08:28] NagRock commented on #209
Thanks, it's clear now.

[2017-06-10 12:24] #153 closed

[2017-06-10 18:38] szczepiq commented on #157
Completed!

[2017-06-10 18:38] #157 closed

[2017-06-10 18:40] szczepiq commented on #116
@wwilk, does Mockito build leverage the publication avoidance feature? It's one of the checkboxes on the list ;)

[2017-06-10 18:46] szczepiq opened #221 "Avoid git reset --hard when cleaning up commits"
### Problem

Currently we issue ["git reset --hard"](https://github.com/mockito/shipkit/blob/3f90104d0740604cfbcd318896fe6f2908b94747/src/main/groovy/org/shipkit/internal/gradle/GitPlugin.java#L116) to clean up commits. This is pretty brutal and may potentially cause losing commits.

### Suggested solution

Instead of single invocation of "git reset --hard", we can issue 2 git commands:

[code]

1

[2017-06-10 18:51] szczepiq opened #222 "Automated Java6 compatibility validation"
### Problem

At the moment Shipkit is compatible with Java6 and we want 1.0 to be runnable on Java6. To ensure that we meet this requirement we should add validation for it.

### Suggested solution

- add matrix build in Travis configuration and also run build on Java6
- use animal sniffer, in similar way Mockito does it

Using Java6 for builds on Travis CI is problematic. In Mockito project we en

[2017-06-10 21:18] szczepiq opened #225 "initShipkit produces incorrect github link"
Running ```./gradlew initShipkit``` with no 'gradle/shipkit.gradle' file produces incorrect github link:

[code]

[2017-06-11 04:51] szczepiq opened #227 "Simplify configuration, possibly default "gitHub.writeAuthUser""
### Use case

Currently, users need to configure "gitHub.writeAuthUser" setting but I am not sure it is really needed. Let's test if we can default it to "shipkit-org" and this way we make the configuration easier - less stuff to configure. This is especially needed for bootstrap scenarios, every line less in configuration file, the cleaner and more appealing our tool look like

This needs to be p

[2017-06-11 04:54] szczepiq opened #228 "initShipkit configures shipkit.gitHub.repository from git origin"
Let's have "initShipkit" configure "shipkit.gitHub.repository" from git origin so that the project after bootstrapping works out of the box :)

Simpler configuration after bootstrap -> more compelling story / demo -> more users!

[2017-06-11 04:55] szczepiq commented on #228
Of course we already do it... what I was thinking... I should go to sleep I think...

[2017-06-11 04:55] #228 closed

[2017-06-11 08:33] #225 closed

[2017-06-12 06:13] #222 closed

[2017-06-13 06:24] szczepiq opened #232 "Autodiscover plugins for Gradle Plugin Portal publication"
### Problem

Currently, we need to [manually configure all plugins](https://github.com/mockito/shipkit/blob/master/build.gradle#L56) published to Plugin Portal in the build.gradle file. This causes the list to be constantly out of date. For example, right now our "core" plugin, "org.shipkit.java" is not in the Plugin Portal :)

### Suggested implementation

- [x] rename "org.shipkit.gradle-plugin-

[2017-06-13 06:26] szczepiq commented on #113
Hey @epeee, let's deprioritize this ticket for now and revisit when e2e testing is complete after 1.0. I'm finding it hard to focus on this at the moment. In the meantime, I've added 2 more "please contribute" tickets that would be really useful for 1.0 release!

[2017-06-13 06:32] #221 closed

[2017-06-13 06:39] mockitoguy opened #233 "Start shipping Javadoc"
### Problem

Currently, we rely on external https://javadoc.io service to host viewable Javadoc. When we publish the jars with javadocs to Maven Central, the javadoc is automatically downloaded, unzipped and hosted at javadoc.io. This works well for projects that ship to Central. Projects that don't ship to Central (some project ship only to https://bintray.com) don't get this benefit. Best exampl

[2017-06-13 16:24] szczepiq opened #234 "Create open "shipkit" google mailing list"
Due to team membership, this needs to be worked on by one of the core team members

### Problem

The mailing list is sometimes useful:
 - when contacting Travis CI support, I can cc the list
 - when I get some important email (like the fact that conference talk was accepted) I can just forward it to the mailing address
 - some members of the community might be oldschool and prefer emails
 - it add

[2017-06-13 17:39] #205 closed

[2017-06-13 20:05] #61 closed

[2017-06-14 04:21] szczepiq opened #235 "fetching all contributors fails on shipkit-bootstrap"
I found a couple of issues when testing bootstrap scenarios:
 - ~~bad fetch url (2x https :) - "https://api.github.com/repos/http://github.com/mockito/shipkit-bootstrap/contributors?access_token=76826c9ec886612f504d12fd4268b16721c4f85d&per_page=100"~~
 - exception message bug (no value for readOnlyAuthToken): "Problems fetching and parsing contributors from GitHub repo: 'http://github.com/mockito/

[2017-06-14 04:59] szczepiq opened #236 "dryRun=false by default is counter intuitive"
### Problem

When testing bootstrapping scenarios I find "dryRun=false" by default very counter intuitive. The original idea behind "dryRun=true" by default was to prevent accidental releases. However, accidental releases are hard because you need to have all secret values exported locally.

### Suggested implementation

Feel free to suggest alternative approach, this is one way of implementing it

[2017-06-14 10:05] mstachniuk commented on #235
I checked it today (shipkit:0.8.87) master branch and there is my output:

[code]

GitHub API returns 401, "message": "Bad credentials".
This same request without `access_token` works, but:
1. There should be `shipkit-bootstrap` instead of `shipkit`, I think it comes from:
https://github.com/mockito/shipkit/blob/63c6046a7dde239347abba118249f657c82451d3/src/main/groovy/org/shipkit/internal/gradle/R

[2017-06-15 04:49] szczepiq commented on #235
@mstachniuk, thanks a lot for verifying the issue! Indeed it is fixed (blushing :).

Those are essentially dummy values, only used to make the first build pass. We probably want to revisit because they are kind of confusing.

Great idea! Please review: https://github.com/mockito/shipkit-bootstrap/pull/2

What's the use case?

[2017-06-15 04:51] szczepiq commented on #235
This ticket can be closed when https://github.com/mockito/shipkit/pull/238 is merged!

[2017-06-15 04:56] szczepiq commented on #233
@mstachniuk, do you want to scope this ticket a bit more? I can help if needed :)

[2017-06-15 05:58] mstachniuk commented on #235
@szczepiq

If user configure wrong access token we can still do calls to GitHub API (without access token) until cross rate limit.

[2017-06-15 05:59] mstachniuk commented on #233
I will do after a long weekend.

[2017-06-17 19:47] szczepiq commented on #232
we can't autodiscover them easily. well, we have to add the current data in some other place.
I see 2 possible solutions:

Good questions!

Adding metadata to properties file is an interesting idea. Problem is that we would introduce a brand new convention that needs to be documented and learned. Here's what I suggest:

- how about we get "displayName" from the first sentence of the Javadoc? This

[2017-06-18 14:21] #227 closed

[2017-06-18 14:21] szczepiq commented on #209
Hey @NagRock, friendly ping :)

[2017-06-18 14:23] szczepiq commented on #156
Can this ticket be closed? Does Mockito leverage the release avoidance? I would love to include it as one of the features of Shipkit 1.0 :)

[2017-06-18 20:15] wwilk commented on #156
Not yet, I waited for pull request with changes in publicationsComparator logging to be merged. Now it can be used, I will get back to it soon.

[2017-06-19 07:04] NagRock commented on #209
I'm little busy last days but will work on this.

[2017-06-19 07:06] szczepiq commented on #148
I updated heavily use scenarios, take a look. Most importantly, I'm thinking of relaxing the github write token requirement for the release: if the token is not configured / exported in env variable, we will just perform git push from local. This will really streamline demos and make the bootstrapping scenarios simple. Plus, some users who are happy to be releasing from local can just keep it this

[2017-06-20 10:06] mstachniuk commented on #235
Close via https://github.com/mockito/shipkit/pull/238

[2017-06-20 10:06] #235 closed

[2017-06-21 20:15] epeee commented on #232
leaving the displayName empty caused the build to fail, I decided to go for the `implementation-class` value from the properties file.
shipkit v0.8.99 contains this feature.

[2017-06-21 20:24] #232 closed

[2017-06-22 07:20] mstachniuk commented on #234
Everything from the list is done.

[2017-06-22 07:20] #234 closed

[2017-06-22 21:55] mockitoguy opened #255 "Make Shipkit the best option for releasing Open Source Gradle plugins"
## Automated releases for Gradle plugin authors

Let's make Shipkit the best option for releasing Open Source Gradle plugins. Let's help Gradle community by providing means to fully automate release process: automated release notes, publication, documentation, versioning, tagging.

## Design

- [ ] Plugin "org.shipkit.gradle-plugin" produces release notes
- [ ] Documentation: [wiki page placeholde

[2017-06-24 17:54] szczepiq opened #257 "When release fails the Travis Build should fail"
### Problem

When release logic breaks, we don't immediately find out (the build is green). Release invocation is a part of "after_success" step of CI workflow. Failures of "after_success" Travis CI steps do not mark the build as failed.

### Proposed solution

Current recommended configuration of Travis CI:

[code]

Desired configuration:

[code]

### Considerations

1. The reason we use "after_s

[2017-06-25 04:49] szczepiq commented on #257
Assigned to myself. I have an idea how to solve it.

[2017-06-25 04:49] szczepiq commented on #236
Assigned to myself. I have an idea how to solve it.

[2017-06-25 07:41] szpak commented on #257
+1 for the change - the build result is currently very unintuitive.

As the release is not mandatory for every build (can be skipped - or looking on a number of Mockito builds IMHO it could be triggered on demand, when needed, not enabled by default (but it is an another discussion :) )), it could just finish build successfully with visible information that release was not triggered (and why). Peo

[2017-06-25 20:20] anicos commented on #62
Hi. I would like to contribute. Can you assign this task to me?
@mstachniuk I have question about X value. What does it mean incremented by each generation? Every invocation of updateReleaseNotes in gradle? or every new version of release note file for example every commit increment or merge increment the counter?

[2017-06-25 21:00] mstachniuk commented on #62
Hi @anicos You can take this task, but we can't assign you because you are not a core team member. But we will remember about you :-)
Regarding `X` value: By default each successful build on Travis-CI:
* generate release notes
* create git tag
* commit this changes to master

Of course shipkit make more other things, but this are important in scope of this ticket. If this line doesn't exist in rel

[2017-06-26 18:55] anicos commented on #62
@mstachniuk thanks for answer. I see that are two implementation of formatter [DetailedFormatter](https://github.com/mockito/shipkit/blob/master/src/main/groovy/org/shipkit/internal/notes/format/DetailedFormatter.java) and [NotableFormatter] (https://github.com/mockito/shipkit/blob/master/src/main/groovy/org/shipkit/internal/notes/format/NotableFormatter.java) but NotableFormatter is unused. Where

[2017-06-26 19:02] wwilk commented on #62
Probably it would be enough to add it to DetailedFormatted, as you said NotableFormatter is not used.

I'll add @szczepiq to the conversation because he was the one who gave up on notable notes so he knows best the reason for keeping NotableFormatter.

We have a slack account and google email group but it is good to keep this kind of discussion here, I think.

[2017-06-26 19:04] mstachniuk commented on #62
@anicos I send you an invitation to chat via Google Hangout. You can implement that only in `DetailedFormatted`. `NotableFormatter` is no longer supported, it's now a dead code, but it can happen that we come back to this concept after 1.0 version.

[2017-06-26 19:14] mstachniuk commented on #154
It looks like 3rd point works: https://plugins.gradle.org/plugin/org.shipkit.release-notes I wrote to Gradle using getting help, I got no answer yet, but all plugins are released with new groupId and build of my PR works.

[2017-06-26 20:22] tonit opened #263 "Why use old gradle 2.14 wrapper?"
Is there a reason you have the gradle wrapper set to 2.14? I mean.. you still can make the plugin produced work against an older (more widely used) API but still use gradle 4 or whatever is the "hot stuff"? Or is this a false assumption?

[2017-06-26 21:20] mstachniuk opened #264 "Task assertReleaseNeeded fails because of wrong discovered branch name on Travis CI"
In task `assertReleaseNeeded` we read current branch name using this git command:

[code]

It's a valid command util we are not in detached head (then above command return `HEAD`)! Unfortunately Travis-CI does `git checkout -qf sha1` after clone:
https://travis-ci.org/mockito/shipkit-example/builds/247233789#L146

and branch name is other as expected in `assertReleaseNeeded`:
https://travis-ci.org

[2017-06-27 03:37] szczepiq commented on #263
Good question! The safest way to guarantee compatibility is to keep the wrapper at last 2.* version ;)

[2017-06-27 05:08] szczepiq commented on #264
Fantastic bug report. Thank you!!!

[2017-06-27 05:21] szczepiq opened #266 "Animal sniffer is slow, it would be nice to only run it on CI"
Animal sniffer is slow, it would be nice to only run it on CI. Anyone wants to contribute? :) We already do something like that in Mockito project, perhaps we can implement the same idea?

[2017-06-27 11:53] anicos commented on #62
Regarding to `X` value. Adding it is not easy for the following reasons:

- Release notes file were not designed to read data from these file. The logic of update would be very complex if we want to add this functionality.

- We have two scenarios:

Right now logic of update it is very simple we append new content on top off file. But after these changes   logic will be quite complicated, and if t

[2017-06-27 13:03] mstachniuk commented on #62
@anicos `number of git commit` is not an option.

Second scenario described by you is a little bit complicated but not impossible. Remember that the sentence should be only once in release notes and always on top. And the sentence text is constant!

If there is the sentence:
* You read the whole file
* Read `X` from sentence
* Store the rest of release notes (without sentence) in temporary value `

[2017-06-27 19:47] mstachniuk opened #271 "Always clean up local git settings after running task with change git user and email"
We have 2 tasks with change a local project git settings: `setGitUserName` and `setGitUserEmail`. This tasks should be undo at the end of the build to avoid commit by the user as `shipkit.gitHub.writeAuthUser`. We can use `finalizedBy` for that:
https://docs.gradle.org/2.14/dsl/org.gradle.api.Task.html#org.gradle.api.Task:finalizedBy

Just to not forget, probably all tasks with can run after `setG

[2017-06-28 05:16] #264 closed

[2017-06-28 08:26] #266 closed

[2017-06-29 23:11] szpak opened #276 "Include released version number in release commit"
## Problem

The released version number is not included in the release commit. Sample release commit messages:

For people getting through the commit list it is hard to get know which commit is included (or not) in a particular version (or when that version was released). That in turn can be useful to diagnose if the project using a given ShipKit version is affected by some bad commit (or contains

[2017-06-30 08:12] szczepiq commented on #257
Good feedback, thank you!

This is implemented now. This is recommended way of configuring Travis CI now:

[code]

[2017-06-30 12:54] #257 closed

[2017-07-02 11:41] szczepiq commented on #276
This is a great idea! Sorry we have not responded earlier - flying to Poland and prepping for Confitura was pretty absorbing :)

How about we change the commit message to (I don't know how easy is to get hold of previous version but it should be):

"1.0.1 release (previous 1.0.0) + release notes update"

Absolutely useful feature. Thank you for reporting and looking forward to pull request!

[2017-07-02 11:43] szczepiq commented on #263
I will close it for now. At some point we will upgrade Gradle. It is not a high proprity at the moment (giving better compatibility is higher priority).

Thanks for reporting!

[2017-07-02 11:43] #263 closed

[2017-07-02 14:12] szpak commented on #276
I tend to use Git tags based versioning instead of file based and probably because of that I do not get everything in your versioning model. For example, I haven't though about previous version as something especially important. Probably it can simplify the versioning implementation, but I'm not sure what would it bring to put `previous 1.0.0` in the commit message. In the Git history there should

[2017-07-02 20:19] szczepiq commented on #276
It would certainly be an improvement so go ahead either way.

Having previous in commit message is a small thing, and does not hurt to add (at the point of constructing the message, we have access to VersionInfo object that contains previous version). In Mockito we used to include the previous version in the commit message and it was ok. I don't claim it has huge value, though. Your concerns are v

[2017-07-02 20:21] szczepiq commented on #271
In what scenarios cleanup the git user is useful? On CI machine, the checkout directory is removed and not reused. On local, we don't run ciReleasePrepare so there is no need to revert user setting.

[2017-07-03 22:25] wwilk opened #280 "Failover for publicationsComparatorTask"
## Problem
PublicationsComparatorTask downloads artifacts of previous version, sometimes they are not available because bintrayUpload task failed (silently or not). Since gitPush task runs before bintrayUpload, version could be bumped anyway. When download fails -> assertReleaseNeeded fails too. The only solution in this case is manual change of previousVersion to the last one that was actually re

[2017-07-04 10:29] #236 closed

[2017-07-04 10:31] szczepiq commented on #190
@wwilk, I think this is completed, right? Can we use this in Mockito project now?

[2017-07-04 10:39] szczepiq opened #284 "Automatically validate plugin property files"
### Problem

Gradle plugins String identifiers are configured using ```META-INF/gradle-plugins/*.properties``` files. This is problematic because:
 - we need to manually ensure that all our plugins have corresponding *.properties file
 - when we rename the plugin class we forget to rename the *.properties file

### Suggested resolution

Add task that validates that:
 - all plugins have correspondi

[2017-07-04 10:45] wwilk commented on #190
@szczepiq Emphasizing is currently done by changing the type of header in release notes. There is no Maven Central badge or different header content. But as we discussed, those should be done in separate issues.

[2017-07-04 10:54] szczepiq opened #285 "Autodiscover name of github repository"
### Problem

Shipkit needs to configure all defaults that can be automatically inferred. This way, the user only has to specify minimum amount of configuration. Currently we explicitly specify ```shipkit.gitHub.repository``` setting in ```shipkit.gradle``` file (see [Mockito's "shipkit.gradle"](https://github.com/mockito/mockito/blob/release/2.x/gradle/shipkit.gradle#L2) file). It would be great t

[2017-07-04 10:54] szczepiq commented on #280
Great idea. At the very least we should not fail assertReleaseNeeded!

[2017-07-04 16:54] #156 closed

[2017-07-04 16:55] wwilk commented on #148
I think this one is already done, so I'm closing the issue

[2017-07-04 16:55] #148 closed

[2017-07-04 20:00] epeee opened #286 "Refactor release notes generation to also work with git services other than github"
## Goal
Let's decouple release note generation from github and furthermore make it possible to use other git services.

## Steps
- [ ] move github related code from `org.shipkit.internal.notes.contributors` to `org.shipkit.internal.notes.contributors.github`
- [ ] introcude interface for fetching contributors
- [ ] introduce `GithubPlugin` which will provide tasks for fetching contributor infos an

[2017-07-04 21:56] szczepiq commented on #286
This sound great! Thank you for looking into it! Feel free to submit PRs with some preliminary design / thoughts how to make it work.

[2017-07-04 21:57] szczepiq commented on #280
I'm working a lot in publications comparison. This is very nice code and works well! I'm updating the Gradle part of the API and should be able to fix this problem soon.

[2017-07-06 04:42] szczepiq commented on #280
This is done!

[2017-07-06 04:42] #280 closed

[2017-07-06 05:25] mockitoguy opened #290 "Javadoc shows 100 warnings and spoils the build log"
Let's figure out what to do with 100 warnings from Javadoc that spoil the build log. Can we suppress the warnings while still show Javadoc errors? Alternatively, we could just fix the warnings (not ideal, the warnings don't seem to be useful) + treat warnings as errors so that we will not forget to clean them up in the future.

Steps to reproduce: ```./gradlew cleanJavadoc javadoc```

Build log co

[2017-07-06 06:33] szczepiq opened #291 "Package and rename job tidy-up"
Suggested rename jobs / package work:

- ReleaseConfiguration -> ShipkitConfiguration
- BumpVersionFileTask -> versioning.BumpVersionFileTask
- ReleaseNeededTask -> release.ReleaseNeededTask
- ReleaseNotesFetcherTask -> notes.ReleaseNotesFetcherTask
- UpdateReleaseNotesTask -> notes.UpdateReleaseNotesTask
- InitTravisTask -> travis.InitTravisTask

We should move classes that currently reside direc

[2017-07-06 18:35] TimvdLippe commented on #116
We are pretty far with this right?

[2017-07-06 18:36] TimvdLippe opened #293 "Add version number in commit message"
It would be nice to have the version number it bumps to, included in the commits on Mockito

[2017-07-06 19:57] szpak commented on #293
Duplication of #276. Good news is that I plan to work on it this week.

[2017-07-06 19:59] TimvdLippe commented on #293
Oh, I looked through the issue list, dont know why I missed that one.

[2017-07-06 19:59] #293 closed

[2017-07-07 09:11] szpak commented on #276
Closing as available in [0.8.119](https://github.com/mockito/shipkit/commit/88544ecc3f2e101b2545e4c01f278c22f8350251).

[2017-07-07 09:11] #276 closed

[2017-07-07 09:12] szpak opened #298 "Broken release notes generation in Shipkit itself?"
There is just one - the latest [entry](https://github.com/mockito/shipkit/blob/88544ecc3f2e101b2545e4c01f278c22f8350251/docs/release-notes.md):

[code]

[2017-07-07 09:30] szpak opened #299 "Release notes mechanism misses commits done before the previous release"
### Problem description

Some older commits are not mentioned in release notes.

### Steps to reproduce

1. Do nice commit
2. Create a pull request
3. Release version X
4. Merge PR
5. Release another version X2

### Expected behavior

"Nice commit" is mentioned in the release notes for X2.

### Actual behavior

"Nice commit" is not mentioned in the release notes for X (it was not already merged).

[2017-07-07 09:44] szczepiq commented on #298
It's because previous release in version.properties file was set to 0.8.118. For this use case, we should probably manually generate the release notes.

[2017-07-07 09:44] szczepiq commented on #298
Thanks for reporting! Do you have suggestions on how to handle this better? This is a corner case - an introduction of the plugin that is still in-progress.

[2017-07-07 09:48] szczepiq commented on #299
I suspect it's because we didn't search for commits prior to 0.8.118 release. We will double check this. Thanks for reporting.

[2017-07-07 09:49] szczepiq opened #300 "0.8.120 was released instead of 0.8.119"
For some reason version "0.8.120" [was published](https://plugins.gradle.org/search?term=org.gradle.shipkit) to Plugin Portal, instead of "0.8.119". The tag and release notes were created for "0.8.119". Will investigate.

[2017-07-08 08:39] szczepiq commented on #116
We are! I've checked the boxes in the plan.

[2017-07-08 08:41] szczepiq commented on #209
Friendly ping :)

[2017-07-08 08:42] szczepiq commented on #284
@epeee, you might be interested looking into this one. It is related to plugin autodiscovery plugin that works really well and is one of the cool features of Shipkit support for Gradle plugin authors.

[2017-07-08 11:04] wwilk opened #302 "Create a pull request in dependent repositories with a Shipkit version bump"
## Problem
We have to update Shipkit's version in Mockito and Shipkit-example every time we release, which is quite often.

## Solution
We should automatically create a pull request with a version bump whenever there is release. Proposed flow:
- e2eTest
- Shipkit release
- send a PR

And sending a PR would be divided into:
- cloning a fork of the dependent repo
- checking out a new branch with the

[2017-07-08 15:26] TimvdLippe commented on #116
Hm, it only shows one checke box. Maybe something went wrong?

[2017-07-10 09:15] metlos commented on #105
I've came across this by a complete accident, but you might want to take a look at what I'm doing with https://github.com/revapi/revapi.

There's no gradle plugin for it just now, but the maven plugin does quite a bit:

* [x] "What if producer gets nice report or even build failure if he changes the API without bumping major version?"
* [x] What if consumer gets nice report, or even early build fa

[2017-07-11 07:16] szczepiq commented on #300
This should be fixed.

[2017-07-11 07:16] #300 closed

[2017-07-11 08:54] anicos commented on #62
@szczepiq can we talk about this issue on chat? Because I have some questions related to this task. I put these question in pull request.

[2017-07-15 11:21] janpetryk commented on #290
Those warnings are there only if you use Java 8. Further info here: http://blog.joda.org/2014/02/turning-off-doclint-in-jdk-8-javadoc.html

Adding option `Xdoclint:none` to gradle config (as mentioned in above link) fixes this issue.

But if we suppress those warnings other ones emerge:
`Users/jpetryk/Projects/shipkit/src/main/groovy/org/shipkit/internal/gradle/util/team/TeamMember.java:9: warning

[2017-07-16 06:37] epeee commented on #284
@szczepiq yes, I will work on this one.

[2017-07-17 13:37] anicos commented on #285
@szczepiq can you assign me?

[2017-07-17 13:46] wwilk commented on #285
It seems that I can't assign someone not from the team, but it's ok, you can work on that, I think a comment is enough information for others.

[2017-07-20 14:23] szczepiq commented on #298
I suspect we can close it.

[2017-07-20 14:23] #298 closed

[2017-07-25 10:47] szczepiq opened #315 "master branch does not build without env variables"
At the moment, master branch does not build without env variables and some tests fail in IDEA. Let's fix it. It's related to @wwilk's changes so I'm assigning this ticket to him :) We can also revert temporarily to fix the build.

[2017-07-26 14:50] #315 closed

[2017-07-28 20:29] mstachniuk commented on #271
It's useful when you call `ciReleasePrepare` task locally. It happens to me that later I commited using shipkit.org user.

[2017-07-30 05:35] szczepiq opened #319 "Verbose GitHub write auth token warning"
Below is the output of running "./gradlew help", the shipkit warning is very verbose and scary :)

Here's what I think we should do:
 - avoid 'BEWARE!' because it makes the user think that he is doing something wrong. So, the user will try to figure out what is the actionable thing to do to fix the warning. However, the message is ambiguous in explaining what to do to resolve the warning. The lack

[2017-07-30 05:35] szczepiq commented on #319
Ping @wwilk, in case you want to take a stab at it :)

[2017-07-30 05:36] szczepiq commented on #291
Most of that is complete. The reset we will fix as we go!

[2017-07-30 05:36] #291 closed

[2017-07-31 08:52] epeee opened #322 "PluginDiscoveryPlugin: detect property files during execution phase"
Currently, we are looking up property files during configuration phase. Let's move it into execution phase.

[2017-08-03 19:23] wwilk commented on #290
@szczepiq We probably can close this one. We lost the ability to fail on errors in javadoc, but this problem is solved and there doesn't seem to be any better solution for this at the moment.

[2017-08-07 17:41] thekingnothing opened #333 "PowerMock CR: customisable tag name."
It will be nice to have ability to customisable tag name for releases. For example, PowerMock uses another tag naming pattern: `powermock-`. It is not customisable at the current moment according to comment in https://github.com/powermock/powermock/issues/826

[code]

[2017-08-07 17:53] thekingnothing opened #334 "PowerMock CR: call additional task before bumping version."
PowerMock is aimed on legacy project, so there are [developers](https://github.com/powermock/powermock/issues/814) who use PowerMock with Ant and have to download artefacts manually.
As result PowerMock have to create a distributions packages, beside main artifacts:
- [zip/tar files](https://dl.bintray.com/powermock/generic/distributions/) with jars and sources
- [fat full jars](https://dl.bintray

[2017-08-07 17:54] thekingnothing commented on #75
I'm voting for the feature.

[2017-08-07 17:57] thekingnothing commented on #334
Another option is that  Shipkit can creates distributions packages and upload them to configurable artifact repository.

[2017-08-08 04:17] szczepiq commented on #333
@thekingnothing, thank you for using Shipkit!!!

Can you try the tag prefix as suggested by @wwilk? It seems that the tags in powermock are versions prefixed with "powermock-".

This should do the trick:
[code]

[2017-08-08 04:29] szczepiq commented on #333
@wwilk, it seems that in the code we use hardcoded "v" literal in few places, instead of using the tag prefix from configuration.

[2017-08-08 04:30] szczepiq commented on #334
How they are uploaded to Bintray? Using a Bintray Gradle plugin?

@wwilk, we could experiment with applying "org.shipkit.bintray" plugin and and then configuring the package to publish extra artifacts to Bintray repo.

[2017-08-18 21:21] szczepiq commented on #333
After @epeee improvements, I think this one can be fixed.

[2017-08-18 21:21] #333 closed

[2017-08-18 21:55] szczepiq opened #344 "Introduce default value for "bintray.pkg.name""
One of the principles of Shipkit is ease of use. We achieve it by providing sensible defaults for every possible configuration option.

Let's add default value for "bintray.pkg.name" setting, we can use "project.getGroup()" for this. Here's how currently we set the default for Bintray extension in code: [code link](https://github.com/mockito/shipkit/blob/master/src/main/groovy/org/shipkit/internal

[2017-08-18 23:10] mockitoguy opened #345 "Avoid unnecessary hits to GitHub REST API during non-release build"
### Problem

When performing a regular build, e.g. without the intention to release the artifacts, we should avoid hitting GitHub unnecessarily. Currently it happens because we automatically pull in contributors for pom.xml file.

### Steps to reproduce

 - clone example project
 - ```rm -fr build``` (in case you already have one)
 - ```./gradlew build``` - notice that we're hitting GitHub endpoin

[2017-08-20 10:40] #322 closed

[2017-08-20 20:40] ArturSkowronski commented on #344
Hey @szczepiq I would like to take this one!

[2017-08-21 00:26] szczepiq commented on #344
Cool, here's the place in code where we currently need to specify the name of the package: [link](https://github.com/mockito/shipkit-example/blob/master/gradle/shipkit.gradle#L17). It looks like this:

[code]

Let's make Shipkit assign sensible default for this setting, so that users don't have to configure it. Convention over configuration!

Let us know if you have further questions :)

[2017-08-21 00:26] szczepiq commented on #319
I think this is fixed!

[2017-08-21 00:26] #319 closed

[2017-08-22 15:50] mockitoguy opened #353 "Introduce [ci force-release] commit message keyword"
### Problem

Currently there is no way to force the release other than making whitespace in Javadoc. Sometimes we need to force the release. For example, I want to ship 2.9.0 version of Mockito despite that the only thing I have changed in the pull request was the version number. The version number is ignored when 'assertReleaseNeeded' task decides if the release is needed.

### Suggested solution

[2017-08-22 16:01] mockitoguy opened #354 "Make ReleaseNeeded task configurable to force release"
### Problem

In Mockito, we have special handling of "[ci maven-central-release]" keyword in the commit message. This keyword instructs Shipkit to push to Central instead of just Bintray. For more information why we do it, see [the section of README.md](https://github.com/mockito/mockito/blob/release/2.x/README.md#how-to-release-new-version) of Mockito project. Problem is that just using "[ci mave

[2017-08-22 23:32] #344 closed

[2017-08-22 23:32] wwilk commented on #344
Fixed by #355

[2017-08-23 01:28] szczepiq commented on #290
I just ran ```./gradlew clean javadoc``` on my local and I saw 100 warnings. Why do we want to close this ticket? :)

[2017-08-23 03:27] szczepiq commented on #284
Let's close this ticket and open a separate one for improvements! So far the plugin and the task looks promising, we need to figure out how to deal with false positives.

[2017-08-23 03:27] #284 closed

[2017-08-23 03:33] szczepiq opened #356 "Improve Gradle plugin validation"
### Problem

Running ```./gradlew validatePlugins``` yields many false positives:

[code]

- some plugins have slightly different naming convention, with optional 'Shipkit' prefix
- some plugins don't have plugin id intentionally

### Suggested approach

How about we change the implementation into something like this. Given example resource files:

[code]

For every resource file we:

1. Ensure na

[2017-08-23 03:33] szczepiq commented on #356
@epeee, how does it sound?

[2017-08-23 03:37] szczepiq commented on #285
@anicos, are you still interested in working on this? Cheers!

[2017-08-23 05:03] epeee commented on #356
@szczepiq sounds good, thx!

[2017-08-23 06:37] anicos commented on #285
Hi. @szczepiq right now I can't take this task. If anyone wants to take it's free:)

[2017-08-23 07:42] tonit opened #358 "To snapshot or not to snapshot"
Hey @szczepiq, great project! This is not the place for it (where is it? Mailinglist somewhere?) but: great project & dedication!!

Now, uhm.. as a previous Maven consultant (converted teams over from Ant back in the days) and newly gradle convert, I am curious about how snapshot versions should or should not be supported by a workflow plugin such as shipkit. I understand that shipkit is all about

[2017-08-24 02:42] szczepiq opened #360 "Inconsistent project directory layout"
## Problem

Currently, the layout of subprojects in Shipkit is inconsistent because the subproject is a part of main project

[code]

## Suggested change

How about we make it consistent and rework Gradle subprojects to the following

[code]

## Implementation hints

Check out "settings.gradle" file of Mockito project to see how "subprojects" can be implemented.

[2017-08-24 05:07] szczepiq commented on #358
Thank you for kind feedback!

At the moment, shipkit does not prescribe how to develop locally across separate libraries. Snapshots could be used for that purpose. To build and release a snapshot locally, it's the matter of updating the 'version.properties' file. Internally, we don't use snapshots. We would just run 'fastInstall' task to install currently built version to local maven repo.

I thin

[2017-08-24 19:38] wwilk commented on #302
The 1.0 version of this feature is done. I will create another issue for improving it further.

[2017-08-24 19:38] #302 closed

[2017-08-24 19:47] wwilk opened #362 "Improving Shipkit documentation"
It would be good to start improving the documentation of new Shipkit features. Let's gather them here:
- [ ] Creating a short screencast with audio, presenting how to get started with Shipkit. Similar to the one that we presented on Confitura and JUGs.

- [ ] Copy-paste getting started guide from [medium article](https://up.smartrecruiters.com/shipkit-getting-started-39c55782fa7) to wiki page on G

[2017-08-25 10:25] tonit commented on #358
Thanks for your quick reply, @szczepiq. I agree that as a project promoting fast, very frequent releases (full automation, cool!!!) the time in-between those releases shrinks to a minimum.
But maybe i am missing something, but I'd argue running the install task should produce a snapshot because it will only be available on your local machine.
I think the Nebula release plugin produces a snapshot v

[2017-08-25 18:40] #356 closed

[2017-08-26 06:01] szczepiq opened #363 "Shipkit bootstrap pushes to "mockito/shipkit-bootstrap" repository"
## Problem

Performing Shipkit bootstrap pushes to "mockito/shipkit-bootstrap" repository, instead of user's repository:

[code]

This is undesired. During bootstrapping, we want to demonstrate how the release works on the user's repo, for example "szczepiq/shipkit-bootstrap" and not on our repo, e.g. "mockito/shipkit-bootstrap"

## Steps to reproduce

Follow the bootstrap steps: https://github.co

[2017-08-26 06:04] szczepiq opened #364 "Shipkit bootstrap does not show the url to release notes"
## Problem

Output from shipkit bootstrap:

[code]

Note the **TODO** for release notes ;)

## Steps to reproduce

Follow the bootstrap steps: https://github.com/mockito/shipkit-bootstrap/wiki/Shipkit-Test-Drive-in-4-steps

[2017-08-26 06:04] szczepiq commented on #362
Nice ticket, thank you!

An idea for screencast: https://github.com/mockito/shipkit-bootstrap/wiki/Shipkit-Test-Drive-in-4-steps

[2017-08-26 19:16] mockitoguy opened #368 "Hardcoded pull request title and description"
## Problem

Our really cool 'org.shipkit.upgrade-downstream' adds and configures CreatePullRequestTask. This task automatically creates pull requests to other projects with version bump. The task implementation [hardcodes pull request](https://github.com/mockito/shipkit/blob/a94f0a12f6070b1ba0be5127dfdab110f66ee154/src/main/groovy/org/shipkit/internal/gradle/versionupgrade/CreatePullRequest.java#L

[2017-08-27 03:41] szczepiq opened #369 "git push does not use auth token and shows confusing message"
I’ve tried to ship a new release of shipkit-bootstrap but the [release has failed](https://travis-ci.org/mockito/shipkit-bootstrap/builds/268810197). The build output shows:

[code]

## Problem

The logging from git push task is confusing: the message indicates that "'git push' uses GitHub write token" but the git push url show in the log does not have any "[SECRET]" values which means that the bu

[2017-08-27 19:35] wwilk opened #370 "Customized release notes"
## Problem:
If I want to change even a small detail about release notes (like date format or customize the summary message) it is not possible at the moment.

## Solution:
We need some kind of customization of release notes.

First question I asked myself was how flexible it should be. User should be able to customize anything they want, but on the other hand assuming a simple base structure would

[2017-08-28 07:14] ArturSkowronski commented on #368
@szczepiq I would like to take it :)

[2017-08-29 04:23] szczepiq commented on #370
Great ideas and a very nice write-up! Some feedback:

- it would be nice to list the use cases and problems we want to solve. Do you have a particular release notes improvement in mind?
- it feels that having 3 template files is an additional complexity that may backfire. What if someone wants to present just the header, with not details? I'd suggest a single template file.
- the simplest implemen

[2017-08-30 05:27] #369 closed

[2017-08-30 15:49] szczepiq commented on #368
@ArturSkowronski, go for it! We don't have a way to assign the ticket in the tracker for non-members. However, consider the ticket yours ;)

[2017-08-30 15:56] szczepiq commented on #358
Good discussion!

It's a tradeoff. Using snapshots is safer and may prevent some unnecessary debugging. Using the next version and avoiding snapshot distinction is just super simple.

I don't have other arguments :) I would wait and see what other users say and if the current behavior is sufficient. We can add support for building local snapshots a any time if we choose to.

Thank you for feedback

[2017-08-30 16:07] szczepiq opened #373 "Downstream testing improvement suggestions"
I was brainstorming about the improvements to the behavior and logging of downstream testing. Here's what we could do to make this feature great (the feature is already pretty amazing!!!).

### Logging

- when the build runs with -i show the child build output directly in the terminal
- add more lifecycle messages explaining what happens (Perhaps we should ask some other engineer who does not know

[2017-08-30 16:08] szczepiq commented on #373
@wwilk, wdyt?

[2017-08-30 19:32] ArturSkowronski commented on #368
I have one question @szczepiq - do we want to allow users to use some kind of placeholders for dependency version and dependency name in their PR descriptions/titles that would be filled automatically - similar to current solution? Especially the version number would be something that I would like to have filled in title of PR.

Also, I would like to confirm - if somebody don't pass title/descript

[2017-08-30 22:11] ashdavies opened #374 "Package parameters for maven deployment"
I've been looking over what documentation is available, and the project seems really cool, but the descriptions are mostly about the why instead of the "how", this is understandable as I interpret this as a relatively new project.

I'd love to contribute to the documentation, but I'm really not sure about how to use this with a project that I'd like to publish snapshots to maven central with a GPG

[2017-08-30 22:29] wwilk commented on #368
@ArturSkowronski No needs for placeholders or default values. The idea is to make this task more generic, so that it can be reused in other scenarios where creating a pull request would be useful ( example from the top of my head - performing automated migration in downstream projects).

Basically the values of "title" and "body" that are currently set in [task](https://github.com/mockito/shipkit/

[2017-08-31 04:49] szczepiq commented on #374
Welcome! You are spot on that the project is relatively new and 'how' documentation is missing. Is your current project Open Source so that we can take a look?

Currently, our plugins and tasks are geared for using Bintray. I thought that we have a ticket open to create better integration with Artifactory or Maven Central directly but I couldn't find it.

[2017-08-31 04:55] mockitoguy opened #375 "Better exception message when user forgets to configure GH_WRITE_TOKEN"
### Problem

When the user forgets to configure GH_WRITE_TOKEN in Travis CI, the failure on Travis is not very clear:

[code]

I bumped into this issue when testing bootstrapping scenarios ([build failure](https://travis-ci.org/mockito/shipkit-bootstrap/builds/268985752)).

### Suggested solution

Instead of letting 'gitPush' fail with generic error, we should write a hint that the problem might b

[2017-08-31 18:35] epeee commented on #364
@szczepiq it looks like we are doing the logging in `performRelease.doLast` specified in shipkit-boostrap (shipkit.gradle).
see https://github.com/mockito/shipkit-bootstrap/blame/master/gradle/shipkit.gradle#L24-L30

Do you think we should integrate this logging messages into shipkit? Or just fix it in shipkit-bootstrap project?

[2017-08-31 19:19] szczepiq commented on #364
Short term, I think we are better off fixing it in bootstrap. This might
involve adding some property that exposes the url.

Long term, it would be great to show at the very end of the build all the
useful links to the outcomes of the release.

Thank you for looking into this!
--
Szczepan Faber
Founder @ http://mockito.org | Twitter @ https://twitter.com/mockitoguy
Author @ https://www.linkedin.co

[2017-09-01 04:29] szczepiq opened #376 "2nd exercise of bootstrapping fails when generating release notes"
[2nd exercise of bootstrapping](https://github.com/mockito/shipkit-bootstrap/wiki/2.-Bootstrapping-Shipkit-in-CI) fails at step 5) when generating release notes. Failed build [link](https://travis-ci.org/szczepiq/shipkit-bootstrap/builds/270685617).

Error from the log:

[code]

[2017-09-01 14:00] szczepiq commented on #368
+1 to all feedback from @wwilk

I like this idea! It will make the title+description better, more specific.

[2017-09-02 21:02] ashdavies commented on #374
Thanks! I've been looking at building a release plugin that does what I need for my open source projects (particularly [this one](https://github.com/ashdavies/auto)), but this project seemed pretty interesting so I thought I'd give it a try.

I noticed the `JavaPublishPlugin` so I figured the support is there, just not so well documented yet 😉

I'm assuming the configuration would be something sim

[2017-09-04 16:12] szczepiq commented on #374
Hey @ashdavies, we can work together and have Shipkit set up for your project. We would document what's needed on the way.

We don't support publishing snapshot artifacts to maven central out of the box. This needs to be implemented first :) Why not publishing every version to a Bintray and only some versions to Maven Central? Wouldn't that satisfy the 'snapshot' version use case?

[2017-09-04 16:22] szczepiq commented on #285
We need to implement this feature because it is blocking #363

I'm on it :)

[2017-09-04 16:39] szczepiq opened #377 "identifyGitOrigin task requires GH_WRITE_TOKEN"
identifyGitOrigin task currently requires GH_WRITE_TOKEN env variable to be exported  (or configured in shipkit.gradle file). This prevents us from improving bootstrap scenarios and implementing #285

[2017-09-04 17:01] szczepiq opened #378 "Fix whitespace consistency and configure Checkstyle rule"
### Problem

We don't use whitespace consistently, e.g. space surrounding '{' is not validated by Checkstyle, hence it is inconsistent in the code base. Inconsistent code style in the code base makes the diffs/code reviews harder because the formatting changes in the code interleave with essential changes.

Example commit that we want to avoid, checkstyle should ensure we have consistent codebase:

[2017-09-04 17:08] szczepiq opened #380 "Prevent noise from test tasks in info level build"
### Problem

When we run build with '-i' parameter (Gradle's info level), there is a lot of noise from the tests in the build log. This makes it harder to identify problems in failing CI builds. On CI, we use '-i' to get more insights when the build fails.

Example noisy build where it is hard to identify failing test: https://travis-ci.org/mockito/shipkit/builds/271766700

### Solution

Let's con

[2017-09-04 19:25] #377 closed

[2017-09-05 13:36] szczepiq opened #382 "shipkit-bootstrap build fails with authentication issue"
shipkit-bootstrap build fails with authentication issue: see the [build failure](https://travis-ci.org/mockito/shipkit-bootstrap/builds/271751844). I have already specified "GH_WRITE_TOKEN" in Travis repository, so unsure why it is failing. Perhaps we just need to bump Shipkit version?

[2017-09-06 20:24] ArturSkowronski commented on #368
Sorry for lack of response, I was out for few days - family stuff

@szczepiq @wwilk
About this version number - still I don't know how we can introduce version number in custom title without some kind of placeholder value - IMHP user needs to define where to place this number in title.

Sorry if I'm missing something obvious there.

[2017-09-06 22:38] wwilk commented on #368
@szczepiq
There is already the current version number in PR title (current title = "Version of %s upgraded to %s"). It should be configured the same way, but in plugin instead of task, so that we use it only for this specific use case, not by default. Since there is no sensible default for PR title, I don't think we can use version number there. Or am I missing sth?

[2017-09-07 04:17] szczepiq commented on #368
Great. Ignore my request, then :)

Exactly.

@ArturSkowronski, we don't need 'custom' PR title. We just want the some extra fields on the task. Basically, instead of hardcoding something inside the method body, we expose a field on a class. This way, the API is richer.

Hope it makes sense now!

[2017-09-07 04:31] szczepiq opened #385 "upgrade-downstream plugin uses 'szczepiq' account to create PRs"
### Problem

upgrade-downstream plugin uses @szczepiq account to automatically create PRs ([example](https://github.com/mockito/shipkit-example/pull/91)). Let's use @shipkit-org user instead.

### Suggested implementation

Looking at the code of CreatePullRequestTask and how it is configured, it seems that we only need to update GH_WRITE_TOKEN in Travis CI for "shipkit" repo and use "shipkit-org"

[2017-09-07 04:34] szczepiq opened #386 "upgrade-downstream plugin does not use generic commit user"
### Problem

upgrade-downstream plugin makes a commit without setting the user to our generic user ([example](https://github.com/mockito/shipkit-example/pull/91/commits/407825d8ebadb2f359fe2eb108a35441b4be206c)). We should use a generic user so that the commit [looks like this](https://github.com/mockito/shipkit/commit/9329594f171643eef4077a2b70672fe78ec5e004).

### Suggested implementation

TBD.

[2017-09-07 06:38] ArturSkowronski commented on #368
@szczepiq yep, I understand that - I'm only concerned that putting %s in configuration string could be possibly cryptic to end user and would in the end force him to read code to understand what will show up in the PR Title. But probably just an info in docs or sth will be ok :)

[2017-09-07 13:10] ashdavies commented on #374
I think I'll start with this and then try to see where I can improve along the way, thanks for the help!

[2017-09-07 13:10] #374 closed

[2017-09-07 15:51] szczepiq opened #388 "Travis CI failures related to GitHub auth problems"
git push is failing on both project: "shipkit" ([link](https://travis-ci.org/mockito/shipkit/builds/272900557)) and "shipkit-bootstrap" ([link](https://travis-ci.org/mockito/shipkit-bootstrap/builds/272900905)).

[2017-09-07 15:52] szczepiq commented on #382
Let's close and track #388 instead.

[2017-09-07 15:52] #382 closed

[2017-09-08 05:38] szczepiq commented on #388
I fixed the problem. I generated write token for @shipkit-org user and configured it in the repo settings. This has fixed the release issues for shipkit and shipkit-bootstrap repos.

[2017-09-08 05:38] #388 closed

[2017-09-08 05:40] szczepiq opened #390 "Build fails due to upgradeDownstream exception"
Shipkit build has [failed on Travis](https://travis-ci.org/mockito/shipkit/builds/273171764) due to:

[code]

[2017-09-09 05:33] szczepiq commented on #285
I identified where we need to fix it. In GitPlugin we use the repository name from shipkit configuration (org/shipkit/internal/gradle/git/GitPlugin.java:80), instead of inferring it from git origin.

[2017-09-09 05:43] szczepiq opened #392 "Improve bootstrapping documentation"
One thing I would love to see in the bootstrapping guide is the rationale behind the exercises. If the exercise is trying to simulate the real life use case, we should call it out explicitly. This way, we offer much better documentation to our users.

[2017-09-09 06:03] szczepiq opened #394 "Incubating warning opt out"
### Problem

Currently, when I run Shipkit build I see 2 fat incubating warnings.

[code]

The make the build output untidy and reduces credibility of the library.

### Suggested new feature

Let's add a feature to opt out from incubating warnings. For example:

[code]

Above means that I acknowledge this incubating warning and I don't want to see it any more in the build log.

### Suggested imple

[2017-09-09 06:04] szczepiq commented on #390
This has been fixed! Thank you @epeee fore reviews!

[2017-09-09 06:04] #390 closed

[2017-09-09 11:47] epeee opened #395 "Merging pr's right after each other might fail the build"
### Problem

Currently, the build fails if two pr's are merged right after each other, e.g. see [build on travis](https://travis-ci.org/mockito/shipkit/builds/273541785)
[code]
### Details

When 2 PRs are merged in a short time, there is a chance the Travis CI builds will overlap. This will cause one of the builds to fail. Consider the sequence:

1. merge PR 'A', build 'A' starts
2. merge PR 'B' (

[2017-09-09 15:50] #360 closed

[2017-09-09 21:53] szczepiq opened #401 "2 simultanous merges will break one of the release builds"
### Problem

When 2 PRs are merged in a short time, there is a chance the Travis CI release builds will overlap. This will cause both builds to fail. Consider the sequence:

1. merge PR 'A', build 'A' starts
2. merge PR 'B' (clean merge, no conflicts), build 'B' starts even though 'A' hasn't finished
3. 'A' build fails on 'git push' because remote branch has new commit (merge commit from PR 'B', t

[2017-09-10 00:26] szczepiq commented on #401
Oups, it's a duplicate :) I just saw the ticket from @epeee #395

[2017-09-10 00:26] #401 closed

[2017-09-10 00:31] szczepiq commented on #395
Nice ticket! Thank you for describing the scenario and linking the Travis CI failure.

[2017-09-10 00:36] szczepiq opened #402 "Task with path 'buildArchives' not found in root project 'shipkit'"
There is a bug with setting dependencies between tasks. Sorry for introducing it, I'll fix it.

[code]

[2017-09-10 06:21] szczepiq commented on #402
Fixed!

[2017-09-10 06:21] #402 closed

[2017-09-10 06:24] szczepiq opened #403 "upgradeDownstream fails when shipkit moved to subproject"
Relevant line from failed [build log](https://travis-ci.org/mockito/shipkit/builds/273772641):

[code]

Problems:
- The dependency should be: "0.9.66", not ":shipkit:0.9.66"
- The exception message should tell the input version, currently it tells that the version does not match the pattern :)

[2017-09-10 16:42] szczepiq commented on #385
Fixed now!

[2017-09-10 16:42] #385 closed

[2017-09-12 10:02] smougenot opened #408 "Please make it easy to start using it"
After an hour of tries and errors, I'm forced to abandon the idea of using this tool.
I'm very sad.

Problems :
* Could not find a proper entry point for documentation (there are some .md, some docs/*.md, some wiki page, other are in the mockito project .... very messy)
* Could not find process/sample of how to add this to my project (lot of things need configuration like tools access)
* Had to ga

[2017-09-12 11:52] StefMa commented on #408
I see your frustration.
I already watch that project quite a while and hope that something changes with the documentation.
Unfortunately there haven't changed something yet.

But instead of "bulling" feel free to contribute 👍
There is already a [blog post](https://up.smartrecruiters.com/shipkit-getting-started-39c55782fa7)  and (as you mentioned) some docs (in the wiki, some in the docs/ etc.)

I

[2017-09-12 12:01] smougenot commented on #408
Sorry,
Maybe my wording was hard but I didn't intended to be bully.
I was all the more disappointed that the very purpose (according to the doc) is seamless easy efficient release.

My opinion is this project deserve more easy access. And I wanted to get some attention on that.

For contributing, I do try to contribute. But I won't reverse engineer the required settings of that opaque project. It'

[2017-09-12 13:51] StefMa commented on #362
I just want to list all "locations" of the current documentation:
* [medium](https://up.smartrecruiters.com/shipkit-getting-started-39c55782fa7)
* [ShipKit bootstrap](https://github.com/mockito/shipkit-bootstrap/wiki)
* [Getting-Started markdown](https://github.com/mockito/shipkit/blob/master/GETTING_STARTED.md)

Yep. I think that is all 🙃

Whatever.
I think we should define **how** and **where**

[2017-09-12 15:14] #378 closed

[2017-09-12 15:38] szczepiq commented on #408
This is really good feedback, thank you!

I almost finished creating bootstrap project: https://github.com/mockito/shipkit-bootstrap/wiki

I promise to have the docs ready by the end of the week!

[2017-09-13 09:16] StefMa opened #409 "subprojects dir is weird"
Hey guys,

the current project "skeleton" is really weird.
Especially for new - or potential new - contributors.

Why live the [ShipKit code](https://github.com/mockito/shipkit/tree/master/subprojects/shipkit) - the ❤️  of that project - in a directory called "subprojects".
And what is the [testDownstream](https://github.com/mockito/shipkit/tree/master/subprojects/testDownstream) project (which in

[2017-09-13 09:20] StefMa opened #410 "Update gradle"
Gradle is still on version `2.14.1`. [See here](https://github.com/mockito/shipkit/blob/master/gradle/wrapper/gradle-wrapper.properties#L6).

This needs to be updated..

Are there currently any reason to don't do so?
Gradle is currently on [4.1 ](https://github.com/gradle/gradle/releases)🙃

[2017-09-14 10:48] szpak opened #412 "Basic regression tests with different Gradle versions"
It would be good to know with what range of Gradle versions the plugin(s) is compatible.

[2017-09-14 10:58] szpak opened #413 "Runtime incompatibility with Gradle 2.x while building plugin itself with Gradle 3.x+"
Writing regression tests for Gradle versions I have noticed an incompatibility runtime incompatibility in Gradle which prevent the plugin build with Gradle 3.x+ to be executed in Gradle 2.x project.

[code]

In fact the (now internal) API has been changed in Gradle 3.0 and `TaskOutput.file(...)` started to return `TaskOutputFilePropertyBuilder` instead of `TaskOutputs` itself. I don't know it we c

[2017-09-14 11:08] szpak opened #415 "testRelease fails in non configured environment"
I would be good to have testRelease in shipkit-example up and running to new contributors to test their changes before making a PR. Currently, on a "fresh environment" it fails:

[code]

Even `-x gitPush` doesn't help as gitPush in a dry-run mode is executed in a Gradle subprocess.

[2017-09-14 11:11] szpak opened #416 "shipkit.gitHub.url set in project config seems to be ignored"
An output of #415. Tested with shipkit-example. Configuration in `gradle/shipkit.gradle`:
shipkit.gitHub.url = "file:///tmp/shipkit-example"

`gitPush` task still tries to put to remote repo:

[code]

[2017-09-16 09:19] #412 closed

[2017-09-16 17:08] szczepiq commented on #415
Taking a look. I might have broken it with my recent changes. Charms of 0.x release :)

[2017-09-17 10:54] szpak opened #419 "org.shipkit.gradle-plugin releases even if there are no changes in binaries"
### Problem

Preventing the release happening when there are not changes in the binary files is not currently implemented for 'org.shipkit.gradle-plugin' users. It is only implemented for 'org.shipkit.java' users.

### Implementation

The plugin that compares publications is called "ComparePublicationsPlugin" and it is applied when 'org.shipkit.java' is in use. Let's figure out how can we make 'or

[2017-09-17 11:08] wwilk commented on #419
It's not the expected behaviour. We compare poms and sources jars there and docs/ should not be a part of this. I will investigate it today, thanks for opening this issue!

BTW we have a strategy to create pull requests even for small changes like this one, and merge it only when someone else approves it or if it stays too long as open and is blocking us.

[2017-09-17 21:53] wwilk commented on #408
Hi @smougenot, I created a getting started wiki page. You can find it here:
https://github.com/mockito/shipkit/wiki/Getting-started-with-Shipkit
It should be enough to start using Shipkit, if there is any other problem with it please let me know. I would be happy to help.

The token you mentioned is configurable. This is only the default value, which is set for implementation reasons. You can easi

[2017-09-18 07:29] smougenot commented on #408
Looks fine, I can't give it a try now but i gives me clues about what to do.
Hope it will be easier to integrate using that
Thank you

[2017-09-18 07:30] #408 closed

[2017-09-18 12:47] szczepiq commented on #408
I updated the getting started guide just now. It looks pretty good! Thank you very much @wwilk!

[2017-09-18 16:31] szczepiq commented on #419
I saw this in the logs:

[code]

I will look into this

[2017-09-18 19:21] szczepiq commented on #419
We currently don't support skipping publications if binaries are the same for Gradle plugins. Our "org.shipkit.java" plugin supports it, but the "org.shipkit.gradle" does not. It should not be too difficult to add this. Who wants to give it a stab? :) The plugin that compares publications is called "ComparePublicationsPlugin"

[2017-09-19 05:05] szczepiq commented on #285
We cannot really implement this. Let's close.

There are use cases where it is very useful to have have the repo name checked in to the source control. For example, it makes creation of pull requests from forks easier. Also, it makes some useful tasks like preview release notes useful when origin repository is forked.

[2017-09-19 05:05] #285 closed

[2017-09-19 13:01] szczepiq commented on #415
[code]
I haven't investigated the code yet but it seems that shipkit-example is tailored for Shipkit developers and may be failing for "regulare" GitHub users who are not developers with push rights to Shipkit repos.

[2017-09-19 13:23] szpak commented on #415
`testRelease` shouldn't do just a test?

[2017-09-19 13:26] szpak commented on #415
Especially with https://github.com/mockito/shipkit/issues/416 it is problematic to change your local changes before making a pull request.

[2017-09-19 13:36] szczepiq commented on #415
The dilemma is easy to use vs. confidence of a test. To make ```testeRelease``` give high quality signal, we also want to test ```gitPush``` and ```bintrayUpload```. However, those commands need Shipkit Developer permissions. "CONTRIBUTING.md" contains information how to test locally for users.

Do you have suggestions on how to improve it / fix it?

[2017-09-19 14:00] szpak commented on #415
From contributing.md:

It doesn't work. `-x gitPush -x bintrayUpload` is not propagated to the underlying Gradle process which in turn results in the aforementioned error.

What is a recommenced way to test local changes by external contributors?

[2017-09-19 15:58] szczepiq commented on #415
Oups, bug in documentation!

I'd recommend doing exactly what the "./gradlew testRelease" does behind the hood, -x gitPush -x bintrayUpload. Perhaps we need another task "./gradlew contributorTestRelease" plus some message when "./gradlew testRelease" fails, we inform that contributors should use "./gradlew contributorTestRelease".

@szpak, what are your thoughts?

[2017-09-20 16:30] szpak commented on #415
I don't know how many external contributors Shipkit has. Nevertheless, it would be good to make that process as simple as possible. Maybe it would be enough to be able to define other remote to push (#416) and information how to define user's own bintray API key (and setup a repo to upload to)? However, the later would be probably problematic for majority of people... Therefore, maybe your idea is

[2017-09-22 09:39] nallar opened #426 "Template travis.yml cache always changed"
The travis.yml shipkit sets up results in a cache which is always changed, slowing down builds.

Travis recommend [removing some files](https://docs.travis-ci.com/user/languages/java/#Caching), but this seems to be out of date too as it still resulted in changed on every build with gradle 4.2.

Copying the [cache section from this project](https://github.com/mockito/shipkit/blob/master/.travis.yml

[2017-09-22 10:22] StefMa opened #427 "Make publication repository configurable in shipkit file"
### Problem

When using 'org.shipkit.gradle-plugin' the user needs to remember to configure publication repository on the task: https://github.com/mockito/shipkit/blob/master/gradle/shipkit.gradle#L10 We want the shipkit configuration to be central point of the important configuration. Unimportant configuration settings are fine at the task level. Publication repository setting is important becaus

[2017-09-23 15:06] szczepiq commented on #426
Thank you for reporting! Some suggestions:

- Can you check if Travis has some feature that for every 50 builds it will automatically clear caches?
- How much slower it is? If this is just seconds, we probably don't care and every year we can manually clear caches from Travis UI
- What is the difference in the build speed if we completely get rid of caching or cache only Gradle distribution

Thank

[2017-09-23 15:31] szczepiq commented on #427
@StefMa, I updated the description and hacked my initial thoughts about the implementation. Do you want to take a stab at it? We love contributions!!! :)

[2017-09-23 15:34] szczepiq commented on #419
Updated the description. @szpak, do you want to take a stab at it?

[2017-09-23 15:38] szczepiq commented on #410
The reason we are on lower version of Gradle is because we don't want to block potential users who still use old version of Gradle.

Let's release Shipkit with Gradle 2 compatibility and then discussion whether to move the baseline version. For now, I'll close the ticket.

[2017-09-23 15:38] #410 closed

[2017-09-23 15:43] szczepiq opened #431 "Shipkit release model after 1.0"
How can we improve our productivity and development fun, while not preventing users on old versions of Gradle / Java?

After 1.0:
 - we could start iterating on Shipkit 2.0 with Gradle 4 + Java 8.
 - we could offer hotfixes to 1.x branch and releases from time to time if needed

This way we have cleaner code (Java8) and yet users on old versions can still use Shipkit 1.0

1.0 release is happening

[2017-09-23 16:31] nallar commented on #426
We could check if TRAVIS_BUILD_NUMBER is divisible by 50 in the before_cache script and wipe it out.

Less than 10 seconds extra upload time per cache change per extra dist in wrappers, not sure how much extra time when loading the cache.

Not sure of the speed but I don't think that's a good idea for a default as it means putting more load on maven repositories which generally expect their client

[2017-09-25 03:28] mockitoguy opened #432 "Documentation for Shipkit 1.0 release"
Let's sort out the documentation before 1.0 release.

 - [x] - move all documentation from wiki to checked-in markdown files to help with contributions
 - [x] - update history, conference links, meetup links
 - [x] - update README.md
 - [x] - update how-shipkit-works.md
 - [x] - make bootstrap use getting started guide, retire bootstrap wiki

After the release we will continue working on the docum

[2017-09-25 03:28] szczepiq commented on #432
I am going to chip away the TODOs until we are ready

[2017-09-27 13:10] szczepiq commented on #403
I think this is fixed so I'll try to reenable upgrade downstream

[2017-09-27 13:12] szczepiq commented on #409
Hey!

Sorry we didn't reply earlier. Subprojects just makes more sense :) It is weird that some source code is in "src" and some source code is under "subproject/src". It makes the top level directory cleaner.

Please suggest changes to our documentation if you think it is useful!

[2017-09-27 13:12] szczepiq commented on #409
I will close it if that's ok ;)

[2017-09-27 13:12] #409 closed

[2017-09-27 13:21] szczepiq opened #435 "Combine test-downstream and upgrade-downstream features"
### Problem

Currently the downstream projects that we test against is a separate list than project that we perform downstream upgrade. It feels that there should be single configuration for this.

### Brainstorming

This is just brainstorming, the idea is to combine the features cleanly, without coupling them too much. It feels that when we have completed the downstream test, it is a good candida

[2017-09-27 13:21] szczepiq commented on #435
@wwilk, thoughts?

[2017-09-27 13:25] szczepiq opened #436 "Make "upgrade-downstream" plugin work well when applied in subproject"
The plugins should be flexible so that users can apply them in subprojects if needed. This will allow us to apply "upgrade-downstream" plugin in the same subproject as "test-downstream".

[2017-09-27 13:25] szczepiq commented on #392
Duplicate of #432

[2017-09-27 13:25] #392 closed

[2017-09-27 13:43] mockitoguy opened #437 "Add "contributorTestRelease" task to simplify testing"
### Problem

- Contributors cannot use "testRelease" task because it requires credentials
- Downstream testing task cannot use "testRelease" for the same reason

Instead they need to use complicate sequence of tasks:

[code]

### Solution

Let's create "contributorTestRelease" task that wraps other tasks similarly how "testRelease" does it.

- [ ] - add "contributorTestRelease" task.
- [ ] - updat

[2017-09-27 13:47] szczepiq opened #438 "upgradeDownstream fails when executed twice"
When I ran upgradeDownstream twice I got an error. Let's make the task work gracefully if executed few times. This is especially useful if the first execution failed, we are retrying.

[code]

[2017-09-27 13:58] szczepiq commented on #363
Fixed.

[2017-09-27 13:58] #363 closed

[2017-09-27 15:38] szczepiq commented on #403
Here's what I think we need to do to fix it:
 - fix #436. It could be as easy as changing CiUpgradeDownstreamPlugin so that it
    - applies CiReleasePlugin to root project
    - but still applies UpgradeDownstreamPlugin to current project
 - in Shipkit, move the 'upgrade-downstream' plugin so that it is applied in the subproject
 - test in shipkit by calling './gradlew upgradeDownstream'

@epeee,

[2017-09-27 19:12] epeee commented on #438
thx for reporting this one! I also had the same problems while testing locally.

[2017-09-27 19:27] #415 closed

[2017-09-28 04:40] #436 closed

[2017-09-28 05:21] #403 closed

[2017-09-28 15:47] mockitoguy opened #443 "upgradeDownstream creates loop of pull requests"
### Problem

upgrade-downstream plugin is amazing! It would be great if it worked better for this scenario:
1. pull request with nice change opened to shipkit
2. we merge it
3. new version released, upgrade downstream creates "version upgrade" pull request to shipkit
4. we merge "version upgrade" pull request
5. step 3 is now repeated, creating a loop of merge + pull request without any changes.

[2017-09-28 21:18] wwilk commented on #419
OK I'm starting to work on this, since lack of it seems to create an issue #443

[2017-09-28 21:18] wwilk commented on #419
@szpak Please let me know if you already started working on it

[2017-10-01 06:25] szczepiq opened #450 "Emit nice summary at the end of the release"
### Problem

When release build ends, the user does not know what happened. We also use "performRelease" for demos / bootstrapping. Newbie users will use that task.

### Solution

It would be nice to emit some kind of summary message at the end end of the "performRelease" task.

Here's what we had in bootstrap project in the past. Let's add something like that to Shipkit performRelease task.

[cod

[2017-10-01 06:32] epeee commented on #450
This one seems to be related to #364.
I already started working on it some time ago (exposing the release notes).

[2017-10-01 06:46] szczepiq commented on #450
Oups, duplicate :) I will close the other.

[2017-10-01 06:46] szczepiq commented on #364
Let's track in #450

[2017-10-01 06:46] #364 closed

[2017-10-01 08:25] StefMa commented on #410
Hmm.. the gradle version of the project have nothing todo with the gradle version from users, right? 🤔

The only thing is that we *can compile* with gradle 2. We use all gradle 2 APIs in shipkit.
Which means if we use gradle 4 we can compile/build/use all APIS from gradle 4.
But that doesn't mean that users have to use at least gradle version 4.. or am I wrong? 🤔

[2017-10-01 08:36] StefMa opened #452 "Wrong badge type in release notes generated by shipkit gradle plugin"
While working on #446 I found out that the release notes have the wrong badge "name".
shipkit is published to the gradle portal. But it shows "bintray".

See https://github.com/mockito/shipkit/blob/master/docs/release-notes.md

<img width="868" alt="bildschirmfoto 2017-10-01 um 10 35 06" src="https://user-images.githubusercontent.com/10229883/31053034-3d433be8-a694-11e7-8388-8a4d8f7b2177.png">

We

[2017-10-01 09:09] szpak commented on #410
@StefMa You are not. There is a risk to have some glitches (especially for plugins written in Groovy - Shipkit is in Java), however, I created regression tests to confirm that it (at least basic scenarios) works fine. Nevertheless, it wasn't thoroughly tested and I understand that Szpepan is careful about that.

On the other hand, @szczepiq wouldn't it be a breaking change (according to your defin

[2017-10-01 09:45] StefMa opened #453 "Introduce kotlin to the project"
I'm a fan of kotlin.
So I wanted to ask how familiar are you guys with that? And if you are familiar can we introduce it to the project? 🤔

I think it will be bring way more readability to the code.
Since the plugin delivers artifacts no "user" needs to use it as well.
Additional. Currently there is a real hype/run on kotlin. Maybe we can get more contributors to the project if we use it? 🤔

Of co

[2017-10-01 09:58] wwilk commented on #453
Hi Stefan, there was an idea to use Kotlin a few months ago. I like the advantages, it seems also that Kotlin can be compiled into Java 6 (see https://kotlinlang.org/docs/reference/faq.html#does-kotlin-only-target-java-6), for which we want to have compatibility.

On the other hand what about current Java code? Do we migrate it or it stays? Migration would take a lot of time. If we keep it, it may

[2017-10-01 13:39] szczepiq commented on #453
Interesting suggestion! I like Kotlin, too.

Here's my feedback:
 - Kotlin can attract some contributors while discouraging others (+1 to @wwilk comment)
 - Learning new language for existing contributors is a distraction from the goals of the project. I think I'd rather us to move to Java 8 first.
 - Kotlin is not yet mature. We don't know yet if the compatibility promises will be kept

Let's kee

[2017-10-01 13:42] szczepiq commented on #452
Very good point. It looks like the publication repository is configurable but not quite the badge. Do you want to take a stab at this problem? We offer guidance where to find it in the codebase!

[2017-10-01 13:47] szczepiq commented on #376
Bootstrap project is being reworked completely. See https://github.com/mockito/shipkit-bootstrap/pull/19

Closing this one...

[2017-10-01 13:47] #376 closed

[2017-10-01 13:47] szczepiq commented on #413
I think this was fixed. @szpak, reopen if needed!

[2017-10-01 13:47] #413 closed

[2017-10-01 13:48] szczepiq commented on #386
This problem has been fixed. The upgrade-downstream uses correct user now: https://github.com/mockito/shipkit/pull/451

[2017-10-01 13:51] szczepiq commented on #368
Completing this ticket can help #443. We could customize the pull request message sent from Shipkit to Shipkit to contain "[ci skip-release]".

@ArturSkowronski, are you still interested in working on this? :)

[2017-10-01 13:55] szczepiq commented on #426
Hey @nallar, can you help us identify next steps to get resolution on this ticket? Many thanks!

[2017-10-01 13:57] szczepiq commented on #362
I would love Shipkit to have Medium blog-style page.

[2017-10-01 14:10] szczepiq commented on #22
Hmmm, can we check if this is enabled for test code? I just stumbled upon PluginSpecification class that had incorrect whitespace and Checkstyle did not detect it.

Let's keep the house clean! :)

[2017-10-01 14:21] szczepiq commented on #368
One more suggestion: I think if we include "[ci skip-release]" string in the PR title, for PRs generated from Shipkit to Shipkit, we will effectively complete #443.

[2017-10-01 14:37] epeee commented on #22
I will have look at this one.

[2017-10-01 14:42] szczepiq commented on #416
Thanks for reporting!

- shipkit.gitHub.url is not the push url but the url of the GitHub API that we talk to when getting issue information, etc. Let us know or suggest a fix if it is not documented well enough.
- currently, we don't have a documented way to push/test to the local repo on filesystem. In theory, one could figure it out and set the url on the GitPush task, etc. However, nobody test

[2017-10-01 14:42] #416 closed

[2017-10-01 14:43] szczepiq commented on #62
I believe this is completed. Thank you guys!

[2017-10-01 14:43] #62 closed

[2017-10-01 14:47] szczepiq commented on #22
Thank you!

[2017-10-01 15:56] StefMa commented on #452
Yeah. Why not 🙃
Would be great if you can say me some class names where I can find that snipped.

Additional to that.
How do we want to behave with that badge? 🤔
I mean the repo can be "anything".
It can be published to bintray, sonartype, gradle plugin portal, own maven repo...
I think we should agree on some for a badge (or get rid of the badge? 🤔 )
Should we also try to parse the URL to find ou

[2017-10-01 16:13] epeee commented on #452
@StefMa currently, the badge is generated in
https://github.com/mockito/shipkit/blob/514ac7a43af0e3513a83f7518221086b203d4b45/subprojects/shipkit/src/main/groovy/org/shipkit/internal/notes/format/DetailedFormatter.java#L78-L84

[2017-10-01 17:03] szpak opened #460 "Reduce number of open PR requests created automatically"
# Description

Currently Shipkit creates a separate PR in a downstream project for every released version. With high pace of development in a situation they are not merged/closed regularly there could be a number of open PRs which reduces visibility and they have to be closed manually.

# Proposed solution

 - Simple version. Close old PR when a new one is created.
 - More sophisticated version. F

[2017-10-01 17:19] szczepiq commented on #460
Neat idea! Do you want to take a stab at it?

Updating PR has slightly better UX but it may be more problematic to implement/add complexity. +1 to closing PR.

[2017-10-01 17:38] szpak commented on #460
I consider that. It's quite separated topic, so maybe I will have a chance to practice Kotlin a little bit :).

[2017-10-01 19:19] epeee commented on #438
Problem 1 can be solved in different ways.
The easiest solution would be to just delete the directory in the `TaskAction` of `CloneGitRepositoryTask`. That's not great but it will work.
The 2nd solution would be to have a look at the status of the directory/repo and just do a pull if it is not modified locally.

Problem 2 seems to be solved by moving upgrade-downstream to the subproject (because i

[2017-10-01 22:18] nallar commented on #426
I've been experimenting some more.

The most reliable solution might be to delete all files which aren't .xml, .jar or .zip, and keep a whitelist of a few specific extra files not to delete.

Otherwise the list of files which change is quite different on different gradle versions... :(

Would it be worth opening an issue against gradle and asking if it would be possible to make gradle more friendl

[2017-10-01 22:31] wwilk commented on #460
Closing the previous PR would be quite simple - basically two GH API calls, one for all pull requests, and then another to close some of them (usually one). It would be also good to clean up the mess (delete the branch).

The second solution - first check if there are open PRs. If not then we don't need to do anything. Otherwise we find the latest PR (GH API call), checkout the proper branch (easy

[2017-10-01 22:34] wwilk commented on #452
Thanks for submitting this issue @StefMa !

There is also another issue with Bintray badge in Powermock. The link doesn't work because Powermock customized version name in the link (it's eg. "powermock-1.7.1") while we just use project version. I will work on both of these issues in the next days.

[2017-10-02 17:10] nallar commented on #460
It should be possible to do the second solution, but reset to the master branch before doing the update and force push with lease to the PR branch. This would avoid building up repeated update commits and avoid merge conflicts.

[2017-10-02 17:56] ArturSkowronski commented on #368
Yes, sure. I have crazy busy time recently... Will do it today/tomorrow. Sorry for the lag!

[2017-10-02 18:02] #22 closed

[2017-10-02 21:08] szpak commented on #460
@wwilk If the first solution can be delivery much faster it would be probably good to have it up and running. Then, that issues could be closed and the another enhancement could be created with "please contribute!" label waiting for someone interested in that feature having enough time to play with it.

[2017-10-03 05:08] epeee commented on #386
It looks like we are still not using the generic user, see [commit](https://github.com/mockito/shipkit/pull/466/commits/1a0b3e0dc15e4dbf5289773b3ed9ed6182aed0b3)
I will provide a pr soon.

[2017-10-03 05:16] StefMa commented on #427
Since #446 is merged. This can be closed.

[2017-10-03 06:15] StefMa opened #469 "Add java code style to project"
While working on #468 I found out that my IDE (IntelliJ) wants to `Reformat Code` and `Rerange Code` all the time.
I have a different code style in my IDE and a shortcut with <kbd>CMD</kbd>+<kbd>S</kbd> (macOS) which automatically runs
* Optimize Imports
* Reformat Code
* Rerange Code

... anyway.

With IntelIJ it is possible to say that we want to use the code style from the project.
The project

[2017-10-03 06:38] StefMa commented on #453
I would definitely say that it should stay. Kotlin was designed from the ground up to have 100% compatibility with java. So there is really no need to "migrate everything now".
I would suggest to follow the "step by step" principle.
Just keep the current java files. New classes/files should be developed in Kotlin. If someone have time (or fun) the can convert existing Java implementations into Kot

[2017-10-03 17:31] #386 closed

[2017-10-03 17:53] szczepiq opened #473 "Fix Shipkit so that it can consume latest Shipkit"
More details: https://github.com/mockito/shipkit/pull/446#issuecomment-333925278

Let's get Shipkit dogfood latest version!

[2017-10-03 17:53] szczepiq commented on #473
@StefMa, can you take a stab at it? :)

[2017-10-03 21:48] ArturSkowronski commented on #368
@szczepiq I created PR: https://github.com/mockito/shipkit/pull/474. It is closed for now due to necessary changes from https://github.com/mockito/shipkit-example/pull/109, but I will be grateful for taking a look on implemented solution and of course on PR from shipkit-example :)

[2017-10-04 17:39] #473 closed

[2017-10-04 21:45] wwilk opened #478 "Bintray/Gradle URLs"
# Problem
Generating and customization of URLs, in this case for artifact repository (Bintray or Gradle plugin at the moment), but the similar problem would apply to other areas (eg. GitHub vs other VCS's).

# Use cases

1.  Release notes - we need an URL of a release in the repository for the badge, eg "https://plugins.gradle.org/plugin/org.shipkit.java/0.9.95" or "https://bintray.com/powermock/m

[2017-10-05 22:47] nallar commented on #469
What about having gradle handle the formatting using [spotless](https://github.com/diffplug/spotless)?

This would allow you to ignore what your IDE does during development, and run `gradle spotlessApply` before committing.

[2017-10-06 05:34] StefMa commented on #452
Just to keep track of it.
I've created a issue in the shields project.
See https://github.com/badges/shields/issues/1125

[2017-10-06 05:34] StefMa commented on #478
Just for reference #452

[2017-10-06 21:47] #427 closed

[2017-10-06 21:48] wwilk commented on #450
@epeee  Do you want to finish this one or is still for "Please contribute"?

[2017-10-06 21:56] wwilk commented on #435
@szczepiq Yeah, it certainly needs to be done. I will work on it soon.

[2017-10-06 21:58] wwilk commented on #426
@nallar Sure, it sounds good, maybe there is a tribal knowledge in Gradle how to do it :) Would you do it?

[2017-10-06 22:00] wwilk commented on #432
This is related to #362

[2017-10-06 22:02] wwilk commented on #435
Important to consider #438 when working on this one

[2017-10-06 22:02] wwilk commented on #438
It should be fixed while doing #435

[2017-10-06 22:04] wwilk commented on #373
Related to #435 , I will consider the suggestions made here when working on it

[2017-10-06 22:09] wwilk commented on #271
It seems that this is only useful for rare scenarios where you would test **ciReleasePrepare** locally. I don't think it's worth messing up the task space with tasks that have no significant use for the customers. Maybe a bash script for developers?

[2017-10-07 01:22] mockitoguy opened #487 "Include compare publications plugin in org.shipkit.gradle-plugin"
I suggest we implement @epeee's suggestion from: https://github.com/mockito/shipkit/pull/479#discussion_r142850584

@wwilk, thoughts?

[2017-10-07 05:39] szczepiq opened #490 "bintrayUpload fails when testing shipkit-bootstrap"
When following steps from https://github.com/mockito/shipkit-bootstrap project I bumped into following issue:

[code]

[2017-10-07 13:24] szczepiq commented on #419
@wwilk, it seems the issue is not yet fixed, even though we added compare publications plugin. I saw the PR opened for a documentation-only change (markdown files). Pull request: https://github.com/mockito/shipkit/pull/492

[2017-10-07 13:37] szczepiq opened #493 "Make versions in release notes linkable"
## Problem

Currently, the release notes is a flat list with no way to link to specific version. This prevents us from having the automated pull requests include a link to release notes with specific version. It would be really useful if description from [automated pull request](https://github.com/mockito/shipkit/pull/492) included a link to the version in the release notes.

This would be helpful

[2017-10-07 13:38] wwilk commented on #419
Yeah it seems that ComparePublications finds differences in pom when there is none. I'll investigate

[2017-10-07 14:25] szpak commented on #419
@wwilk No, I haven't started working on it yet.

[2017-10-07 15:10] epeee commented on #450
@wwilk I will most likely start working on it tomorrow.

[2017-10-07 22:09] #490 closed

[2017-10-08 10:48] epeee opened #498 "'gradlew tasks' fails since 'org.shipkit.compare-publications' is applied to shipkit build"
let's make it possible to execute `tasks` again.

In order to reproduce this one just execute `./gradlew tasks` on master.

[code]

[2017-10-08 18:10] szczepiq commented on #478
The problem is nicely described, thank you!

I suggest to keep things simple. On the high level:
 - org.shipkit.java provides sensible default
 - org.shipkit.gradle-plugin requires to the user to configure the repo

### Powermock

In PowerMock's shipkit.gradle, we can have:

[code]
Above looks pretty good to me and offers decent way of configuring it for end users.

### Shipkit

In shipkit we have

[2017-10-08 20:33] szczepiq opened #500 "[upgrade-downstream] automated commit uses Travis CI user"
### Problem

Automated commit triggered by upgrade-downstream plugin uses Travis CI user. In comparison, the automated commit for release notes is cleanly attributed to shipkit-org. See the screen shot from [commits page](https://github.com/mockito/shipkit/commits/master).

<img width="680" alt="screen shot 2017-10-08 at 1 30 33 pm" src="https://user-images.githubusercontent.com/24743/31320655-394

[2017-10-08 22:18] szczepiq commented on #460
Upgrade downstream creates a lot of PRs. Let's try to limit amount of PRs open, if possible. It will add complexity but on the other hand a lot of closed PRs will spoil the history of PRs, will get searching through PRs harder.

I'm changing my vote, I'm +1 to a solution updates the existing PR.

One more consideration: we can add an option for upgrade-downstream to wait for PR build to complete a

[2017-10-09 02:34] szczepiq opened #503 "Improve error message of fetchReleaseNotes"
### Problem

fetchReleaseNotes task fails with exception message that is hard to grok. It happens when the previous version from 'version.properties' file does not have equivalent tag in git repo.

It is a fairly common unhappy path. Build output:

[code]

### Steps to reproduce

Change the "previousVersion" in "version.properties" to some random version that does not have tag in git repo. Run "./

[2017-10-09 22:33] wwilk commented on #498
There is a timing issue. Applying **comparePublicationsPlugin** adds a publication, that in turn creates **generatePomFileForJavaLibraryPublication** task. Seems that this task is created later than **comparePublications** task is configured, that's why there is this exception. I'm not sure yet why that is. I've investigated a little and two possible reasons come so far:
- **generate~** task is cr

[2017-10-10 05:36] epeee commented on #500
This one is caused by missing "git config --local user.name".
Let's have a look at `GitSetupPlugin` and check if we can reuse it. This plugin already configures the things missing in `UpgradeDependencyPlugin`.

[2017-10-13 04:49] #380 closed

[2017-10-15 16:21] mockitoguy opened #512 "CI release has failed"
It seems that the CI job has failed: https://travis-ci.org/mockito/shipkit/builds/288214545

[2017-10-15 18:50] epeee commented on #512
This one some seems to be related to #395.
The first failing [build](https://travis-ci.org/mockito/shipkit/builds/288214072) failed with the same error message as the one in the linked issue.

[code]

[2017-10-15 22:25] mockitoguy opened #513 "Automated commit message should have CI build ID"
### Problem

While working on #512 I couldn't work out why the release build was failing. I think it would be really valuable to include CI build ID in the commit message (or even better: the link to CI job).

### Suggested solution

Current:

[code]

Desired:

[code]

### Implementation

Let's add some code to TravisPlugin that update the commit message postfix. I will put together an experimenta

[2017-10-15 22:35] mockitoguy commented on #512
I'm not sure why it is failing. I restarted the build and it failed with:

[code]

However "git log --pretty=%ad --date=iso v0.9.115 -n 1" command works for me on clean checkout. Is Travis CI healthy? It looks like it does not see the tag but the tag does exist.

Can you take a look at it? I should have some time middle next week to look into this.

BTW. I created new ticket #513 to help debugging

[2017-10-16 05:08] epeee commented on #512
Yes, I will have a look at it.

[2017-10-16 18:14] epeee commented on #512
Luckily, I was able to reproduce it locally.
v0.9.115 tag was not available after updating master.
After calling "git fetch --tags" the missing tags appeared and I was no longer heading into the problem described above.
It looks like the tag (v0.9.115) is not set on master? In fact we do have two 0.9.115 commits (one of them on master, but the oder one seems to have the tag).

[2017-10-16 18:50] epeee commented on #512
Travis uses
"git clone --depth=50 --branch=master https://github.com/mockito/shipkit.git mockito/shipkit"
After using this command the tag is also missing locally.

[2017-10-16 19:01] epeee commented on #512
I'd suggest to go for a "git pull" right before the git push. It looks like this will solve most of our problems with pr's being merged right after each other. Any concerns about this solution?

[2017-10-18 02:22] mockitoguy commented on #512
Thanks for investigating. Looking at it right now.

[2017-10-18 05:46] mockitoguy commented on #512
This should fix the problem: #515

[2017-10-18 17:56] myniva opened #516 "Setting contributors explicitly breaks task `updateReleaseNotes`"
If the contributors are set explicitly in the ShipKit configuration, the `updateReleaseNotes` task fails with this exception:

    A problem was found with the configuration of task ':updateReleaseNotes'.

See https://github.com/myniva/gradle-s3-build-cache/commit/73789368015a91c003c242967889102f012795d7 and https://travis-ci.org/myniva/gradle-s3-build-cache/builds/289614934 for example.

[2017-10-18 19:39] wwilk commented on #516
@myniva Thanks for reporting it! I'll investigate :)

[2017-10-19 05:13] #516 closed

[2017-10-20 11:56] #512 closed

[2017-10-27 20:32] wwilk opened #526 "Propagating simple code changes along with dependency update"
# Problem
Sometimes we have a simple code change that needs to be propagated to multiple repositories and it's annoying to do it manually.

# Solution
What if have a simple code update possible with every downstream upgrade?
User would provide us with parameters:
- **fileRegex** - pattern for filtering out which files should be upgraded
- **replaceRegex** - pattern to find statements to be replace

[2017-10-29 13:57] mockitoguy opened #534 "Improve documentation post 1.0 release"
Suggested updates to the documentation post 1.0 release

- version-bumps.md
	- document the plugin id and if it can be used standalone
	- document the task name and why it is useful to use
	- integration test with a project that only uses version bumps

- automated-release-notes.md
	- what tasks generate release notes
	- document that we push the release notes to GitHub and add github settings to

[2017-10-29 14:16] mockitoguy opened #536 "Unnecessary release published even though ci-skip was used"
Release 0.9.125 contains no features, even though I have used "[ci skip]" in the merge commit when merging the PR. Let's identify why. Release notes:

**0.9.125 (2017-10-29)** - [1 commit](https://github.com/mockito/shipkit/compare/v0.9.124...v0.9.125) by [shipkit-org](https://github.com/shipkit-org) - published to [![Bintray](https://img.shields.io/badge/Bintray-0.9.125-green.svg)](https://plugin

[2017-10-30 20:28] wwilk commented on #368
Fixed by #474

[2017-10-30 20:28] #368 closed

[2017-10-30 21:11] ArturSkowronski commented on #375
Hey @mockitoguy , I'd like to take this task :) I hope it won't take me so much time as previous one.

After a talk with @wwilk we found following things to do in this task:
- Update docs about authorization with GH_WRITE_TOKEN and possible fallback to default git configuration
- Catch exception and check if it's message follow patter containing "Authentication failed"
- In this case, check if GH_

[2017-10-30 22:13] wwilk commented on #536
I did a short investigation, maybe it helps to someone investigating it further.

It seems that ReleaseNeeded uses "[ci skip-release]" instead of "[ci skip]". Travis should ignore such commits, according to [this link](https://docs.travis-ci.com/user/customizing-the-build/#Skipping-a-build). It doesn't for some reason. It seems that "[ci skip]" was inside the description of commit, instead of the

[2017-11-05 09:10] epeee commented on #498
This one is fixed now (#538).

[2017-11-05 09:10] #498 closed

[2017-11-05 14:45] wwilk commented on #443
This one is fixed with build: https://travis-ci.org/mockito/shipkit/builds/297167721
First version not affected by the bug: 0.9.139

[2017-11-05 14:45] #443 closed

[2017-11-05 14:46] wwilk commented on #419
Fixed in version 0.9.139

[2017-11-05 14:46] #419 closed

[2017-11-06 22:56] TimvdLippe commented on #353
We were trying to publish a new minor version of Mockito today and this issue is very tedious to work around. Would like to see this fixed soon to prevent needless builds + commits + trying to publish a version

[2017-11-07 21:37] epeee commented on #500
Automated commit by upgrade-downstream plugin no longer uses Travis CI user, see https://github.com/mockito/shipkit/commit/ca08a26ab1798e420754a9cdc137ec6e6acaffb6

[2017-11-11 14:36] TimvdLippe opened #566 "fetchContributors always run, even when not releasing"
The task `fetchContributors` is always run, even when I am not calling `performRelease`. This happens when I execute `./gradlew clean test` or `./gradlew clean build` for example. Would be great if this task is not executed if I am not invoking any release task.

Originally filed at https://github.com/mockito/mockito/issues/1248

[2017-11-12 21:30] TimvdLippe opened #567 "Automatically update version numbers of newly added @since tags"
When we develop a new API, we add `@since` to note in which version this is released. However, we do not know what specific version it will be, as Shipkit handles that. In other words, I would like 2 improvements:

1. Add possibility to specify`@since NEXT_VERSION`, which Shipkit (as part of the release process) updates to the actual version number
2. (Optional) Add a check that every new API has

[2017-11-14 14:29] micd commented on #493
Hello. I can help with that, but I need someone to tell me how to contribute.

[2017-11-14 18:50] wwilk commented on #493
Hi @micd. Thanks for the interest in the project! Let me know how I can help you.

[2017-11-15 10:22] micd commented on #493
@wwilk thank you for response.

What steps should I take now to contribute?
Will you assign this issue to me?

[2017-11-15 18:31] wwilk commented on #493
@micd The simplest way to do it would be to:
- clone https://github.com/mockito/shipkit-example
- I tested and I didn't need to set any env properties, but if there is sth wrong with my setup you can find details here: https://github.com/mockito/shipkit/blob/master/docs/getting-started.md
- run ./gradlew updateReleaseNotes -Ppreview

You should be able to see sth like this:
[code]

Now when you re

[2017-11-15 19:00] #353 closed

[2017-11-15 21:41] wwilk commented on #493
About assignment - I can't do it because you are not part of the team on GH, but no worries, consider it yours :)

[2017-11-16 15:05] micd commented on #493
@wwilk
What does it mean to make it linkable? It it just '#### ' prefix for version or do we need some additional things/tags in the release notes text?

[2017-11-16 19:39] wwilk commented on #493
Basically it means that you can add sth like "#1.2.3" to the URL, and it would link to these release notes. I'm not sure about the proper syntax for it in markdown, you can fork Shipkit and edit this file directly in GitHub:
https://github.com/mockito/shipkit/blob/master/docs/release-notes.md

[2017-11-18 13:24] epeee commented on #566
Thx for reporting this one.
It seems to be related to #345.

[2017-11-19 18:03] mockitoguy commented on #566
Closing as duplicate of #345. @TimvdLippe, thank you for reporting!!! @epeee, do you want to take a stab at #345?

[2017-11-19 18:04] mockitoguy commented on #345
Also filled in Mockito project: https://github.com/mockito/mockito/issues/1248

@epeee, do you want to take a stab at it? :) It would be great!

[2017-11-19 18:04] #566 closed

[2017-11-19 21:03] #354 closed

[2017-11-19 21:24] epeee commented on #345
yes, I will work on this one soon.

[2017-11-24 13:21] micd commented on #503
Can your tell me where is the entry point in the code? @wwilk @mockitoguy

[2017-11-24 22:41] wwilk commented on #503
@micd The classes you should take a look at are UpdateReleaseNotesTask and ReleaseNotesPlugin. But the best way to start it by reproducing the bug the way @mockitoguy suggested. You can use "-s" parameter to get the stacktrace of the errors which will tell you the exact entry point.
Here are other useful command line parameters:
https://docs.gradle.org/current/userguide/gradle_command_line.html

[2017-11-27 05:39] #209 closed

[2017-11-27 14:54] micd commented on #503
One possible solution is to catch and parse `GradleException` in `FetchReleaseNotesTask.fetchReleaseNotes`.
Another is to catch and parse `GradleException` in `FetchReleaseNotes.fetchReleaseNotes`.
There's also possibility to go deeper, till `DefaultProcessRunner.executionOfCommandFailed`, but I think it's too deep.

In all situation if message contains "ambiguous argument 'v0.0.2': unknown revisi

[2017-11-27 23:09] wwilk commented on #503
Certainly not DefaultProcessRunner. It shouldn't know anything about git, not every command that we may run with it is related to Git. Since RevisionDateProvider might be in the future used for different purposes, I think it would be best to catch this error there, throw a custom exception (like MissingRevisionException), and then catch it in FetchReleaseNotes and rethrow as GradleException.

I wo

[2017-11-28 13:49] micd commented on #503
Sounds good. Will try it.
Thanks

[2017-12-02 21:39] #375 closed

[2017-12-03 06:07] mockitoguy commented on #375
Thank you @ArturSkowronski for contributing!

[2017-12-04 13:46] ArturSkowronski commented on #375
Thanks for merging @mockitoguy :) I'll add some tests in another PR :)

[2017-12-09 18:28] epeee opened #584 "'published to' link in release notes is broken"
e.g. see https://github.com/mockito/mockito/blob/release/2.x/doc/release-notes/official.md
the generated 'published to' link is https://bintray.com/mockito/maven/mockito2.13.0 -> it should be https://bintray.com/mockito/maven/mockito/2.13.0
The link is also broken in shipkit release notes: https://plugins.gradle.org/plugin/org.shipkit.java0.9.148 -> should be https://plugins.gradle.org/plugin/org.

[2017-12-09 18:31] epeee commented on #584
it looks like this one is broken since #522

[2017-12-10 01:01] smoothreggae commented on #105
The Gradle team recently [integrated](https://github.com/gradle/gradle/pull/2409) the [japicmp-gradle-plugin](https://github.com/melix/japicmp-gradle-plugin) into their build to do something similar. Would this help meet some of your needs?

[2017-12-10 08:23] metlos commented on #105
Japicmp is a good tool for detecting binary incompatibilities but IMHO is a little bit lacking in terms of pluggability and extensibility.

The above mentioned https://diff.revapi.org uses a custom "reporter" to output the findings in json that is then consumed by the webpage. The Spoon project for example uses Revapi to check the API changes in all of their PRs and uses a single Freemarker templa

[2017-12-10 11:39] epeee commented on #584
fixed, see the linked pull requests.

[2017-12-10 11:39] #584 closed

[2017-12-10 11:49] wwilk opened #590 "Upgrade downstream improvements"
Here are a few problems with the current design of version upgrade:

1. When we update open pull request, we don't update the title of it. Two solutions I can think of:
- update the title too, it would require another task and GitHub API call
- use title without version, eg "Shipkit upgraded". Simpler but it would make it harder to investigate history of closed pull requests, I guess.

2. Merge pu

[2017-12-10 15:43] mockitoguy commented on #105
Thank you for suggestions and links. Indeed, revapi looks interesting!

[2017-12-11 18:37] epeee commented on #345
It looks like the chicken-and-egg problem no longer exists since ComparePublicationsPlugin is no longer using the pom. Therefore we could hit github only if a release is needed now, isn't it?

Removing the following lines would solve the problem mentioned in this issue.
https://github.com/mockito/shipkit/blob/0199b94152ff99ecbf65794f6ea666e21ddfc4ab/subprojects/shipkit/src/main/groovy/org/shipkit/

[2017-12-13 11:32] micd commented on #57
Simply and effective solution is to add new properties file which will include the list of ignored users and checking them when generating release notes and pom contributors.

Second one is that we can add argument with ignored users when calling gradle plugin from command line. It may be painful for end user if there's a lot of them. On the other hand you can set which user or commit should be ig

[2017-12-13 21:34] wwilk commented on #57
We already have one properties files, no need to create a new one. Having command line argument is not very convenient. It shouldn't be something that changes with every run. More like a blacklist.

It would be best to add it to ShipkitConfiguration.

[2017-12-14 10:12] jhoglin opened #593 "gitHub.url not used"
I am afraid it might be a misunderstanding and misuse from my side, please just Point me in the right direction and Close this issue if so.

But I'm trying to use shipkit against GitHub Enterprise so I have set the settings in `shipkit.gradle`
[code]

When I execute `gradle performRelease`

I can see in the output that it uses the api part to fetch things for the release notes:
[code]

But when al

[2017-12-14 11:54] jhoglin commented on #593
I see now after digging around in the code that this method must be the culprit:

https://github.com/mockito/shipkit/blob/44b931f648eef85e26b7f2e15449e45ba60952fa/subprojects/shipkit/src/main/groovy/org/shipkit/internal/gradle/git/GitHubUrlBuilder.java#L25

Both ways through that method assumes its github.com we talk to.

[2017-12-14 17:11] jhoglin commented on #593
I think it will be good practice to fix/implement this my self. So I’ll try that and will be back with a PR soon, (hopefully)

[2017-12-15 06:05] mockitoguy commented on #593
Thank you very much for reporting and submitting the PR! I left feedback but I'm really looking forward to merging.

[2017-12-18 08:43] jhoglin opened #595 "Hardcoded url to github"
There are hardcoded url to github.com. The setting `conf.getGitHub().getUrl()` should be used instead.

https://github.com/mockito/shipkit/blob/514ac7a43af0e3513a83f7518221086b203d4b45/subprojects/shipkit/src/main/groovy/org/shipkit/internal/gradle/notes/tasks/UpdateReleaseNotes.java#L53

https://github.com/mockito/shipkit/blob/514ac7a43af0e3513a83f7518221086b203d4b45/subprojects/shipkit/src/main/

[2017-12-20 01:52] magneticflux- opened #596 "Clarify version auto-increment situations and versioning workflow"
I became a little bit confused reading the documentation on the auto-increment feature. It states that the version is incremented when "there are changes in the binaries when compared to previous version"and that "There are multiple options how to deal with version bumps", but it only gives some vague examples. I can see that the `PATCH` number incremented when I change minor things, but does the

[2017-12-20 08:40] wwilk commented on #596
Hello. Good question! I will make sure that we extend this part of the documentation.

At the moment we only automatically update the `PATCH` part. If you want to update `MAJOR` or `MINOR` you need to do it manually in the version.properties file.

Also we only update `PATCH` if there were any changes in binaries. See [this task](https://github.com/mockito/shipkit/blob/master/subprojects/shipkit/s

[2017-12-20 08:56] mockitoguy commented on #432
This ticket is done!

[2017-12-20 08:56] #432 closed

[2017-12-20 14:07] magneticflux- commented on #596
Thanks for the quick response! Okay, that's understandable!

As far as detailed `jar` diffs go, have you looked into getting all publicly visible ASM data from the jars? If you had a set of all public API "things" (methods+sigs, classes, variables), you could perform union / intersection / whatever operations on them to find changes. That would ensure that even the smallest change, like modifying

[2017-12-20 15:24] magneticflux- commented on #105
@metlos Japicmp looks like exactly what is needed, it even comes with a `--semantic-versioning` that tells you which version to bump when comparing two jars!

Config options in Gradle Japicmp that fit requested features:
- `onlyBinaryIncompatibleModified` - Outputs only classes/methods with modifications that result in binary incompatibility. Type: _boolean_. Default value: _false_
- `packageInclu

[2017-12-20 16:53] wwilk commented on #596
We already compare sources jars, basically we just compare each file with its previous version, so any change in code (like modifying a method's signature) will be discovered. We don't use external tools for that, just a simple comparison of the content of files. You can see [ComparePublications](https://github.com/mockito/shipkit/blob/264e1478dcf12f84ad0794c0425fa30fbdf528e7/subprojects/shipkit/s

[2017-12-20 17:12] magneticflux- commented on #596
I investigated a suggested library and shared my findings here: https://github.com/mockito/shipkit/issues/105#issuecomment-353092660. I think it shows a lot of promise! Unfortunately, I don't have much Groovy/Gradle plugin experience right now so I'm a bit reluctant to take a shot at replacing your current method since it's working well enough currently.

[2017-12-20 19:53] metlos commented on #105
I'm obviously biased because I'm the author of Revapi, but :-)

While japicmp certainly fits the bill, I really do think that Revapi might be a better choice because of its pluggable design. Japicmp is a single purpose tool with not much choice when it comes to reporting, while Revapi was from the beginning designed with pluggable"reporters".

I also think that reducing the compatibility to just b

[2017-12-21 13:08] wwilk commented on #596
But in this comment you mentioned you are talking about Japicmp, and here about scala/jardiff?

What would be the benefit of using scala/jardiff comparing to what we currently have? The tool looks good, although I think:
- it's more readable for the user if the diff is done on sources, not bytecode IMHO
- seems that it's mostly command line tool and it's not in maven central which makes it harder

[2017-12-22 10:44] micd commented on #57
I've done some research.

As @wwilk proposed it would be best to add new ShipkitConfiguration field for ignored contributors
I have two ideas for using it when generating pom contributors and release notes.

We can extend `IgnoredCommit` predicate to ignore commits with ignored authors. For pom contributors we can extend GitHubContributorsProvider.mergeContributors to ignore contributors set in co

[2017-12-22 15:23] wwilk commented on #57
Awesome investigation!

Yeah it seems that we can ignore every commit that either contains an ignored part or was created by an ignored contributor. You are right, the sooner we remove ignored commits/contributors, the better.

Thanks for working on this. When you create a pull request please describe how you tested it.

[2017-12-23 18:15] epeee commented on #593
This one is fixed now, thx @jhoglin!

[2017-12-23 18:15] #593 closed

[2017-12-24 21:50] magneticflux- opened #607 "Unnecessary release shipped because of malformed Bintray URL"
Here's my build log: [build](https://travis-ci.org/magneticflux-/kotlin-simplexml-rss/builds/321149905?utm_source=github_status&utm_medium=notification). I only changed the README file, so the artifacts are identical.

The relevant lines:
[code]

I believe that this line:
[code]
should have been this line:
[code]

[2017-12-24 21:53] magneticflux- commented on #596
Sorry, I wasn't very clear. I initially thought scala/jardiff would work, but Japicmp looks like a much better fit so I retract my initial statement.

Thanks, I might give it a shot!

[2017-12-24 22:33] wwilk commented on #607
It seems that bintray.pkg.userOrg is not set in your case.
https://github.com/magneticflux-/kotlin-simplexml-rss/blob/master/gradle/shipkit.gradle
You can see the code responsible for this behaviour [here.](https://github.com/mockito/shipkit/blob/master/subprojects/shipkit/src/main/groovy/org/shipkit/internal/comparison/artifact/BintrayDefaultArtifactUrlResolver.java)

[2017-12-24 22:34] wwilk commented on #607
I will try to make sure this is documented more thoroughly

[2017-12-24 23:13] magneticflux- commented on #607
Thanks for the quick response! It should probably fall back to `bintray.user`, right? I don't have an organization since it's just a personal account.

[2017-12-25 00:02] magneticflux- commented on #607
My workaround for now:
[code]

[2017-12-25 12:06] #595 closed

[2017-12-25 22:07] #607 closed

[2018-01-04 19:49] epeee commented on #116
closing this one since we already released 1.0.

[2018-01-04 19:49] #116 closed

[2018-01-06 19:42] wwilk opened #614 "Validation for tasks created in upgradeDependencyPlugin"
## Problem
A few of the tasks created in UpgradeDependencyPlugin depend on "dependency" property that is passed as argument when running the task, eg:
`performVersionUpgrade -Pdependency="org.shipkit:shipkit:1.2.3"`
Unfortunately if you run one of them without this property there is no meaningful error message, it can fail on NPE or some other error during execution phase.

You can find the docume

[2018-01-06 19:42] wwilk commented on #614
@micd Want to work on this one?

[2018-01-07 16:48] mockitoguy commented on #345
Yes. During plain "build" we don't construct the pom file at all. This means that if there is a bug in the release automation that manipulates the pom, we will not find out early enough. Also, Mockito library needs to release to maven local because we have integration tests based on mockito jar + pom from maven local. In the past, we have shipped a version of Mockito with zero dependencies in pom,

[2018-01-07 16:53] mockitoguy commented on #345
Hey @epeee, I put my thoughts about the design to the ticket description - any comments / thoughts?

[2018-01-08 07:10] micd commented on #614
Yes. I will take a deeper look when I have time.

[2018-01-08 19:58] magneticflux- commented on #105
@mockitoguy I've been mulling over this feature for some time now and I feel that implementing it may require a fundamental change in the way versions are incremented. This is how I see Shipkit currently incrementing versions:

1. Merge a PR with `version=1.0.1` and `previousVersion=1.0.0`
2. Travis CI begins a build
3. `xyz-1.0.1.jar` is uploaded to Bintray
4. New properties are written: **`versi

[2018-01-09 05:31] epeee commented on #345
@mockitoguy your new idea looks good, thx a lot!

[2018-01-09 07:53] mockitoguy commented on #345
Great! Looking forward to reviewing a PR :)

[2018-01-10 00:52] magneticflux- opened #616 "Unit tests that use exec fail on Windows"
Due to the nature of the `exec` system on Windows, tests that use `exec` fail because they cannot find the `echo` executable (because it's part of `cmd.exe`). As a stop-gap measure before a Windows workaround, we could disable/ignore the failing tests when run on Windows.

[2018-01-10 03:45] magneticflux- commented on #453
If Groovy is being discouraged on the basis of performance and user-friendliness, Kotlin seems like the next best bet. In fact, Gradle even [recommends](https://docs.gradle.org/current/userguide/custom_plugins.html) plugins to be written in Kotlin instead of Groovy:

With regard to learning the language, I read an article (unfortunately I don't have the link immediately available) that talked abou

[2018-01-10 08:23] micd commented on #614
Some validation is currently done in `DependencyNewVersionParser#isValid`, but there's a null check before method invocation.

I would propose to create `Precondition<String>` which will validate dependency property and place it in one of those places:
- `UpgradeDependencyPlugin#apply` just after extracting the property from project. Then after checking  `Precondition#isTrue` we may throw a `Gradl

[2018-01-11 22:16] wwilk commented on #614
If you set it in `UpgradeDependencyPlugin#apply` validation will fail Gradle configuration phase even if task is never executed. You can try implementing that and then running `./gradlew tasks`. It will fail because of lacking "dependency" property, although **tasks** task doesn't use it.

Validation in DependencyNewVersion can happen during the configuration phase because it basically checks if t

[2018-01-13 08:25] #616 closed

[2018-01-15 08:58] micd commented on #614
I was not familiar with Gradle phases. Thank you for explanation.

Taking this into consideration I would extend ``doFirst`` method in those tasks:
- ``ReplaceVersionTask``
- ``CreatePullRequestTask``

**For this part we can cast ``Task`` returned by ``super.doFirst() to the current task retrieve ``UpgradeDependencyExtension`` and pass it to new precondition class ``UpgradeDependecyExists`` which

[2018-01-16 08:16] ArturSkowronski commented on #513
@mockitoguy @wwilk I will try to expose that information

[2018-01-17 22:46] magneticflux- opened #619 "Empty Dependency Info files generated causing missed releases"
Example Travis CI build where dependencies changed but no new release: [Link](https://travis-ci.org/magneticflux-/kotlin-simplexml-rss/builds/330097438)

I inspected the module-dependencies.md files in my releases back to at least `1.0.2` of my project and they're all empty, so this seems like it's been around for a while. I never noticed an issue before though because I changed the sources as wel

[2018-01-22 22:36] wwilk commented on #619
Hey @magneticflux- thank you for reporting the issue! I will investigate

[2018-01-22 23:15] wwilk commented on #614
Hey @micd
Sorry for the delay, busy time lately.

Thanks for the investigation, good points! After longer consideration I think the problem here is that different tasks use different properties of **dependency*, but I think we don't need to distinguish that - the most important thing to achieve is to inform the user that the task failed because they didn't provide **dependency**.

The easiest way

[2018-01-24 07:08] micd commented on #614
Hello @wwilk !
No problem.

Thanks for another possible solution!

I have just checked and ``LazyConfiguration`` will fail faster than ``@Input``. I think this would be the "fail-fastest" solution here.

I would extend ``UpgradeDependencyPlugin`` with a new method which will add task to ``LazyConfiguration`` (and create a ``Runnable`` to do the validation).  All tasks that depends on ``UpgradeDepe

[2018-02-05 17:15] mockitoguy opened #621 "CI build failed due to NPE in findOpenPullRequest"
CI build failed due to NPE in findOpenPullRequest.

Full log: [Travis CI link](https://travis-ci.org/mockito/shipkit/builds/337332652)

Relevant part of the log:

[code]

[2018-02-05 17:17] mockitoguy opened #622 "Cleaner CI logs: enroll to Gradle Enterprise and stop building with '-i'"
Let's clean up the CI logs. How about we enroll to Gradle Enterprise and avoid building with '-i' parameter (it's --info level logging).

Info level logging is noisy and rarely needed. For example, the checkstyle task logs the entire XSL transformation at info level.

[2018-02-05 18:24] epeee commented on #622
+1, I like the idea.

[2018-02-06 13:42] mockitoguy commented on #621
On it.

[2018-02-06 14:02] mockitoguy opened #624 "Upgrade to Java8 and Gradle4"
How about we upgrade to Java8 and Gradle4?

We can produce Shipkit 2.0 that would have only one incompatible change: Java8 + Gradle4. For uses on lower versions of those, they can use Shipkit 1.0 (compatible feature-wise, public API wise). For users that want latest improvements, they need to be on Java8 + Gradle4. This is the best of both worlds - we still have a working version for old Java and

[2018-02-08 21:03] #622 closed

[2018-02-08 21:36] epeee commented on #624
+1, yep, let's go for Shipkit 2.0 and do the upgrades.

[2018-02-11 20:57] epeee commented on #621
this one is fixed now -> closing

[2018-02-11 20:57] #621 closed

[2018-02-14 18:57] epeee opened #629 "mergePullRequest is failing due to 'No value has been specified for property 'versionBranch''"
It looks like automerge did not work:

see [travis ci log](https://travis-ci.org/mockito/shipkit/builds/340491561) for details.

sadly, we have no buildscan for this build.

[2018-02-16 05:06] epeee commented on #629
This problem is solved now.
Auto merging still does not work as expected -> I will create a separate ticket to fix the remaining problem.

[2018-02-16 05:06] #629 closed

[2018-02-16 05:10] epeee opened #634 "mergePullRequest is not merging the pr due to 'No checks defined in pull request'"
After solving #629 we are still not able to automatically merge pr's.

see [travis build log](https://travis-ci.org/mockito/shipkit/builds/342197410#L1116) for details.

[2018-02-16 14:33] mockitoguy commented on #634
Thank you for reporting! Do you want to take a stab at it?

[2018-02-16 14:35] mockitoguy commented on #233
@mstachniuk, how's life? Will you be able to take a stab at this feature? Cheers!

[2018-02-16 14:38] mockitoguy opened #635 "Write Shipkit 1.0 article"
Let's write an article about Shipkit release 1.0 (december 2017). Then, we should link it from the README.md, where we have the history of the project.

[2018-02-16 16:45] epeee commented on #634
yep, I will have a look at this one.

[2018-02-19 15:44] #624 closed

[2018-02-19 17:13] epeee opened #641 "UpgradeDependencyPluginIntegTest is failing while using gradle 4.5.1"
It looks like one integration test is failing while using gradle 4.5.1, see

    org.gradle.testkit.runner.UnexpectedBuildFailure at UpgradeDependencyPluginIntegTest.groovy:28
459 tests completed, 1 failed, 1 skipped
:shipkit:test FAILED

[gradle build scan](https://scans.gradle.com/s/baeymde7fjtz2/tests/zazkifhiktn3q-xac76iym24dlm) or [travis ci log](https://travis-ci.org/mockito/shipkit/builds/3

[2018-02-23 06:55] epeee commented on #634
Doing one retry does the trick, let's close this one.
There is still one problem remaining until we are able to automatically merge pr's. I will create a new issue.

[2018-02-23 06:55] #634 closed

[2018-02-23 07:06] epeee opened #646 "Automatically merging pr's is failing while calling github rest api"
It looks like the problem is the head we are using (it should rather be upgrade-shipkit-to-2.0.2):

see [build scan](https://scans.gradle.com/s/c2zpvxr3cgiwy) for details.

[2018-02-28 06:58] #646 closed

[2018-03-02 05:54] #641 closed

[2018-03-02 08:56] ashdavies opened #655 "Multimodule project publicationRepository"
I've been trying to use shipkit to deploy a library, the configuration is a project with two modules, one containing the library (and the shipkit plugin) and one sample implementation module (not to be published).

I've followed the documentation as best I can identify, but each build fails to find the specified property `publicationRepository`, which is specified in the project level `gradle/ship

[2018-03-03 15:32] epeee commented on #655
Hi,
you are using the `"org.shipkit.java"` plugin, right?
If so, this plugin is intended to be applied to the root project. Using the `initShipkit` task should make it easy to get a basic config for your project.
You mentioned that you just would like to publish one project of your multi project build. We are also doing so in the mockito project by using `bintrayUpload.enabled = false` and enable

[2018-03-03 17:59] epeee commented on #619
I just had a look at this one. It looks like we are generating empty dependency info files if the `java-library` plugin is used.
I already have an idea how to solve this one.

[2018-03-03 18:05] ashdavies commented on #655
Yeah, I'm using the Java plugin, is there a default value for `bintrayUpload.enabled`, it seems odd that deployment would be an "opt-out" kind of deal.

The project is open source yep,
https://github.com/ashdavies/rx-tasks/

[2018-03-04 10:10] epeee opened #657 "Emit how long we have been waiting so far during github status checks"
As suggested by @mockitoguy during a review, let's emit how long we have been waiting so far in https://github.com/mockito/shipkit/blob/eb0cda01b2213bbd99abbba6f024a4f1062a49b6/subprojects/shipkit/src/main/groovy/org/shipkit/internal/util/GitHubStatusCheck.java#L37-L55
Currently, the log looks like https://travis-ci.org/mockito/shipkit/builds/348102705#L1106-L1137

[2018-03-06 03:32] #619 closed

[2018-03-06 20:18] epeee commented on #619
@magneticflux- thx for reporting this one! This problem is fixed in Shipkit v2.0.7.

[2018-03-09 07:02] mockitoguy commented on #655
Hey @ashdavies! Thank you for trying out Shipkit! What's the status? Do you still need help?

[2018-03-11 17:12] mockitoguy commented on #536
I just made a commit with '[ci skip]'. If it does not trigger Travis build, I'm closing this ticket.

[2018-03-11 17:49] mockitoguy opened #664 "Clean build output for regular builds"
### Problem

Currently, the build produces a confusing "BUILD FAILED" message for ordinary builds that skip release ([full log](https://travis-ci.org/mockito/shipkit/builds/352022918)):

[code]

When the build works on, the log file should not contain messages such as "BUILD FAILED".

### Solution

Currently, ```ciPerformRelease``` task executes ```assertReleaseNeeded``` and [stops further executi

[2018-03-12 14:54] #487 closed

[2018-03-12 16:13] mockitoguy opened #666 "Build should contain test failures to streamline debugging"
Motivated by recent build failure on Travis CI, it would be useful to see the assertion failure in the build log.

Current behavior:

[code]

Desired behavior:

[code]

[2018-03-12 16:18] mockitoguy commented on #655
Let's improve the behavior of our top level plugins ("java" and "gradle-plugin") so that they provide a graceful message when the plugin is not applied to the root project.

In addition, let's add "faq.md" document with a very first question: how to prevent releasing of a submodule.

This way we can close the ticket. @ashdavies, let us know if you need further help!

[2018-03-12 18:05] #666 closed

[2018-03-14 13:20] mockitoguy commented on #614
Hey guys! Can we close this ticket now? I see that the PR was merged.

[2018-03-14 17:24] micd commented on #614
Hi @mockitoguy. I think that you can close it.

[2018-03-15 14:10] micd commented on #657
Hello @epeee!

How would you like the logs to look like?

[2018-03-15 15:07] mockitoguy commented on #426
Let's close this issue. We removed caching from travis configuration.

[2018-03-15 15:07] #426 closed

[2018-03-15 15:14] mockitoguy commented on #453
I will close this ticket for now. We can always reopen. At this moment, we want to focus on other priorities. Thank you for suggesting!

[2018-03-15 15:14] #453 closed

[2018-03-15 15:18] mockitoguy commented on #255
Closing. I created a milestone instead: https://github.com/mockito/shipkit/milestone/2

[2018-03-15 15:18] #255 closed

[2018-03-17 16:17] micd commented on #657
I think that the first and the second one is printed in the current log. We would need to add the third one.

Am I right?

[2018-03-18 06:15] mockitoguy opened #671 "Fail fast when plugin not applied to root project"
Our core plugins
 - org.shipkit.java
 - org.shipkit.gradle-plugin

need to be applied to the root project.

This is not intuitive as evidenced by a problem reported at #655

Let's implement a short term solution and fail early and gracefully when the plugin is applied to a subproject rather than to a root project.

Example implementation we already use in a different plugin:

https://github.com/mo

[2018-03-18 06:17] mockitoguy commented on #655
Opened a separate ticket to validate if plugin is applied to the root project: #671

Closing this ticket. Thank you @ashdavies for using Shipkit!

[2018-03-18 06:17] #655 closed

[2018-03-18 06:22] mockitoguy commented on #271
Let's close without fixing. We can always reopen.

[2018-03-18 06:22] #271 closed

[2018-03-18 06:26] mockitoguy commented on #299
This should work. If not, we will reopen. Thank you for reporting!

[2018-03-18 06:26] #299 closed

[2018-03-18 06:27] mockitoguy commented on #334
This ticket can be closed. Please reopen if needed!

[2018-03-18 06:27] #334 closed

[2018-03-18 06:34] mockitoguy commented on #596
Nice discussion! Can we close this ticket or this is something we want to formally document?

[2018-03-18 06:35] mockitoguy commented on #358
I'm coming to the conclusion that we need to support snapshots. Otherwise it will be hard to integrate projects that currently use them.

[2018-03-19 07:58] micd commented on #503
Hello @mockitoguy!
This issue is completed and PR is merged already.

[2018-03-20 18:03] ArturSkowronski commented on #513
@mockito/developers I'm back and today I'll try to start this task :)

[2018-03-21 00:39] mockitoguy opened #673 "Automate releases of linkedin/play-parseq project"
Automate releases of https://github.com/linkedin/play-parseq project

Ticket in target project: https://github.com/linkedin/play-parseq/issues/9

Goals:
 - automated releases to Maven Central
 - release notes

Complexity:
 - it is an SBT project so Gradle automation will be wrapping SBT

I'm really looking forward to empowering more projects to full release automation!!!

[2018-03-21 19:02] ArturSkowronski commented on #513
@mockitoguy as I understand, not all builds will have tags like [ci skip]. Do we want to recognize if [ci skip] is at the end of the commit message and if is put CI job before [ci skip] tag or we are good with just putting "CI job: https://travis-ci.org/mockito/shipkit/builds/288214072" info as a postfix of commit message?

[2018-03-22 15:17] mockitoguy opened #675 "Annoying 'Gradle Test Executor' finished with non-zero exit value 137"
Hey team!

Can someone take a look at the issue that intermittently hits us on CI? I'm seeing this issue a couple of time per week and I'm forced to re-run builds.

[code]

Example full build log: https://travis-ci.org/mockito/shipkit/builds/356200130

Suggestions:
 - SO and google show hits for this problem
 - perhaps we need to fiddle with java/memory settings for test execution?

[2018-03-22 22:04] epeee commented on #675
yep, most likely a memory problem. I will have a look at it.

[2018-03-23 15:56] mockitoguy commented on #675
Great! Thank you!

[2018-03-23 20:22] mockitoguy commented on #675
Failed twice for this reason between yesterday and today :( @epeee, rescue us :)

[2018-03-24 21:06] mockitoguy commented on #233
I worked on designing the plugin today and added a pseudo code design to the description. Hope it helps!

[2018-03-25 10:59] szpak opened #679 "Publication(s) comparison doesn't handle dependency change only"
One commit in Mockito changed only the project [dependencies](https://github.com/mockito/mockito/commit/cbc7a99db706621bdb6728cb64d2b0d9be6a8034). The corresponding Shipkit Travis [build](https://travis-ci.org/mockito/mockito/jobs/357999739#L983) detected no changes in publications and the release hasn't been executed.

As a workaround the release has to forced manually.

[2018-03-25 11:28] epeee commented on #679
Thx for reporting this one!
I will have a look at it.

[2018-03-25 11:41] epeee commented on #679
It looks like this one is already fixed in a newer version of shipkit (might be fixed by #619).
I'm currently doing some local testing using a newer shipkit version and will provide a pr for updating shipkit in mockito project soon.

[2018-03-25 12:03] szpak commented on #679
Thanks @epeee for taking care of that so quickly!

[2018-03-25 12:35] epeee commented on #679
does work in shipkit 2.0.12, see
[code]

[2018-03-25 17:32] mstachniuk commented on #233
@mockitoguy Sure, it will help me. Thank you!

[2018-03-26 17:04] mockitoguy commented on #345
Hey @epeee, I'll take a stab at this today. Let me know if you need help with #679

[2018-03-26 17:55] epeee opened #680 "Shipkit 2.0.12 does not work in mockito project"
While trying to make use of shipkit to 2.0.12 in mockito project we headed into
[code]

see https://travis-ci.org/mockito/mockito/jobs/358045381#L1347-L1379 for a full build log.

[2018-03-26 18:41] epeee commented on #680
I did some local testing and it looks like this one was introduced in #674.

[2018-03-27 15:56] #680 closed

[2018-03-29 05:49] #675 closed

[2018-03-31 13:44] #345 closed

[2018-03-31 14:27] epeee commented on #679
closing this one since mockito is using Shipkit v2.0.13 now.

[2018-03-31 14:27] #679 closed

[2018-04-04 04:53] mockitoguy opened #692 "Support building SNAPSHOT versions"
Due to feedback in #358 and internal discussions let's add support for building SNAPSHOT versions. Let's use this ticket to design the functionality.

### User experience

"./gradlew snapshot” - intended for producer project. Builds and copies snapshot version to the local repo. If current version is “1.0.0” it builds and installs “1.0.0-SNAPSHOT”.

“./gradlew useSnapshot” - intended for consumer

[2018-04-04 04:55] mockitoguy commented on #290
@githubinti, can you help us an submit a PR? :) We would really appreciate it!

[2018-04-04 05:41] #671 closed

[2018-04-05 05:07] epeee opened #694 "Add possibility to also update the version in README.md"
### Goal
Usually, open source projects do have a section in their README.md which shows how to easily add/integrate the project.
In shipkit we are currently using
[code]
Let's also update the version in this section in order to always point to the latest version.

### Suggested Implementation
TBD

[2018-04-06 17:29] #437 closed

[2018-04-10 08:55] micd commented on #657
Anybody, could you say how to test this? @mockitoguy ? @wwilk ?

[2018-04-10 16:36] mockitoguy commented on #233
@mstachniuk, the design spec is ready #697 :)

[2018-04-10 20:05] wwilk commented on #657
Hey @micd, sorry for the delay in response.
You can test it by running "./gradlew performVersionUpgrade -Pdependency=org.shipkit:shipkit:5.6.7"

[2018-04-20 06:32] micd opened #712 "Version is bumped when performRelease fails"
I found a possible issue. When running `performRelease` versions in version.properties are bumped even if the whole process fails. This leads to failures in the further runs as for example new tags are not pushed to remote repository.

What do you think @mockitoguy, @wwilk ?

[2018-04-26 04:49] epeee commented on #664
Closing since this one is implemented now in v2.0.23.

[2018-04-26 04:49] #664 closed

[2018-05-07 13:35] micd commented on #394
I would keep it very simple.

1. Extend ``ShipkitConfiguration`` with new collection of acknowledged incubating warning
2. Extend ``IncubatingWarning#warn`` to accept ``ShipkitConfiguration``
3. Check in ``IncubatingWarning#warn`` if plugin is acknowledged -- if not print warning

What do you think, @mockitoguy ?

[2018-05-24 18:44] epeee commented on #657
closing since this one is implemented now, thx @micd !

[2018-06-05 07:00] mockitoguy commented on #394
Based on discussion in #722, let's skip this idea. It adds complexity. Instead of hiding warnings, let's work on promoting features from "incubating" state to "release" state.

Thank you @micd for putting together the code. I hope you don't mind we won't take the PR at this time and we can cut more code together soon :)