[2018-06-06 16:34] magneticflux- opened #725 "Initial build fails in task updateReleaseNotes"
My logs:

[code]
My project: https://github.com/magneticflux-/kotlin-livedata-utils

I'm not sure if this is a problem because this is the first release, if I failed to set some Shipkit property, or some other issue.

[2018-06-06 20:29] magneticflux- commented on #725
Turns out I had the JFrog Bintray plugin applied instead of the Shipkit one.
I changed this:
[code]
to this:
[code]

[2018-06-06 20:29] #725 closed

[2018-06-07 15:30] magneticflux- opened #726 "Publication comparison failing with an Android Library project"
When building and publishing and Android Library project, the `releaseNeeded` task always claims that changes have been made because the comparison fails for some reason. I have a `sourcesJar` task that mimics the `java-library` task of the same name and it gets published correctly, but it doesn't seem to be able to compare the current sources to the previous versions' sources.

My code:
https://g

[2018-06-18 19:10] epeee commented on #726
I just had a quick look at this one and it looks like we do not integrate well with this kind of project.
I will have a more detailed look at this one later on this week.

[2018-06-18 22:58] magneticflux- commented on #726
From my investigation, it seems that this line isn't called:
https://github.com/mockito/shipkit/blob/3ee2eb772ec2490fbba2f6bebc69ae817160af5d/subprojects/shipkit/src/main/groovy/org/shipkit/internal/gradle/java/JavaBintrayPlugin.java#L26
because this line isn't called:
https://github.com/mockito/shipkit/blob/ff78aff3ed3f8a91fe3730e1b08cc320d0499f92/subprojects/shipkit/src/main/groovy/org/shipkit/i

[2018-06-27 07:15] sormuras opened #727 "Using Gradle 4.8[.1] leads to errors"
### Using Gradle 4.8[.1] produces `value: ` strings

See this log excerpt:

[code]

Log: https://travis-ci.com/sormuras/bartholdy/jobs/131336882#L824

### Using Gradle 4.7 works

After downgrading to Gradle 4.7, everything works as expected.

https://travis-ci.com/sormuras/bartholdy/builds/77327312

### Potential underlying reason

@marcphilipp pointed out that there was change in _internal_ `Abst

[2018-06-27 16:56] epeee commented on #727
Thank you for reporting this one.
We are using gradle bintray plugin for publishing and it looks like the problem should already be fixed in a new version of the bintray plugin, see https://github.com/bintray/gradle-bintray-plugin/issues/234.
I will adjust our plugin and provide a pr.

[2018-06-30 07:36] #727 closed

[2018-07-25 15:18] jjstreet opened #739 "Shipkit fails when executed from Windows CMD"
Version: `2.0.28`

Stated simply, shipkit relies on exec tasks that try to execute commands in an OS-specific way.

Specifically, when I added shipkit to a project and performed the task `testRelease` from a windows command prompt, it fails with the following:

[code]

`./gradlew` is not how to execute the gradle wrapper from command. I suspect that there are more instances of this elsewhere. I ju

[2018-07-25 15:23] jjstreet opened #740 "Question: Can shipkit be used in parts?"
I have a company project that is not released as open source. It's also a project where I'm not trying to keep track of contributors or release notes (at least, not yet). We also do not use bintray and store artifacts in a enterprise owned nexus repository.

I would like to find a way to use shipkit in an incremental fashion. That is, I want to begin by letting shipkit handle version bumps, git ta

[2018-07-25 18:12] mockitoguy commented on #740
It should be possible. I'll look into this use case this evening.

[2018-07-26 03:37] mockitoguy opened #741 "Incorrect artifact id"
Mockito was released with wrong artifact ids: https://github.com/mockito/mockito/issues/1444

[2018-07-26 05:21] mockitoguy commented on #740
I put together an example project: https://github.com/mockito/shipkit-examples/tree/master/versioning-and-tagging

Is this what you're after? Thanks for using Shipkit!

[2018-07-26 20:50] jjstreet commented on #740
Awesome I believe it is. I hope to check it out tomorrow in more detail with a colleague.

[2018-07-26 20:56] jjstreet commented on #739
Might want to look at `GradleBuild` task types:

[code]

Might be a way to call tasks in a way gradle like way without resorting to executing the wrapper from a task (which seems kinda hacky?).

[2018-07-27 04:16] #741 closed

[2018-07-27 14:06] jjstreet commented on #739
I looked at #745 and that will work. My actual problem was solved by #743 but calling using gradlew.bat should work on Windows .

[2018-07-27 14:46] jjstreet commented on #740
I've been playing around with a sample project derived from the cookbook and its working great mostly. There is an issue with being able to release specific versions (manually changing the version.properties file as described by the docs). It seems `bumpVersionFile` is called even if not explicitly entered as a task, so I am not able to release without bumping. Any ideas?

[2018-07-28 06:52] #739 closed

[2018-07-30 05:48] mockitoguy commented on #740
Can you describe the use case a bit more? Regardless if we are pushing a specific version or not, we always want the 'bumpVersionFile' task to run. Examples:

- I'm changing "version.properties" to 2.0.0, run "./gradlew performGitPush", 2.0.0 is released (tag pushed) and 2.0.1 is stored in the "version.properties" (via bumpVersionFile). The file always contains "next" version that I will release.

[2018-08-03 08:44] Xerus2000 commented on #290
options does not have an `addStringOption` for me, so I can't apply the fix...

[2018-08-04 08:48] Xerus2000 commented on #290
Okay I had to write `-Xdoclint:none` to a file and then call `options.optionFiles!!.add("build/tmp/silence.txt")` (Kotlin DSL)

[2018-08-28 08:55] jorgeviana opened #751 "Question: Are you trying to solve the same problem that spring-cloud-pipelines is trying to solve?"
Hi there,

I thing you are trying to solve the same problem that spring-cloud-pipelines (https://github.com/spring-cloud/spring-cloud-pipelines) is trying to solve.

What would be the reason to use one project over the other?

Thanks!

[2018-08-28 13:39] mockitoguy commented on #751
Thanks for feedback!

Me & @marcingrzejszczak (maker of pipelines) talked extensively about it this summer. There is an overlap between the projects. Let's keep this ticket open until we fix the documentation (or merge projects? :)

[2018-09-06 00:12] mstachniuk commented on #751
Spring Cloud Pipelines focus more on:
- building on Jenkins or Concourse (you need to set up your instance)
- continuous delivery for regular projects (monoliths, microservices etc.)
- deploying application to different environments with different configs, possible manual steps
- many more

Shipkit focuses more on:
- using free tools like Github, Travis-CI, Bintray
- continuous delivery for open s

[2018-09-06 09:44] jorgeviana commented on #751
Nice summary!

[2018-09-13 15:41] jpkrohling commented on #194
As part of https://github.com/jaegertracing/jaeger-client-java/issues/536 , I'm giving this library a try and I think we could benefit from the support for templates you described under the point 4. It's not a blocker, but would be nice to keep using our own format.

[2018-09-13 15:42] jpkrohling commented on #75
We could make use of this for the Jaeger project as well. This is probably the only manual step remaining for our release process.

[2018-09-14 07:53] jpkrohling opened #753 "Option to skip changelog"
For the cases where the changelog is generated somewhere external to Shipkit, it would be useful to have an option to disable this part of Shipkit.

The workaround I can think of is to keep it "hidden", like at `.shipkit/changelog.md`

[2018-09-14 07:59] mstachniuk commented on #753
You can skip execution of `updateReleaseNotes` task:

Solution 1 - Command line
`./gradlew ciPerformRelease -x updateReleaseNotes`

Solution 2 - in Gradle script:
`updateReleaseNotes.enabled = false`

https://android.jlelse.eu/skip-several-tasks-in-gradle-quickly-dcd0a11c3487

[2018-09-14 08:06] jpkrohling commented on #753
Awesome, thanks!

[2018-09-14 08:06] #753 closed

[2018-09-14 12:32] jpkrohling opened #754 "Cannot publish files for a first release"
I just bootstrapping a new project and decided to add shipkit to it, but it looks like there's something wrong that I can't quite figure out. A very similar configuration works for another repository with older releases, so, I believe this might be related to the repository not having pull requests yet (or earlier releases?).

This is what I see when running the `bintrayUpload` directly, but the e

[2018-09-14 12:55] jpkrohling commented on #754
For reference, this is the repo: https://github.com/opentracing-contrib/java-interceptors
And this is a build with the problem: https://travis-ci.org/opentracing-contrib/java-interceptors/jobs/428603085

[2018-09-14 14:01] mstachniuk commented on #754
1. Did you commit your source code? I don't see `src` dir in your repository
2. You need to run `./gradlew build` before `./gradlew ciPerformRelease` in your .travis.yml. The checks `if: type != pull_request` and `if: tag =~ /^release\/v.[\d\.]+(\-.*)?$/` are not needed. We suggest to use default generated .travis.yml by Shipkit, like:
https://github.com/mockito/shipkit-example/blob/master/.travis

[2018-09-14 14:03] mstachniuk commented on #753
Btw. @jpkrohling What do you use for generation changelog and why not mechanism provided by Shipkit?

[2018-09-14 14:10] jpkrohling commented on #753
We do that manually, but if we were given an option to have the changelog follow our template, we would possibly use it (see #194)

[2018-09-14 14:14] jpkrohling commented on #754
No source code as of yet.

1. Travis runs `./gradlew assemble` by default, so it did run a `build` before the `ciPerformRelease`.
1. The default Travis configuration is suitable for continuous delivery, but that's not what I want. For this project, I want to do the release only when I push a tag `release/v0.0.1`. The check for the pull request is at the stage at the higher level and will probably

[2018-09-14 15:02] mstachniuk commented on #754
1. Hmmm maybe empty jars will be produced, but:
2. You have `install: true` in your script, so it means that Travis doesn't run a default install phase: https://docs.travis-ci.com/user/customizing-the-build/#skipping-the-installation-step
In your Travis log you can see:
[code]
No artifact - nothing to upload

[2018-09-14 15:14] jpkrohling commented on #754
The artifacts are generated from the previous stages, but I'll change it to see if that helps.

[2018-09-14 15:31] jpkrohling commented on #754
Looks like it fails even when `assemble` is executed during the `install` phase: https://travis-ci.org/opentracing-contrib/java-interceptors/jobs/428672724

[2018-09-17 13:56] jpkrohling commented on #754
In time: I have a PR adding Shipkit support to another project, also requiring Java 6 compatibility, and 1.0.12 did work: https://github.com/jaegertracing/jaeger-client-java/pull/549/files

[2018-09-18 08:07] jpkrohling opened #755 "License is always MIT in the generated POM"
I just realized that no matter what I add as `bintray/pkg/licenses`, I always end up with MIT as license in the generated POM:

https://github.com/opentracing-contrib/java-interceptors/blob/v0.0.3/gradle/shipkit.gradle#L22

https://dl.bintray.com/opentracing/maven/io/opentracing/contrib/opentracing-interceptors/0.0.3/opentracing-interceptors-0.0.3.pom

This seems to be the relevant code:
https://g

[2018-09-18 15:38] epeee commented on #755
Thank you for reporting this one!
I will work on a fix later on today..

[2018-09-19 07:10] jpkrohling commented on #755
I'm currently working on it and will send a PR soon.

[2018-09-19 07:50] jpkrohling commented on #755
Unfortunately, it seems that it's more complicated than I initially thought, as the POM customizer belongs to the Shipkit plugin but the licenses information is stored in the Bintray plugin. I'll let the experts fix then :)

[2018-09-24 09:19] jpkrohling commented on #755
@epeee, would you be able to provide some insight on the best way to solve this? As this is probably a blocker for us to use it, I'd be willing to give it a shot at fixing it, in case you don't have the time to fix it.

[2018-09-25 03:53] epeee commented on #755
@jpkrohling I already thought about how to fix it and it looks like I will be able to spend some time on this one tomorrow. Sounds good?

[2018-09-25 07:02] jpkrohling commented on #755
Sounds good to me :)

[2018-09-29 18:32] mstachniuk opened #761 "Add minimum support for Bitrise.io"
# In scope
The minimum support for [Bitrise](https://www.bitrise.io/) can be implemented similar like TravisPlugin class. See it for details.
In Bitrise the environment variables are different: https://devcenter.bitrise.io/builds/available-environment-variables/

Mapping:

Travis | Bitrise
------ | -------------
TRAVIS_BRANCH | BITRISE_GIT_BRANCH or BITRISEIO_GIT_BRANCH_DEST
TRAVIS_PULL_REQUEST |

[2018-09-30 17:36] TimvdLippe commented on #255
Note that the README still references this issue. Is that intended?

[2018-10-05 11:30] nicolaiparlog opened #762 "Make location of shipkit.gradle configurable"
Many tools (CheckStyle, Spotless, Formatter, Shipkit, Gradle, ...) surrounding a decently sized project require configuration and by default they all read their file from the project's root folder. That leads to a lot of clutter. I'm trying to reduce that by pushing most of those files into a dedicated folder (e.g. `.infra`). As I see it, Shipkit does not allow that.

**Request**: Allow configurin

[2018-10-05 20:15] jb08 commented on #493
My understanding of this story as that if you click on the release tag header **2.0.31**, it takes you to that git tag in github, as shown in the image below:
<img width="600" alt="screen shot 2018-10-05 at 3 13 07 pm" src="https://user-images.githubusercontent.com/8146460/46557982-4825bf00-c8b1-11e8-95b4-cbad7e8551b8.png">

[2018-10-05 20:33] jb08 commented on #493
looks like this issue was resolved with [this commit](https://github.com/mockito/shipkit/commit/1b2cfaf9e50fe3e07b133a3b26981a18c76acc7e) and should be closed.

[2018-10-05 20:52] jb08 commented on #290
fyi could not resolve this issue with
[code]
as suggested above. This led to linker errors:
[code]

[2018-10-31 15:31] jpkrohling commented on #755
Looks like it does work, thanks!

[2018-11-19 23:39] polson commented on #675
How did you guys fix this?  I have the same issue

[2018-12-01 17:28] afnvld opened #765 "fibonacci"

[2018-12-08 10:47] #765 closed

[2019-01-16 16:19] jjstreet commented on #740
I am closing this issue as I ended up getting my use case to function for the most part.

I wasn't able to use the gitPush task, but believe it is due to how our project is set up and not about shipkit.

I also looked at how bumpVersionFile works and understand why it is run the way it is.

[2019-01-16 16:19] #740 closed

[2019-01-16 17:04] jjstreet opened #768 "Question: Using shipkit in part with maven-publish"
I am successfully using shipkit to manage my versions and for adding releases in github. I am not using the publishing parts because I don't release publicly to bintray or maven central. I instead am trying to use the standard maven-publish plugin gradle provides.

The maven-publish plugin will read from version.properties, and because the version is bumped by shipkit, it publishes the artifacts a

[2019-01-16 18:41] jjstreet commented on #768
As a workaround I've set the version of the artifacts to publish to the previous version as specified in the `VersionInfo` object thats in the root project:
[code]

Its kludgy because my jenkins pipeline says I'm building one version for `clean build` and the git tasks. Then executing it again, it says its building the next version because of the version bump.

I might be running right into a desi

[2019-01-16 22:52] jjstreet commented on #768
I'm trying to harness shipkit for an "inner-source" (new term i learned today) project. Meaning, its not intended for release publicly. Therefore, it will never be released into MavenCentral, and will not be published to bintray.

[2019-01-17 07:18] mstachniuk commented on #768
Ok, so do you would use maven-publish to publish to internal
nexus/artifactory? Maybe bintray plugin will be able to publish to the
intern repository?

śr., 16 sty 2019, 23:52: Joshua Street <notifications@github.com>
napisał(a):

[2019-01-17 15:04] jjstreet commented on #768
Perhaps. I will look into that. It would be nice if shipkit abstracted the way it used bintray to allow a transparent passthrough to the maven-publish plugin for users that cannot publish to bintray first.

[2019-01-17 19:08] epeee commented on #768
Hi,
I'm also using shipkit and maven-publish plugin to publish artifacts internally.
I will be able to provide more details tomorrow.

[2019-01-17 21:45] mstachniuk commented on #768
@epeee Please add it to documentation (and review https://github.com/mockito/shipkit/pull/750 please)

[2019-02-04 09:14] mstachniuk commented on #452
Fixed in 2.0.32

[2019-02-04 09:14] #452 closed

[2019-02-18 15:17] TimvdLippe opened #772 "Allow same version publication"
I wanted to release a new version of Mockito. `release/2.x` at that point was at 2.24.4, with the next-version-to-be 2.24.5. To be able to release, I edited `version.properties` to set the current release version to `2.24.4`. Then I made a commit with the message `[ci maven-central-release] Release 2.24.4`.

However, this then failed with https://travis-ci.org/mockito/mockito/jobs/494939469#L1658-

[2019-02-18 18:08] mstachniuk commented on #772
You shouldn't downgrade version property in `version.properties`. If I understand correctly you released `2.24.4` only to the JCenter and would synchronize it with Maven Central? If yes, then you should be able to promote to Maven Central by click somewhere in Bintray.
P.S. `[ci maven-central-release]` is a custom Mockito only feature: https://github.com/mockito/mockito/blob/4f72147c464c1a8a642d01

[2019-02-20 00:46] mstachniuk commented on #772
I thought a little bit more about this case. Skipping check if the tag exists is not enough. In Bintray configuration the `override` flag needs to be set to `true`:
[code]
Src: https://github.com/bintray/gradle-bintray-plugin#Maven_Central_Sync

But re-publishing artifact in Maven Central will not work:
https://central.sonatype.org/articles/2014/Feb/06/can-i-change-a-component-on-central/

The sug

[2019-02-20 01:43] mstachniuk opened #774 "Fix Badge generation for Gradle Plugin Portal in Release Notes"
The badge where Shipkit is published is wrong generated:
https://github.com/mockito/shipkit/blob/master/docs/release-notes.md

<img width="1014" alt="zrzut ekranu 2019-02-20 o 02 39 02" src="https://user-images.githubusercontent.com/773578/53059869-bc57ac80-34b8-11e9-989f-fdf55b2da491.png">

The generated badge (after adding `releaseNotes.publicationPluginName = "org.shipkit.java.gradle.plugin"` i

[2019-02-20 11:45] TimvdLippe commented on #772
That's a bummer, but understandable. Thanks for the explanation!

[2019-02-20 11:46] TimvdLippe commented on #75
This was implemented in #766

[2019-02-20 11:46] #75 closed

[2019-02-20 19:47] #772 closed

[2019-02-20 21:14] mstachniuk opened #775 "Fix updateReleaseNotesOnGitHub task"
After release Shipkit 2.1.0 and use it in https://github.com/mockito/shipkit-example the task updateReleaseNotesOnGitHub doesn't work:

[code]

GET https://api.github.com/repos/mockito/shipkit-example/releases/tags/v0.16.18 returns

[code]

It means that releases are not automatically created when tag is created. Release needs to be created by API.

[2019-02-23 22:15] #775 closed

[2019-02-23 22:17] mstachniuk commented on #775
Fixed in 2.1.3

[2019-02-28 01:34] mockitoguy opened #781 "Releases are making tags unexpectedly?"
I haven't dug deeper so it may be a red herring. Mockito build did not complete the release because the tag already existed: https://github.com/mockito/mockito/issues/1637

[2019-02-28 04:47] epeee commented on #781
It looks like a tag is already created by creating the release on github via rest, isn't it?

see

https://github.com/mockito/shipkit/blob/93f8d485a2ace57c1ad6afcfe87cbaa9104a802d/subprojects/shipkit/src/main/groovy/org/shipkit/internal/gradle/notes/tasks/UpdateReleaseNotesOnGitHub.java#L56-L77

and

https://developer.github.com/v3/repos/releases/#create-a-release

we have two options:

- do not c

[2019-02-28 08:04] mstachniuk commented on #781
The git tag was always created BEFORE upload to Bintray, because it's easier to undo git tag instead of release in Bintray / Maven Central.
And yes - upload release notes on GitHub needs to be done after creating and push the tag.
In shipkit-example it works: https://travis-ci.org/mockito/shipkit-example/jobs/497595910#L831
but the order of task execution is different.
So the task `updateReleaseNo

[2019-02-28 18:11] epeee commented on #781
:+1: yep, let's fix the task execution order.

[2019-03-01 05:12] #781 closed

[2019-03-04 19:58] mstachniuk commented on #233
It's in progress...

[2019-03-05 04:34] #774 closed

[2019-03-05 17:59] mockitoguy opened #791 "Bintray settings are not applied from shipkit.gradle"
Standard way of configuring Bintray does not work in some projects. It seems like a bug in Gradle.

Typical content in "gradle/shipkit.gradle":
[code]

Problem is that bintray settings are not applied in some projects. For example, I needed this workaround: https://github.com/linkedin/dynamometer/pull/86

Given that we withId("...") cannot be trusted, perhaps we update the configuration along with

[2019-03-05 20:14] epeee commented on #791
Hmm, that's interesting.
I will try do dig into this one in the next days.

[2019-03-05 22:10] mstachniuk commented on #791
I might be connected with Removal of deferred configuration behavior: https://docs.gradle.org/current/userguide/publishing_maven.html#publishing_maven:deferred_configuration

I see the changes between Gradle 4.5 & 4.10.2 in last days: https://github.com/linkedin/dynamometer/commit/8f7efacc664f90001516a10a038c76dc630be152#diff-fd9d61e37d939c941e7a62077f38d62d

But I don't know how it's connected wi

[2019-03-08 14:42] epeee opened #794 "Get rid of deprecated code"
Recently, we deprecated ```org.shipkit.gradle.configuration.ShipkitConfiguration.ReleaseNotes#getPublicationPluginName``` and
```org.shipkit.gradle.configuration.ShipkitConfiguration.ReleaseNotes#setPublicationPluginName``` and scheduled it for removal.
Let's remove the code mentioned once we'll release v3.0.0.

[2019-03-08 14:57] epeee commented on #794
We've also deprecated ```org.shipkit.internal.gradle.release.ReleaseNeededPlugin#ASSERT_RELEASE_NEEDED_TASK``` and ```org.shipkit.gradle.release.ReleaseNeededTask#setExplosive``` in v2.0.23 of shipkit. Therefore we can also remove it in v3.0.0.

[2019-03-12 03:32] mockitoguy commented on #154
Let’s move on. There is no urgency to release under org.shipkit to Maven Central.

[2019-03-12 03:32] #154 closed

[2019-03-16 04:26] #233 closed

[2019-03-16 21:17] rkotkiewicz opened #797 "Output in the absence of git"
If the PATH variable does not contain git, then after running the command **./gradlew initShipkit** you get:
[code]

I think that the message should contain information about the lack of git.

[2019-03-17 23:24] mstachniuk opened #798 "Add the message at the end of the release points to new javadoc"
When plugin "org.shipkit.javadoc" is applied then the message at the end of the release should contain a link to the new released Javadoc.

Start point:
https://github.com/mockito/shipkit/blob/4b65fe696f2fae7be07e3db77bda91be2299c217/subprojects/shipkit/src/main/groovy/org/shipkit/internal/notes/format/DetailedFormatter.java#L79

[2019-03-17 23:33] mstachniuk opened #799 "Release notes contain link to new Javadoc"
When "org.shipkit.javadoc" plugin is applied, then release notes should contain a link (as a badge) to the published Javadoc.

By default, the link should point to the specified directory ("javadoc.repositoryDirectory") and branch "javadoc.repositoryBranch" (see ShipkitConfiguration.java for more configuration options).

There should be also a possibility to point to some class, e.g. for Mockito p

[2019-03-23 16:34] #797 closed

[2019-03-24 14:58] mstachniuk commented on #761
Example project, how to use Shipkit with Bitrise.io: https://github.com/mstachniuk/shipkit-bitrise-example

[2019-03-24 15:46] mstachniuk opened #806 "Javadoc plugin doesn't work with Mockito android"
More details: https://travis-ci.org/mockito/mockito/jobs/510608040

[2019-03-24 16:54] mstachniuk commented on #806
Moving `apply plugin: "org.shipkit.javadoc"` after `allprojects {}` solve the problem: https://travis-ci.org/mockito/mockito/builds/510621103

[2019-03-24 16:54] #806 closed

[2019-03-29 05:08] mockitoguy opened #809 "Cloning Javadoc repo is slow"
Cloning Javadoc repo is slow. Can we do shallow clone? @mstachniuk, thoughts?

[2019-03-30 05:49] mstachniuk commented on #809
@mockitoguy Define slow ;-)
I tried shallow clone during development but I had problems with cloning one branch (`javadoc.repositoryBranch` in settings) and pushing changes afterward. I will check again what is possible.

[2019-04-02 15:59] eximius313 commented on #768
@epeee any news on this?

[2019-04-02 17:08] krzemin opened #813 "Github release notes encoding"
During Shipkit workshops with @mstachniuk we discovered that there is wrong encoding in github release notes published by shipkit: https://github.com/krzemin/shipkit-workshop-15/releases/tag/v1.0.1, while `docs/release-notes.md` file encoding is fine https://github.com/krzemin/shipkit-workshop-15/blob/master/docs/release-notes.md

Is it shipkit to blame?

[2019-04-05 12:46] koyemanaung commented on #813
supporting

[2019-04-05 12:47] koyemanaung commented on #809
support

[2019-04-09 02:39] koyemanaung opened #824 "fix and protect"
my account safety for support in feature fix and protect.

[2019-04-10 07:46] #813 closed

[2019-04-10 10:27] DrAryone commented on #813
supporting up my account protect fix feature.

[2019-05-27 07:05] szpak opened #828 "Sync to Maven Central doesn't seem to be atomic"
It happened in Mockito to sync only some of the artifacts to Maven Central - https://github.com/mockito/mockito/issues/1721. I would expect to have the sync between Bintray and Maven Central atomic (i.e. using one staging repository with all the artifacts). I'm not sure how Shipkit handle that and if it is something what could be enhance here and Shipkit sends it as one set of artifacts and that c

[2019-06-06 11:25] TimvdLippe opened #830 "Github release failed because of POST request"
https://travis-ci.org/mockito/mockito/jobs/542208671#L2027

[code]

I am not sure what the exact cause is, as the stacktrace does not mention the actual root cause exception.

[2019-06-17 06:41] NielsDoucet opened #831 "javadoc and java plugins are applied in the wrong order"
If you use the suggested way to configure the shipkit java and javadoc plugins, they get applied in the wrong order.
[code]

[code]

To fix this, you have to manually correct the ordering by setting `apply: false` and then make sure to apply them in the 'correct' order.

Is there a way for these plugins to interact more cleanly?

[2019-07-11 16:08] mstachniuk commented on #768
@epeee Any news about documentation how to use Shipkit with maven-publish?

[2019-07-18 21:06] lpellegr opened #833 "Disabling Release Notes Generation"
Is there a way to disable release notes generation with the Gradle plugin? we are already managing a changelog manually following the [Keep a Changelog](https://keepachangelog.com/en/1.0.0/) format.

[2019-07-19 11:53] mstachniuk commented on #833
Sure, it is. Please add in your build.gradle file:
[code]

This is a standard Gradle mechanism for disabling tasks.

Thanks a lot for a link to [Keep a Changelog](https://keepachangelog.com/en/1.0.0/). Do you generate your release notes automatically? What do you use for that?

[2019-07-19 20:32] lpellegr commented on #833
Thanks for your answer.

Currently, the changelog is maintained quite manually.

I have added the provided configuration in my build.gradle. Unfortunately, upon releasing a failure happens because the `gitCommit` task tries to add docs/release-notes.md to the commit, whereas the file does not exists :X

[2019-07-19 20:40] lpellegr commented on #833
Creating an empty file and adding it to versioning fixes the issue but it implies to track it with git.

[2019-07-19 20:40] #833 closed

[2019-07-26 19:59] pzygielo opened #835 "Unicode in user name of commit"
I've noticed that there is some issue with unicode chars of user name.
example: https://github.com/mockito/mockito/releases/tag/v2.24.9, section _commits_:
is: PaweB PamuBa
should be: Paweł Pamuła

[2019-07-27 23:03] pzygielo commented on #835
When ran locally for mockito, it seems to work fine, even though mockito uses 2.1.6.
Perhaps some misconfiguration in mockito release job itself.

[2019-07-27 23:03] #835 closed

[2019-07-29 04:35] ziakhalid commented on #675
This is actually a memory issue, Generally, Docker container has a memory limit of 4G so you need to take care that your java heap doesn't cross that limit, there are few solutions to it I am taking reference of android

1. Add this to gradle.properties (change size according to your need)
    `org.gradle.jvmargs=-Xmx10248m -XX:MaxPermSize=256m`

2. Add this to your build.gradle

`android.testOpti

[2019-08-20 23:18] magneticflux- opened #842 "Instructions/compatibility with GitHub Actions"
Now that GitHub Actions is in beta and more people are getting access to it, it makes sense to broaden the compatible CI environments for ShipKit.

[2019-08-22 19:48] magx2 opened #843 "Release to GH and add generated files to release"
I'm interested in feature that allows to add files to GH releases, i.e. [this release](https://github.com/mockito/shipkit/releases/tag/v2.2.5) has attached source code (zip and tar), but if you, as a owner of this repo, can click `Edit` and attach some _generic_ files.

What is the use case? Right now I'm working on [Java GUI](https://github.com/SUPLA/experimental-restapi-supla-gui/releases) and a

[2019-08-22 21:35] magx2 commented on #843
API to do this https://developer.github.com/v3/repos/releases/#upload-a-release-asset

[2019-08-22 21:39] magx2 commented on #843
Gradle plugin that might be helpful https://github.com/BreadMoirai/github-release-gradle-plugin

[2019-08-23 07:33] mstachniuk commented on #843
@magx2 Maybe you can try to use github-release-gradle-plugin with shipkit?

[2019-08-23 07:59] magx2 commented on #843
Yeah I also  started thinking about it, but it would be nice to have this functionality in shipkit natively.

[2019-08-23 20:13] #768 closed

[2019-08-23 20:24] mstachniuk commented on #831
Could you provide more context or full example? At least Gradle and Java version, please?

[2019-08-23 22:03] mstachniuk commented on #843
I tryied github-release-gradle-plugin. The problem is that this plugin creates release description and uploads files in one task `githubRelease` so it will override changelog generated by Shipkit. So it will be nice to add a possibility to upload artefacts by Shipkit.

@magx2 do you like to create PR to Shipkit for that? I can help you.

[2019-08-28 14:19] magx2 commented on #843
Sorry but right now I'm fully involved in Supla project

[2019-10-02 16:52] wsargent opened #847 "POM exception when using shipkit with jar archiveClassifier"
If you add `archiveClassifier.set` to the `build.gradle` file:

[code]

then you get on `gradle build`:

[code]

Project replicating the issue here:

https://github.com/wsargent/shipkit-bootstrap

[2019-10-19 06:37] epeee opened #848 "deprecation warning: The baseName property has been deprecated"
while using gradle 6.0-rc-1, see

[code]

for details

[2019-12-05 02:23] magneticflux- commented on #847
I experienced this as well.
[code]
[code]
After clearing artifacts and adding just `jar` and `sources`, I get this new error:
[code]

[2019-12-06 05:40] cgtz commented on #395
Hi @mockitoguy, any updates to this issue? It affects our project every once in a while: https://travis-ci.org/linkedin/ambry/builds/621384294

Another issue is that, after this happens, the build does not delete the tag it created in previous steps, leading to all builds after this one failing until a developer manually intervenes and deletes the git tag: https://travis-ci.org/linkedin/ambry/buil

[2019-12-13 19:22] cgtz opened #851 "BintrayDefaultArtifactUrlResolver does not URL encode slashes in file_path"
There seem to have been some recent changes to the download URLs that bintray accepts. For example, https://bintray.com/linkedin/maven/download_file?file_path=com/github/ambry/ambry-router/0.3.70/ambry-router-0.3.70-sources.jar now gets a 404.

Now, the URL only resolves if the `file_path` query param is properly url encoded:  https://bintray.com/linkedin/maven/download_file?file_path=com%2Fgithub

[2019-12-13 19:24] cgtz commented on #851
Closing issue, sorry this might not have been the actual issue here

[2019-12-13 19:24] #851 closed

[2020-01-08 19:00] mockitoguy commented on #395
I'll work on this. Thank you guys for reporting!

[2020-01-09 21:57] nallar commented on #847
This also happens when using a subproject's task, for example:

[code]

[2020-01-10 07:13] mockitoguy commented on #395
The problem is that concurrent release builds will try to write to the master branch.
Whoever finishes last will get "git push" failure.

Options:
 1. Disable parallel builds in CI settings.
 2. Stop writing to master branch during release builds.

Evaluation:
 1) We can disable parallel builds in Travis but it is done per whole repo. E.g. we cannot enable parallel PR builds and only serialize the

[2020-01-10 19:37] cgtz commented on #395
Hi @mockitoguy, thank you for looking into this.

For option 1., there may be still be some changes required within the shipkit plugin, since, if I'm correct, limiting the CI parallelism will not prevent new commits to the master branch, so the head may still change while performRelease is running.

For option 2., that may be nice to avoid producing extra commits, since for projects that generate

[2020-01-10 22:38] mockitoguy commented on #395
@cgtz, thank you for feedback!

[2020-01-11 15:15] mockitoguy commented on #395
I looked into that and I don't see any low hanging fruit worth implementing at this time. When 2 builds compete for the same resource (writable master) things are bound to get wrong. Long term we have a couple of options:
 - use Git's "--atomic" flag on pushes
 - Revert pushes when Bintray publication fails
 - Do Bintray dryRun upload before pushing to Git

However, at this time I'd like to focus

[2020-01-11 16:21] koral-- commented on #395
Another theoretical option:
Introduce some kind of lock (eg. push tag `release-<version>-lock`) for the time of release process.
If release is in progress then subsequent request can fail at the beginning or wait for finish (this would probably require polling).

[2020-01-13 00:23] #847 closed

[2020-01-13 01:23] mockitoguy commented on #395
Wow! Very creative idea :-) I think it is doable but I'm worried about the overall complexity of this solution. I suggest to push on the idea to avoid "release commits" on the master.

[2020-01-13 01:37] mockitoguy commented on #395
@mockito/shipkit-developers, any thoughts/feedback about the proposed solution?

[2020-01-20 13:11] nallar opened #857 "Adding an archive from a subproject's task causes a build failure"
[code]

Causes a failure:

[code]

Thought this was the same issue as #847 but it still happens with shipkit 2.2.7.

[2020-01-20 15:26] nallar commented on #857
The code here always configures a publication: https://github.com/mockito/shipkit/blob/56dd15e690e11aaecfacc0db6467968eeb2660a9/subprojects/shipkit/src/main/groovy/org/shipkit/internal/gradle/java/JavaPublishPlugin.java#L58

There doesn't seem to be anyway to avoid or customize this. You can change the publication afterwards, but that doesn't necessarily work (if you needed to avoid one of the lin

[2020-01-21 16:44] mockitoguy commented on #857
Sorry about the issue! Looking into it now.

[2020-01-21 16:58] mockitoguy commented on #857
Hey @nallar, can you provide repro case (a branch in you repo "MinimallyCorrect/Mixin" would be perfect)?

You're right, there is no way to avoid this opinionated configuration. The only option is to assemble the plugins yourself and choose plugins you want to use. E.g. don't apply high-level "org.shipkit.java", rather apply the individual shipkit plugins.

Due to those problems, Shipkit will be e

[2020-01-23 11:42] nallar commented on #857
Doesn't seem possible to avoid the JavaPublishPlugin being applied without also avoiding the JavaBintrayPlugin, so lose most of shipkit :(

The failing example should still be available at this commit: https://github.com/MinimallyCorrect/Mixin/commit/9cd3429527fdbcc634b494a4688ddaeb0e06f8bf

Maybe it's better to explain what we want to do at a high level, rather than the errors encountered.

We ne

[2020-01-23 11:50] nallar commented on #857
Urgh, it seems like to a large extent this is caused by problems with gradle's model, not shipkit?

If gradle had a standardised way of adding additional tasks which post process the main jar for the java component it'd solve this and similar trouble with every other plugin which makes similar assumptions that the jar task's output is the right thing to use? :c

[2020-01-25 04:45] mockitoguy commented on #857
Looking into it...

[2020-01-25 05:38] mockitoguy commented on #857
So... you want to leverage the most of shipkit but you want to publish a different artifact than the "jar" task?

Did you try this:

[code]

Api docs:
 - https://docs.gradle.org/current/dsl/org.gradle.api.publish.PublicationContainer.html
 - https://docs.gradle.org/current/javadoc/org/gradle/api/publish/maven/MavenPublication.html
 - https://docs.gradle.org/current/javadoc/org/gradle/api/publish/m

[2020-01-27 23:19] jverbus opened #858 "Support for building a project multiple times (multiple artifacts) and publishing as one version"
I’m using shipkit for a Scala/Spark open source project (https://github.com/linkedin/isolation-forest).

For every commit, I'd like to build this project multiple times with different dependencies (e.g. build with both Spark 2.3.0 and Spark 2.4.3) and create an artifact for each build. All of these artifacts would then be published under the same library version number.

The output on Bintray woul

[2020-01-29 02:53] mockitoguy commented on #858
Thank you for documenting this use case! We'll take a look at it.

@koral--, what do you think about this idea?

[2020-01-30 05:23] jverbus opened #859 "Default POM generated by Shipkit does not meet Maven Central requirements"
(I spent a few hours figuring this out and found a solution. I'm submitting and closing this ticket anyway to document it in case someone else runs into the same challenge.)

I publish artifacts for this open source project to Bintray using Shipkit: https://bintray.com/linkedin/maven/isolation-forest

I'd like to sync them with Maven Central using these instructions: https://www.jfrog.com/confluen

[2020-01-30 05:23] jverbus commented on #859
The following screenshot shows the error.

<img width="1857" alt="Screen Shot 2020-01-29 at 9 08 04 PM" src="https://user-images.githubusercontent.com/1706506/73422366-9ac48f00-42dd-11ea-8f26-02ebf8252e33.png">

[2020-01-30 05:27] jverbus commented on #859
I was able to solve with the changes to my shipkit.gradle file in the PR here: https://github.com/linkedin/isolation-forest/pull/9

[2020-01-30 05:27] #859 closed

[2020-01-30 12:50] koral-- commented on #858
I haven't deployed yet such artifacts. However, for me it look like a valid use case for maven POM classifier:
https://maven.apache.org/plugins/maven-deploy-plugin/examples/deploying-with-classifiers.html
http://maven.apache.org/pom.html#Dependencies
On linked docs there is an example with `jdk8` and `jdk11` classifiers so it seems that it also can be applied to versions of the Spark.

If this ass

[2020-01-31 15:46] mockitoguy commented on #858
@koral--,

I suspect that classifiers will not help here. @jverbus needs to run the build multiple times with different variant. To goal is to make something like that possible with Shipkit:

[code]

[2020-02-04 21:36] mstachniuk commented on #395
I like that release notes are kept in git history, even if they are also released to GitHub release page. Missing a possibility to disable parallel builds in Travis for release branches only is a huge gap for me. The workaround is using `[ci skip-release]` if you plan to merge more commits to the release branch in a short time and wait until builds are finished. But it doesn't scale well in bigger

[2020-02-07 21:58] mockitoguy commented on #858
@jverbus, we haven't had time yet to look into this. We'll try to make more progress sometime this month.

[2020-02-07 21:59] mockitoguy commented on #857
Hi @nallar, any progress? Cheers!

[2020-02-07 22:00] mockitoguy commented on #848
Thanks for reporting! @epeee, do you want to take a stab at it?

[2020-02-07 22:03] #673 closed

[2020-02-07 22:04] mockitoguy commented on #635
We did not write the article. That's ok, let's move on :-)

[2020-02-07 22:04] #635 closed

[2020-02-07 22:06] mockitoguy commented on #395
This plugin looks interesting. Can you write a bit more how you use it?

[2020-02-07 22:09] mockitoguy commented on #395
For https://github.com/linkedin/ambry project I wrote a new simple & opinionated plugin: https://github.com/shipkit/shipkit-auto-version We will roll it out in Ambry and see how it works out.

[2020-02-08 04:21] jverbus commented on #858
@mockitoguy, thanks for the update!

[2020-02-09 17:16] epeee commented on #848
@mockitoguy yep, I will have a look at it.

[2020-02-10 13:28] nallar commented on #857
@mockitoguy not yet, sorry. Have ended up working on some other things which don't even involve java or gradle. Will update when get to it.

[2020-02-10 18:29] nallar opened #864 "github access_token query parameter deprecated, breaks after 2020/07/01"
deprecation notice should be here but it's 404ing: https://developer.github.com/changes/2019-11-05-deprecated-passwords-and-authorizations-api/#authenticating-using-query-parameters

[2020-02-10 20:33] mockitoguy commented on #864
Thanks for reporting!

[2020-02-11 10:58] mstachniuk commented on #395
We are using this plugin to release artifacts to the internal Nexus repository. We set usually: `version = versioning.info.display` in build.gradle and then each merge to release branch (e.g. release/2.0) will release 2.0.0, 2.0.1, 2.0.2, etc. There is no need to commit any changes after release because the version is calculated base on branch name and git tags.
We do not release usually from mast

[2020-02-14 21:46] mockitoguy commented on #395
Thank you for the details!

[2020-02-15 00:03] magneticflux- commented on #864
Here's a newer post on the issue: https://developer.github.com/changes/2020-02-10-deprecating-auth-through-query-param/

[2020-02-20 11:39] AmarkumarJagtap opened #865 "-PskipComparePublications=true doesn't work with ./gradlew -PskipComparePublications=true"
Hello,

I am trying to run the above gradle command to skip the compare publication and should release the to bintray however it seems like it still compare with latest released version with this one.

[2020-02-25 17:08] nallar commented on #857
haven't made progress on code but have some thoughts on how to make this more configurable:

Make a way to tell shipkit which publication(s) to use, instead of creating its own?

This would also involve not using the bintray plugin. It's possible to publish to bintray as a normal maven deploy. Would that cause problems?

[2020-03-07 14:17] beatngu13 opened #867 "Question: GitHub release provider for Travis needed?"
Hi folks!

I'm a contributor to [JUnit Pioneer](https://github.com/junit-pioneer/junit-pioneer) (which uses Shipkit) and some time ago I've opened [this PR](https://github.com/junit-pioneer/junit-pioneer/pull/151) adding a GitHub release provider to the Travis config because releases haven't been marked properly(see [v0.3.2](https://github.com/junit-pioneer/junit-pioneer/releases/tag/v0.3.2)).

I'

[2020-03-14 00:57] jverbus commented on #858
@mockitoguy, @koral-- : Checking in to see if there are any updates on this feature request.

[2020-03-30 11:23] aepfli commented on #843
that looks like a fun task to at least try, and as we do have somewhat limitations of staying at home, i will try to do this. if somebody is faster than me, please go ahead

[2020-03-30 13:21] aepfli commented on #867
relates to #843

[2020-03-31 18:52] aepfli commented on #843
Okay i just share my thoughts here, before i start implementing something. just let me know, if i am on the right path or if i should rethink my approach:

1. the suggestion in here looks pretty straight forward
2. but i also thought about it, and it would be actually nice to use the outcome of the BinTrayUpload also for the release on github, but i am not sure how to tackle this

regarding 1.
i f

[2020-04-16 06:10] mockitoguy commented on #858
Hey @jverbus, we did not make tangible progress on this yet. I have a couple of ideas but did not have a chance yet.

[2020-04-17 20:36] jverbus commented on #858
Thanks for the update, @mockitoguy!

[2020-05-02 09:49] aepfli commented on #842
Just an fyi, we (https://github.com/junit-pioneer/junit-pioneer) migrated now from travis to github actions. it is working with some "hacks".

1. shipkit relies on the environment variable `TRAVIS_BRANCH` to work successfully, but this can be easily injected
2. `github.ref` which contains the branch contains it with `refs/head/` in the beginning, which cause troubles and needs to be split

our dep

[2020-05-17 19:48] magx2 opened #869 "Release normal jar and fat jar at the same time"
I could not find documentation how to release normal jar and fat jar at the same time. In my use case I would like to have one artifact as `com.github.magx2:some-library` and another with suffix `-fat`, `com.github.magx2:some-library-fat`.

[2020-05-18 21:09] mstachniuk commented on #869
After a quick check, my suggestion is to create a separate submodule in your project called `some-library-fat`, include as compile/implementation scope the `:some-library` and define a jar like this:

[code]

[2020-05-18 21:28] magx2 commented on #869
Marcin thanks for help. I will definitely try your solution.

On the other hand I'm wondering if I can publish multiple artifacts with ship. Take a look on my configuration:

build.gradle https://github.com/magx2/jSuplaApi/blob/master/build.gradle#L71
[code]

shipkit.gradle https://github.com/magx2/jSuplaApi/blob/master/gradle/shipkit.gradle#L16

[code]

Don't you think this should work?

[2020-05-19 06:45] mstachniuk commented on #869
It doesn't work :-( (I checked your build and publication history). But the trick with submodule work!
The reason for that might be that Shipkit internally defines `publications` (including -source & -javadoc artifacts, pom customization, etc.) what is / might be in conflict with your settings.
IMHO one module per publication is a cleaner solution.

[2020-05-19 15:11] magx2 commented on #869
IMHO opinion it would be nice that shipkit recognizes and uses different publications but it might be discussion for another time.

For those who has similar problem I paste my solution:

1. Create folder that has same as sub-module
2. Create `build.gradle` with content
[code]
3. Add new module to `settings.gradle`

You can find full change set here https://github.com/magx2/jSuplaApi/commit/8a6e0b

[2020-05-19 15:11] #869 closed

[2020-05-27 03:17] jverbus commented on #858
Hey, @mockitoguy!

I was recently thinking about this some more. Here is a bit more detail on my current process and an idea for a solution.

**Current process**

I'm now building and publishing three artifacts (with different Scala/Spark version dependencies) under the same project version. I expect the number of different builds under the same project version will continue to increase.

Here are

[2020-05-27 11:28] mstachniuk commented on #858
Hey, @jverbus

Could you look at https://github.com/mockito/shipkit/issues/869 please? Maybe it will help in your case?

[2020-05-28 00:42] jverbus commented on #858
Thanks, @mstachniuk!

It seems like that solution would require creating a separate sub-module in the project for each additional artifact variant. I could imagine having builds for multiple different combinations of Spark/Scala dependencies, so this doesn't scale too well.

I think I found an inelegant, but seemingly working, solution for my use case using multiple Travis build stages. I should b

[2020-06-03 16:54] Bukama commented on #848
Hey everyone,
any progress here?

[2020-06-13 06:54] mockitoguy opened #870 "Shipkit for Scala multi-variant project"
This ticket is prescribe a clean solution for a Scala multi-variant project such as https://github.com/linkedin/isolation-forest. Currently, this project uses Shipkit but the setup is complex (multiple Travis CI stages, disabling various Shipkit tasks - https://github.com/linkedin/isolation-forest/blob/master/.travis.yml#L21). More context: #858

isolation-forest requirements, must-haves:
 - autom

[2020-06-13 06:55] mockitoguy commented on #870
@jverbus, can you review this ticket and confirm the requirements? (I'll update the description).

[2020-06-13 06:55] mockitoguy commented on #858
The vision of for the "version.properties" is to avoid version bump commits - like the https://github.com/shipkit/shipkit-auto-version

@jverbus, I created #870 to track cleaning up isolation-forest

[2020-06-14 03:29] mockitoguy commented on #864
@shestee, can you take a look at this issue?

[2020-06-14 12:14] shestee commented on #864
@mockitoguy Sure, I'll check this out.

[2020-06-16 06:51] geoHeil commented on #869
I am also interested in this feature but do not want to create a separate submodule. Instead, I want to apply the shadow plugin https://github.com/johnrengelman/shadow

However, so far I did not manage to get the shadow stuff to publish.

[2020-06-16 07:50] geoHeil commented on #869
https://gist.github.com/s1monw1/9bb3d817f31e22462ebdd1a567d8e78a#file-bintray-build-gradle-kts-L66 is working in a non multi-project build using the kotlin-DSL:
[code]

However, I do not get this to compile in my own project. This fails for me with:

[code]

[2020-06-16 07:53] geoHeil commented on #858
https://github.com/mockito/shipkit/issues/869 I am interested in this feature as well, as I want to use the shadow plugin to additionally upload a fat jar besides the regular publications.

[2020-07-04 16:03] mockitoguy opened #875 "Build fails due to upgrade downstream failure on code coverage check"
Build fails due to upgrade downstream failure on code coverage check:

Travis CI link: https://travis-ci.org/github/mockito/shipkit/builds/704857764#L1931
Error:

{code}
[upgradeDownstream] [performVersionUpgrade] > Exception happen while trying to merge pull request. Merge aborted. Original issue: Pull request https://api.github.com/repos/mockito/shipkit/pulls/874 cannot be merged. 56.25% of diff

[2020-07-19 06:12] mockitoguy commented on #870
@jverbus, any thoughts? We could simplify isolation-forest automation by using those 2 plugins:
 - https://github.com/shipkit/shipkit-auto-version
 - https://github.com/shipkit/shipkit-changelog

[2020-07-20 13:46] vlsi opened #876 "GradlePortalReleasePlugin: Cannot add task 'validatePlugins' as a task with that name already exists"
Shipkit produces an error when modern Gradle is used since Gradle's `validatePlugins` task conflicts with shipkit's one.

https://github.com/mockito/shipkit/blob/d0dcd77ace3f0f59a8a2a9b30eeb7def8a87acfa/subprojects/shipkit/src/main/groovy/org/shipkit/internal/gradle/release/GradlePortalReleasePlugin.java#L54

https://github.com/mockito/shipkit/blob/98b9ff160ff73bf681b72baa6cad6ad99c8822ed/subproje

[2020-07-24 14:33] vlsi opened #878 "Include LICENSE to META-INF rather that to the root of the archives"
https://github.com/mockito/shipkit/blob/fe138d17b136271584c85f058d78d7b410e33a7c/subprojects/shipkit/src/main/groovy/org/shipkit/internal/gradle/java/JavaLibraryPlugin.java#L42

LICENSE file at the root of the jar results in collisions when fat jar is generated (e.g. in case multiple dependencies have LICENSE at the top level).

META-INF/LICENSE is more-or-less standard location for the license.

[2020-07-24 16:37] koral-- commented on #878
Sounds good to me. Could you create a PR for that?

[2020-07-24 17:42] vlsi commented on #878
Ah, I'm afraid I'm migrating off Shipkit as it does not support Gradle 6, and there are weird issues with licensing :-/

I have never used Shipkit (I've just forked a project that used Shipkit for release), and it takes me too much time to figure out the way to make it working :-(

Hope you all the best 🌞 , and I would tentatively refrain filing PRs to Shipkit so far.

[2020-07-24 18:24] jverbus commented on #870
Thanks for creating the new ticket!

Will this require a cross-build setup so that all variants are built simultaneously, or will it be possible to have multiple separate build jobs in the same Travis stage with different build parameters that all get released with the same version?

[2020-07-24 19:01] mockitoguy commented on #870
No. The new plugins are simple and (mostly) unopinionated. It should be fairly easy to set up your Travis CI automation based on *your* requirements, and have the plugins help you with versioning and release notes generation.

Go ahead and try it, and tell us how is it going.

[2020-07-26 23:44] magneticflux- commented on #864
@nallar Closed by #871 now?

[2020-07-26 23:45] #864 closed

[2020-07-27 03:35] nallar commented on #864
Thanks! ^_^

[2020-07-30 00:05] kxu1026 opened #879 "Will shipkit automatically tag and push to bintray after setup?"
Hi,

I am trying to use shipkit to setup our opensource project. I am just wondering if the shipkit will automatically tag and push to bintray after setup? I was working fine after I initial setup. However, after I change to a new bintray account, it sounds not working anymore. And, the Travis CI also didn't report any error.
Any tips?

thanks

kai.

[2020-07-30 00:15] koral-- commented on #879
What does `not working` mean? Without more info/logs is impossible to help you.

[2020-10-03 19:44] mockitoguy commented on #869
@geoHeil, I recommend using following plugins (instead of the current Shipkit plugin):

- https://github.com/shipkit/shipkit-auto-version
- https://github.com/shipkit/shipkit-changelog

The new plugins are small and allow you to fully control the publications. The new plugins reflect our future direction for Shipkit Gradle plugins (https://github.com/mockito/shipkit/blob/master/docs/design-specs/f

[2020-10-04 21:54] mstachniuk commented on #842
I created an example project for that issue: https://github.com/mstachniuk/shipkit-gh-actions-example

It's a little bit complicated but works better in case of setting `TRAVIS_BRANCH` for Pull Request build.
Using just `TRAVIS_BRANCH: ${{ steps.gitbranch.outputs.replaced }}` sets it to `refs/pull/7/merge` but Travis sets it to the real PR source branch.

Because of https://github.com/mockito/ship

[2020-10-22 02:56] mockitoguy commented on #395
I will close this issue because the desired behavior can be achieved with https://github.com/shipkit/shipkit-auto-version

[2020-10-22 02:56] #395 closed